In [1]:
import pandas as pd

In [2]:
masters = pd.read_csv("data-version2/raw/master-programs/master-programs.csv")

In [3]:
masters.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23367 entries, 0 to 23366
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   field            23367 non-null  object
 1   name             23367 non-null  object
 2   university       23367 non-null  object
 3   duration         17166 non-null  object
 4   url              2197 non-null   object
 5   language         23367 non-null  object
 6   city             23366 non-null  object
 7   country          23361 non-null  object
 8   mode             23367 non-null  object
 9   deadline         2975 non-null   object
 10  pace             23367 non-null  object
 11  tution_amount    13204 non-null  float64
 12  tution_currency  13154 non-null  object
dtypes: float64(1), object(12)
memory usage: 2.3+ MB

In [4]:
masters.head()

,field,name,university,duration,url,language,city,country,mode,deadline,pace,tution_amount,tution_currency
0,Administration-Studies,M.S. in Aviation Management And Logistics,Kent State University - College of Aeronautics...,2 years,NaN,"[""English""]",Kent,USA,"[""Online""]",NaN,"[""Full-time"",""Part-time""]",42025.0,USD
1,Administration-Studies,Master of Science in Operations Management,Manderson Graduate School of Business The Univ...,NaN,NaN,[],Tuscaloosa,USA,"[""Campus""]",NaN,"[""Full-time""]",NaN,NaN
2,Administration-Studies,MASTER'S DEGREE IN COLLECTIVE LABOR BARGAINING,University of Argentinian Social Studies,NaN,NaN,"[""Spanish (Argentina)""]",545,Argentina,"[""Campus""]",NaN,[],NaN,NaN
3,Administration-Studies,"MS Supply Chain, Logistics and Innovations",EM Normandie Business School,15 months,NaN,"[""French""]",Le Havre,France,"[""Campus""]",NaN,"[""Full-time""]",12500.0,EUR
4,Administration-Studies,Master of Logistics Management (without thesis),Izmir University of Economics,2 years,NaN,"[""English""]",Izmir,Turkey,"[""Campus""]",NaN,"[""Full-time""]",8500.0,USD

In [5]:
masters["city"].value_counts() ## we have 1991 cities in db

London         689
Madrid         624
Barcelona      616
Milan          278
Moscow         264
              ...
Ontario          1
Marburg          1
Sector 2         1
Pamukkale        1
Degania Bet      1
Name: city, Length: 1991, dtype: int64

In [6]:
masters["country"].value_counts() ## we have 111 countries in db

USA               5380
United Kingdom    2776
Spain             2112
France            1048
Italy              994
                  ...
Ghana                1
Sierra Leone         1
Gambia               1
Andorra              1
Macau                1
Name: country, Length: 111, dtype: int64

In [7]:
masters["university"].value_counts() ## we have 4364 cities in db

SOAS University of London                                 199
Universidad Complutense de Madrid                         171
University of Groningen                                   142
Lund University                                           133
University of Johannesburg                                127
                                                         ...
Saint Augustine's University School of General Studies      1
Olszty\u0144ska Szko\u0142a Wy\u017csza                     1
KU Leuven: Faculty of Theology and Religious Studies        1
Union University                                            1
University of Physical Education in Warsaw                  1
Name: university, Length: 4364, dtype: int64

In [8]:
masters["field"].value_counts() ## we have 34 fied of studies in db

Technology-Studies                   2268
Engineering-Studies                  1816
Management-Studies                   1807
Social-Sciences                      1791
Business-Studies                     1729
Economic-Studies                     1619
Humanities-Studies                   1234
Education                            1217
Natural-Sciences                     1100
Health-Care                          1000
Journalism-and-Mass-Communication     794
Administration-Studies                725
Life-Sciences                         686
Marketing-Studies                     663
Design-Studies                        560
Art-Studies                           540
Law-Studies                           535
Environmental-Studies                 494
Architecture-Studies                  452
Sustainability-Studies                427
Energy-Studies                        338
Performing-Arts                       276
Tourism-and-Hospitality               263
Sport                                 217
Fashion                               152
Languages                             152
Construction                          117
Professional-Studies                  113
Food-and-Beverage-Studies              82
General-Studies                        77
Aviation                               65
Self-Improvement                       34
Life-Skills                            17
Cosmetology-Studies                     7
Name: field, dtype: int64