In [1]:
import pandas as pd
from tqdm.notebook import tqdm

In [2]:
masters = pd.read_csv("../data-version2/raw/master-programs/master-programs.csv")

In [3]:
masters.head()

,field,name,university,duration,url,language,city,country,mode,deadline,pace,tution_amount,tution_currency
0,Administration-Studies,M.S. in Aviation Management And Logistics,Kent State University - College of Aeronautics...,2 years,NaN,"[""English""]",Kent,USA,"[""Online""]",NaN,"[""Full-time"",""Part-time""]",42025.0,USD
1,Administration-Studies,Master of Science in Operations Management,Manderson Graduate School of Business The Univ...,NaN,NaN,[],Tuscaloosa,USA,"[""Campus""]",NaN,"[""Full-time""]",NaN,NaN
2,Administration-Studies,MASTER'S DEGREE IN COLLECTIVE LABOR BARGAINING,University of Argentinian Social Studies,NaN,NaN,"[""Spanish (Argentina)""]",545,Argentina,"[""Campus""]",NaN,[],NaN,NaN
3,Administration-Studies,"MS Supply Chain, Logistics and Innovations",EM Normandie Business School,15 months,NaN,"[""French""]",Le Havre,France,"[""Campus""]",NaN,"[""Full-time""]",12500.0,EUR
4,Administration-Studies,Master of Logistics Management (without thesis),Izmir University of Economics,2 years,NaN,"[""English""]",Izmir,Turkey,"[""Campus""]",NaN,"[""Full-time""]",8500.0,USD

In [4]:
masters.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23367 entries, 0 to 23366
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   field            23367 non-null  object
 1   name             23367 non-null  object
 2   university       23367 non-null  object
 3   duration         17166 non-null  object
 4   url              2197 non-null   object
 5   language         23367 non-null  object
 6   city             23366 non-null  object
 7   country          23361 non-null  object
 8   mode             23367 non-null  object
 9   deadline         2975 non-null   object
 10  pace             23367 non-null  object
 11  tution_amount    13204 non-null  float64
 12  tution_currency  13154 non-null  object
dtypes: float64(1), object(12)
memory usage: 2.3+ MB

In [5]:
# masters program table will not contain university name, city and country because they will be in a separate table

column_names : dict = {
    
    "pace"  : "schedule",
    "field" : "field_of_study",
    
}

columns_to_drop = ["city", "country"]

masters_clean = masters.drop(columns_to_drop, axis=1)
masters_clean.rename(column_names, axis=1, inplace=True)

In [6]:
masters_clean.head()

,field_of_study,name,university,duration,url,language,mode,deadline,schedule,tution_amount,tution_currency
0,Administration-Studies,M.S. in Aviation Management And Logistics,Kent State University - College of Aeronautics...,2 years,NaN,"[""English""]","[""Online""]",NaN,"[""Full-time"",""Part-time""]",42025.0,USD
1,Administration-Studies,Master of Science in Operations Management,Manderson Graduate School of Business The Univ...,NaN,NaN,[],"[""Campus""]",NaN,"[""Full-time""]",NaN,NaN
2,Administration-Studies,MASTER'S DEGREE IN COLLECTIVE LABOR BARGAINING,University of Argentinian Social Studies,NaN,NaN,"[""Spanish (Argentina)""]","[""Campus""]",NaN,[],NaN,NaN
3,Administration-Studies,"MS Supply Chain, Logistics and Innovations",EM Normandie Business School,15 months,NaN,"[""French""]","[""Campus""]",NaN,"[""Full-time""]",12500.0,EUR
4,Administration-Studies,Master of Logistics Management (without thesis),Izmir University of Economics,2 years,NaN,"[""English""]","[""Campus""]",NaN,"[""Full-time""]",8500.0,USD

In [7]:

# convert NaN to NULL
masters_clean = masters_clean.fillna("NULL")

In [8]:

# for master programs table we need
# id, name, university_id, duration, language, mode, schedule, deadline, field_of_study, url, tution_amount, tution_currency

masters_clean.head()

,field_of_study,name,university,duration,url,language,mode,deadline,schedule,tution_amount,tution_currency
0,Administration-Studies,M.S. in Aviation Management And Logistics,Kent State University - College of Aeronautics...,2 years,NULL,"[""English""]","[""Online""]",NULL,"[""Full-time"",""Part-time""]",42025.0,USD
1,Administration-Studies,Master of Science in Operations Management,Manderson Graduate School of Business The Univ...,NULL,NULL,[],"[""Campus""]",NULL,"[""Full-time""]",NULL,NULL
2,Administration-Studies,MASTER'S DEGREE IN COLLECTIVE LABOR BARGAINING,University of Argentinian Social Studies,NULL,NULL,"[""Spanish (Argentina)""]","[""Campus""]",NULL,[],NULL,NULL
3,Administration-Studies,"MS Supply Chain, Logistics and Innovations",EM Normandie Business School,15 months,NULL,"[""French""]","[""Campus""]",NULL,"[""Full-time""]",12500.0,EUR
4,Administration-Studies,Master of Logistics Management (without thesis),Izmir University of Economics,2 years,NULL,"[""English""]","[""Campus""]",NULL,"[""Full-time""]",8500.0,USD


"""

To clean master program table:
    
    0. Clean field of studies
    1. Clean programs names
    2. Clean duration names
    3. Clean url
    4. Clean language, duplicate rows for multilanguage programs -> required for first norm of any database
    5. Duplicate multimode programs
    6. Clean dealine
    7. Duplicate multischedule programs
    8. Clean tution amount -> must be valid numbers
    9. Clean tution currency -> must be valid currency

"""

In [10]:
# field of study

fields = list(masters_clean["field_of_study"].value_counts().keys())
print(fields)

['Technology-Studies', 'Engineering-Studies', 'Management-Studies', 'Social-Sciences', 'Business-Studies', 'Economic-Studies', 'Humanities-Studies', 'Education', 'Natural-Sciences', 'Health-Care', 'Journalism-and-Mass-Communication', 'Administration-Studies', 'Life-Sciences', 'Marketing-Studies', 'Design-Studies', 'Art-Studies', 'Law-Studies', 'Environmental-Studies', 'Architecture-Studies', 'Sustainability-Studies', 'Energy-Studies', 'Performing-Arts', 'Tourism-and-Hospitality', 'Sport', 'Fashion', 'Languages', 'Construction', 'Professional-Studies', 'Food-and-Beverage-Studies', 'General-Studies', 'Aviation', 'Self-Improvement', 'Life-Skills', 'Cosmetology-Studies']

In [11]:

# we can remove -studies and '-' between words

fields_rename = {field : "".join(field.replace("-Studies", "").replace("Sciences", "").replace("and", "&").split("-")) for field in fields}

for key in fields_rename.keys():
    print(f"{key} => {fields_rename[key]}")

Technology-Studies => Technology
Engineering-Studies => Engineering
Management-Studies => Management
Social-Sciences => Social
Business-Studies => Business
Economic-Studies => Economic
Humanities-Studies => Humanities
Education => Education
Natural-Sciences => Natural
Health-Care => HealthCare
Journalism-and-Mass-Communication => Journalism&MassCommunication
Administration-Studies => Administration
Life-Sciences => Life
Marketing-Studies => Marketing
Design-Studies => Design
Art-Studies => Art
Law-Studies => Law
Environmental-Studies => Environmental
Architecture-Studies => Architecture
Sustainability-Studies => Sustainability
Energy-Studies => Energy
Performing-Arts => PerformingArts
Tourism-and-Hospitality => Tourism&Hospitality
Sport => Sport
Fashion => Fashion
Languages => Languages
Construction => Construction
Professional-Studies => Professional
Food-and-Beverage-Studies => Food&Beverage
General-Studies => General
Aviation => Aviation
Self-Improvement => SelfImprovement
Life-Skills => LifeSkills
Cosmetology-Studies => Cosmetology

In [12]:

masters_clean = masters_clean.replace(fields_rename)
masters_clean.head()

,field_of_study,name,university,duration,url,language,mode,deadline,schedule,tution_amount,tution_currency
0,Administration,M.S. in Aviation Management And Logistics,Kent State University - College of Aeronautics...,2 years,NULL,"[""English""]","[""Online""]",NULL,"[""Full-time"",""Part-time""]",42025.0,USD
1,Administration,Master of Science in Operations Management,Manderson Graduate School of Business The Univ...,NULL,NULL,[],"[""Campus""]",NULL,"[""Full-time""]",NULL,NULL
2,Administration,MASTER'S DEGREE IN COLLECTIVE LABOR BARGAINING,University of Argentinian Social Studies,NULL,NULL,"[""Spanish (Argentina)""]","[""Campus""]",NULL,[],NULL,NULL
3,Administration,"MS Supply Chain, Logistics and Innovations",EM Normandie Business School,15 months,NULL,"[""French""]","[""Campus""]",NULL,"[""Full-time""]",12500.0,EUR
4,Administration,Master of Logistics Management (without thesis),Izmir University of Economics,2 years,NULL,"[""English""]","[""Campus""]",NULL,"[""Full-time""]",8500.0,USD

In [13]:
import re

def clean_name(name: str) -> bool:
    """
    
    Simple check names. A valid name should only contain A-Z characters or space.
    
    """
    
    clean_name = re.sub('[^a-zA-Z ]', '', name)
    
    return " ".join(clean_name.split()).title()

In [14]:
# clean name of programs

masters_clean["name"]    = masters_clean["name"].apply(clean_name)
masters_clean.head()

,field_of_study,name,university,duration,url,language,mode,deadline,schedule,tution_amount,tution_currency
0,Administration,Ms In Aviation Management And Logistics,Kent State University - College of Aeronautics...,2 years,NULL,"[""English""]","[""Online""]",NULL,"[""Full-time"",""Part-time""]",42025.0,USD
1,Administration,Master Of Science In Operations Management,Manderson Graduate School of Business The Univ...,NULL,NULL,[],"[""Campus""]",NULL,"[""Full-time""]",NULL,NULL
2,Administration,Masters Degree In Collective Labor Bargaining,University of Argentinian Social Studies,NULL,NULL,"[""Spanish (Argentina)""]","[""Campus""]",NULL,[],NULL,NULL
3,Administration,Ms Supply Chain Logistics And Innovations,EM Normandie Business School,15 months,NULL,"[""French""]","[""Campus""]",NULL,"[""Full-time""]",12500.0,EUR
4,Administration,Master Of Logistics Management Without Thesis,Izmir University of Economics,2 years,NULL,"[""English""]","[""Campus""]",NULL,"[""Full-time""]",8500.0,USD

In [15]:

# clean duration types
masters_clean["duration"].value_counts()

NULL                        6201
2 years                     5435
1 year                      2622
1&nbsp;-&nbsp;2 years       1396
12 months                    774
                            ...
16&nbsp;-&nbsp;18 months       1
33 semesters                   1
1&nbsp;-&nbsp;12 years         1
24&nbsp;-&nbsp;42 years        1
136 hours                      1
Name: duration, Length: 374, dtype: int64

In [16]:

# need to remove &nbsp;
def clean_duration(duration: str) -> str:
    """
    
    Remove &nbsp; in duration.
    
    :param duration: duration of master program
    :return        : cleaned duration
    
    """
    
    if duration == "NULL":
        return duration
        
    return duration.replace("&nbsp;", "")

masters_clean["duration"] = masters_clean["duration"].apply(clean_duration)
masters_clean["duration"].value_counts()

NULL            6201
2 years         5435
1 year          2622
1-2 years       1396
12 months        774
                ...
16-18 months       1
33 semesters       1
1-12 years         1
24-42 years        1
136 hours          1
Name: duration, Length: 374, dtype: int64

In [17]:

# clean url
masters_clean["url"].value_counts()

NULL                                                                                                                                                                                                      21170
http://www.kuleuven.be/onlineopendays                                                                                                                                                                       104
https://www.unibo.it/en/university/covid-19-The-measures-adopted-by-the-University-of-Bologna/covid-misure-universita-di-bologna/?utm_source=Keystone&utm_campaign=Keystone&utm_medium=KeystoneListing       94
https://www.lincoln.ac.uk/home/studywithus/internationalstudents/entryrequirementsandyourcountry/                                                                                                            71
https://bit.ly/3CLUQyS                                                                                                                                                                                       45
                                                                                                                                                                                                          ...
https://www.westminster.ac.uk/business-intelligence-and-analytics-msc?utm_source=keystone&utm_medium=directory&utm_campaign=2020_profiles_ks_dy_b1_dcdi_comp_business_intelligence_analytics_msc              1
https://www.rug.nl/masters/classical-medieval-and-early-modern-studies-research/                                                                                                                              1
https://www.schellhammerbusinessschool.com/master-of-arts-in-humanities/                                                                                                                                      1
https://www.rug.nl/research/icog/research/research-centres/research-centre-for-historical-studies/?lang=en                                                                                                    1
https://barcelona.tbs-education.com/program/msc-tourism-hospitality-management/?utm_source=masterstudies&utm_medium=portal&utm_content=programme&utm_campaign=masterstudies_MScTHM_profile_20                 1
Name: url, Length: 1025, dtype: int64

In [18]:
# simple clean for url -> if url does not contain http set to NULL

from urllib.parse import urlparse

def is_url(url: str) -> bool:
    """
    
    Validate a url string.
    
    """
    try:
        result = urlparse(url)
    
        return all([result.scheme, result.netloc])
    
    except ValueError:
        return False

def clean_url(url: str) -> str:
    """
    
    Set url to NULL if url is not valid.
    
    :param url: program url
    :return   : valid url of NULL
    
    """
    
    if is_url(url):
        return url
    
    return "NULL"

masters_clean["url"] = masters_clean["url"].apply(clean_url)
masters_clean["url"].value_counts()

NULL                                                                                                                                                                                                      21226
http://www.kuleuven.be/onlineopendays                                                                                                                                                                       104
https://www.unibo.it/en/university/covid-19-The-measures-adopted-by-the-University-of-Bologna/covid-misure-universita-di-bologna/?utm_source=Keystone&utm_campaign=Keystone&utm_medium=KeystoneListing       94
https://www.lincoln.ac.uk/home/studywithus/internationalstudents/entryrequirementsandyourcountry/                                                                                                            71
https://bit.ly/3CLUQyS                                                                                                                                                                                       45
                                                                                                                                                                                                          ...
http://www.maestriaenlinguistica.uson.mx/                                                                                                                                                                     1
https://www.ucm.es/escritura-creativa/                                                                                                                                                                        1
https://www.westminster.ac.uk/creative-writing-writing-the-city-ma?utm_source=keystone&utm_medium=directory&utm_campaign=2020_profiles_ks_dy_b_las_hum_engl_creative_writing_writing_the_city_ma              1
https://www.devinci.fr/en/programmes/master-business-management/?utm_source=keystone&utm_medium=fiche&utm_campaign=masterbusi                                                                                 1
https://barcelona.tbs-education.com/program/msc-tourism-hospitality-management/?utm_source=masterstudies&utm_medium=portal&utm_content=programme&utm_campaign=masterstudies_MScTHM_profile_20                 1
Name: url, Length: 999, dtype: int64

In [19]:
masters_clean.head(50)

,field_of_study,name,university,duration,url,language,mode,deadline,schedule,tution_amount,tution_currency
0,Administration,Ms In Aviation Management And Logistics,Kent State University - College of Aeronautics...,2 years,NULL,"[""English""]","[""Online""]",NULL,"[""Full-time"",""Part-time""]",42025.0,USD
1,Administration,Master Of Science In Operations Management,Manderson Graduate School of Business The Univ...,NULL,NULL,[],"[""Campus""]",NULL,"[""Full-time""]",NULL,NULL
2,Administration,Masters Degree In Collective Labor Bargaining,University of Argentinian Social Studies,NULL,NULL,"[""Spanish (Argentina)""]","[""Campus""]",NULL,[],NULL,NULL
3,Administration,Ms Supply Chain Logistics And Innovations,EM Normandie Business School,15 months,NULL,"[""French""]","[""Campus""]",NULL,"[""Full-time""]",12500.0,EUR
4,Administration,Master Of Logistics Management Without Thesis,Izmir University of Economics,2 years,NULL,"[""English""]","[""Campus""]",NULL,"[""Full-time""]",8500.0,USD
5,Administration,Official Masters Degree In Human Resources Org...,IMF Smart Education,9-24 months,NULL,"[""Spanish""]","[""Online""]",NULL,"[""Part-time""]",7560.0,EUR
6,Administration,Master In International Human Resources Manage...,Ural Federal University,2 years,NULL,"[""English""]","[""Online & Campus Combined"",""Campus"",""Online""]","""24 Dec 2021""","[""Full-time""]",222900.0,RUB
7,Administration,Management Of Public Organizations And Services,"Universitatea \""Nicolae Titulescu\"" din Bucuresti",NULL,NULL,"[""Rumenian""]","[""Campus""]",NULL,[],NULL,NULL
8,Administration,Master Of Public Affairs,University of Wisconsin-Madison La Follette Sc...,NULL,NULL,"[""English""]","[""Campus""]",NULL,[],NULL,NULL
9,Administration,Master Of Science In Human Resources Management,Northeastern University Global Pathways,NULL,NULL,"[""English""]","[""Campus""]",NULL,[],NULL,NULL
10,Administration,Mpa In Public Management And Policy Studies,"University of Haifa, International School",1 year,NULL,"[""English""]","[""Campus""]",NULL,"[""Full-time""]",10690.0,USD
11,Administration,Master Of Science In Knowledge And Technology ...,The Hong Kong Polytechnic University Departmen...,18-30 months,NULL,"[""English""]","[""Campus"",""Online""]","""30 Apr 2022""","[""Full-time"",""Part-time""]",6200.0,HKD
12,Administration,Master In Direction And Management Of Human Ca...,Finis Terrae University,NULL,NULL,"[""Spanish (Chile)""]","[""Campus""]",NULL,[],NULL,NULL
13,Administration,Msc In Strategic Hrm,ALBA Graduate Business School,18 months,NULL,"[""English""]","[""Campus""]",NULL,"[""Full-time"",""Part-time""]",12500.0,EUR
14,Administration,Msc In Human Resource Management And Consulting,University of Bath School of Management,1 year,NULL,"[""English""]","[""Campus""]",NULL,"[""Full-time""]",13000.0,GBP
15,Administration,Msc In Human Resource Management,University of Groningen,1 year,NULL,"[""English""]","[""Campus""]","""01 May 2022""","[""Full-time""]",2168.0,EUR
16,Administration,Master Of Archives And Records Administration,San Jose State University - School of Information,1-7 years,NULL,"[""English""]","[""Online""]",NULL,[],19908.0,USD
17,Administration,Master Of Public Administration Online,South University,16 months,NULL,"[""English""]","[""Online""]",NULL,"[""Full-time""]",NULL,NULL
18,Administration,Master In Urban Governance,Erasmus University Rotterdam - Erasmus School ...,1 year,NULL,"[""English""]","[""Campus""]","""15 Jun 2022""","[""Full-time""]",NULL,NULL
19,Administration,Master Of Human Resource Management,London Graduate School of Management,18 months,NULL,[],"[""Campus""]",NULL,"[""Full-time""]",6000.0,GBP
20,Administration,Master In International Human Resources Projec...,IGR-IAE Rennes,1 year,NULL,"[""English""]","[""Campus""]",NULL,"[""Full-time""]",6990.0,EUR
21,Administration,Msc International Business With Human Resource...,"Ulster University, London & Birmingham Campuses",1 year,NULL,"[""English""]","[""Campus""]",NULL,"[""Full-time""]",5150.0,GBP
22,Administration,Master Vocational Teaching Jobs,Campus Universitario Europeo,6 months,NULL,[],"[""Online""]",NULL,"[""Full-time"",""Part-time""]",1995.0,EUR
23,Administration,Master Of Public Administration With A Concent...,University of Delaware Online,30 months,NULL,"[""English""]","[""Online""]",NULL,"[""Full-time""]",NULL,NULL
24,Administration,Master Of Science In Human Resource Management,Emmanuel College,NULL,NULL,"[""English""]","[""Campus""]",NULL,[],NULL,NULL
25,Administration,European Human Resource Management Master,Ecole Sup\u00e9rieure Ouverte \u00e0 Distance,2 years,NULL,"[""French""]","[""Online""]",NULL,"[""Full-time"",""Part-time""]",NULL,NULL
26,Administration,Master In Public Administration,Dorados University (Universidad Dorados),NULL,NULL,"[""Spanish (Mexican)""]","[""Campus""]",NULL,[],NULL,NULL
27,Administration,Mscpgdip International Human Resource Management,Abertay University,1-2 years,NULL,"[""English""]","[""Campus""]",NULL,"[""Full-time"",""Part-time""]",NULL,NULL
28,Administration,Masters Degree In Training Processes,Universidade Santiago de Compostela,1-2 years,NULL,"[""Spanish"",""Gallegan""]","[""Online & Campus Combined"",""Campus"",""Online""]",NULL,"[""Full-time"",""Part-time""]",854.0,EUR
29,Administration,Msc In Human Resource Management,GCU - Glasgow School for Business and Society,1-3 years,NULL,"[""English""]","[""Campus""]",NULL,"[""Full-time"",""Part-time""]",5500.0,GBP
30,Administration,Master Of Traffic And Transport,Pan-european University Apeiron (Panevropski U...,NULL,NULL,"[""Serbian""]","[""Campus""]",NULL,[],NULL,NULL
31,Administration,Master Of Education In Administration,Sierra Nevada College,NULL,NULL,"[""English""]","[""Campus""]",NULL,[],NULL,NULL
32,Administration,Master Of Science In Human Resource Management,Bridgewater College,NULL,NULL,[],"[""Campus""]",NULL,[],NULL,NULL
33,Administration,Msc In Managing People Knowledge And Change,Lund University,1 year,NULL,"[""English""]","[""Campus""]",NULL,"[""Full-time""]",NULL,NULL
34,Administration,Master Of Science In Human Resource Development,Rochester Institute of Technology (RIT),2 years,NULL,"[""English""]","[""Campus"",""Online""]",NULL,"[""Full-time""]",47522.0,USD
35,Administration,Master In Global Sourcing And Logistics,National University Costa Rica,NULL,NULL,"[""Spanish""]","[""Campus""]",NULL,[],NULL,NULL
36,Administration,Master Of Business Administration,The Pennsylvania State University Penn State G...,NULL,NULL,"[""English""]","[""Campus""]",NULL,[],NULL,NULL
37,Administration,Master In Project And Operations Management,Southern New Hampshire University,10 weeks,NULL,"[""Spanish""]","[""Online""]",NULL,"[""Full-time"",""Part-time""]",8130.0,USD
38,Administration,Master Of Public Administration,Reinhardt University,NULL,NULL,"[""English""]",[],NULL,[],NULL,NULL
39,Administration,Msc Project Management,GISMA ULaw,1 year,NULL,"[""English""]","[""Campus""]",NULL,"[""Full-time""]",17000.0,EUR
40,Administration,Master In Logistics,Rostov State University of Economics,2 years,NULL,[],"[""Campus""]",NULL,"[""Full-time"",""Part-time""]",NULL,NULL
41,Administration,European Master In Human Resources Management,ENACO,2-3 years,NULL,"[""French""]","[""Online""]",NULL,"[""Full-time"",""Part-time""]",3739.0,EUR
42,Administration,Msc Behavioral Psychology And Organizational P...,AIHE Academic Institute for Higher Education GmbH,1 year,NULL,"[""German""]","[""Online""]","""15 Dec 2021""","[""Full-time"",""Part-time""]",11850.0,EUR
43,Administration,Master Of Science In Criminal Justice Administ...,Columbia Southern University College of Safety...,NULL,NULL,"[""English""]","[""Online""]",NULL,[],NULL,NULL
44,Administration,Msc In Shipping Operations Management,Cyprus International Institute of Management,15 months,NULL,"[""English""]","[""Online""]",NULL,"[""Full-time""]",8000.0,EUR
45,Administration,Ma In Sport Management Administration,Campbellsville University Online,2 years,NULL,"[""English""]","[""Online""]",NULL,"[""Full-time"",""Part-time""]",NULL,NULL
46,Administration,Msc In Human Resource Management,Wroclaw University of Science and Technology,4 semesters,NULL,"[""English""]","[""Campus""]",NULL,"[""Full-time""]",2000.0,EUR
47,Administration,Master In Human Resources Management And Devel...,Porto Polytechnic Institute,NULL,NULL,"[""Portuguese (Portugal)""]","[""Campus""]",NULL,[],NULL,NULL
48,Administration,Msc In Human Resource Management,Dublin City University,1 year,NULL,"[""English""]","[""Campus""]",NULL,"[""Full-time""]",7955.0,EUR
49,Administration,Masters Degree In Criminal Justice Administration,St. Thomas Aquinas College,NULL,NULL,[],"[""Campus""]",NULL,[],NULL,NULL

In [20]:

# clean language
masters_clean["language"].value_counts()

["English"]                                16082
["Spanish"]                                 1673
[]                                          1107
["Russian"]                                  400
["Spanish (Mexican)"]                        377
                                           ...
["Spanish","English","French","German"]        1
["English","Arabic","Malay"]                   1
["English","French","Spanish"]                 1
["English","Russian","Bulgarian"]              1
["English","Georgian"]                         1
Name: language, Length: 195, dtype: int64

In [21]:

# language column has multi values and this is not appropriate for first norm in database
# we need to repeat rows which have multi values
# database without first-norm is a bad database!


def clean_language(dataframe: pd.DataFrame) -> pd.DataFrame:
    
    colums   = dataframe.columns
    new_rows = []
    
    for row in tqdm(dataframe.values):
        
        for language in list(row[4].strip('[]').split(",")):
            
            new_row = row.copy()
            new_row[4] = language.strip('""')
            new_rows.append(new_row)
            
    return pd.DataFrame(data=new_rows, columns=colums)

In [22]:
masters_clean_language_1N = clean_language(masters_clean)

  0%|          | 0/23367 [00:00<?, ?it/s]

In [23]:
masters_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23367 entries, 0 to 23366
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   field_of_study   23367 non-null  object
 1   name             23367 non-null  object
 2   university       23367 non-null  object
 3   duration         23367 non-null  object
 4   url              23367 non-null  object
 5   language         23367 non-null  object
 6   mode             23367 non-null  object
 7   deadline         23367 non-null  object
 8   schedule         23367 non-null  object
 9   tution_amount    23367 non-null  object
 10  tution_currency  23367 non-null  object
dtypes: object(11)
memory usage: 2.0+ MB

In [24]:
masters_clean_language_1N.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23371 entries, 0 to 23370
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   field_of_study   23371 non-null  object
 1   name             23371 non-null  object
 2   university       23371 non-null  object
 3   duration         23371 non-null  object
 4   url              23371 non-null  object
 5   language         23371 non-null  object
 6   mode             23371 non-null  object
 7   deadline         23371 non-null  object
 8   schedule         23371 non-null  object
 9   tution_amount    23371 non-null  object
 10  tution_currency  23371 non-null  object
dtypes: object(11)
memory usage: 2.0+ MB

In [25]:
masters_clean_language_1N.head(50)

,field_of_study,name,university,duration,url,language,mode,deadline,schedule,tution_amount,tution_currency
0,Administration,Ms In Aviation Management And Logistics,Kent State University - College of Aeronautics...,2 years,NULL,"[""English""]","[""Online""]",NULL,"[""Full-time"",""Part-time""]",42025.0,USD
1,Administration,Master Of Science In Operations Management,Manderson Graduate School of Business The Univ...,NULL,NULL,[],"[""Campus""]",NULL,"[""Full-time""]",NULL,NULL
2,Administration,Masters Degree In Collective Labor Bargaining,University of Argentinian Social Studies,NULL,NULL,"[""Spanish (Argentina)""]","[""Campus""]",NULL,[],NULL,NULL
3,Administration,Ms Supply Chain Logistics And Innovations,EM Normandie Business School,15 months,NULL,"[""French""]","[""Campus""]",NULL,"[""Full-time""]",12500.0,EUR
4,Administration,Master Of Logistics Management Without Thesis,Izmir University of Economics,2 years,NULL,"[""English""]","[""Campus""]",NULL,"[""Full-time""]",8500.0,USD
5,Administration,Official Masters Degree In Human Resources Org...,IMF Smart Education,9-24 months,NULL,"[""Spanish""]","[""Online""]",NULL,"[""Part-time""]",7560.0,EUR
6,Administration,Master In International Human Resources Manage...,Ural Federal University,2 years,NULL,"[""English""]","[""Online & Campus Combined"",""Campus"",""Online""]","""24 Dec 2021""","[""Full-time""]",222900.0,RUB
7,Administration,Management Of Public Organizations And Services,"Universitatea \""Nicolae Titulescu\"" din Bucuresti",NULL,NULL,"[""Rumenian""]","[""Campus""]",NULL,[],NULL,NULL
8,Administration,Master Of Public Affairs,University of Wisconsin-Madison La Follette Sc...,NULL,NULL,"[""English""]","[""Campus""]",NULL,[],NULL,NULL
9,Administration,Master Of Science In Human Resources Management,Northeastern University Global Pathways,NULL,NULL,"[""English""]","[""Campus""]",NULL,[],NULL,NULL
10,Administration,Mpa In Public Management And Policy Studies,"University of Haifa, International School",1 year,NULL,"[""English""]","[""Campus""]",NULL,"[""Full-time""]",10690.0,USD
11,Administration,Master Of Science In Knowledge And Technology ...,The Hong Kong Polytechnic University Departmen...,18-30 months,NULL,"[""English""]","[""Campus"",""Online""]","""30 Apr 2022""","[""Full-time"",""Part-time""]",6200.0,HKD
12,Administration,Master In Direction And Management Of Human Ca...,Finis Terrae University,NULL,NULL,"[""Spanish (Chile)""]","[""Campus""]",NULL,[],NULL,NULL
13,Administration,Msc In Strategic Hrm,ALBA Graduate Business School,18 months,NULL,"[""English""]","[""Campus""]",NULL,"[""Full-time"",""Part-time""]",12500.0,EUR
14,Administration,Msc In Human Resource Management And Consulting,University of Bath School of Management,1 year,NULL,"[""English""]","[""Campus""]",NULL,"[""Full-time""]",13000.0,GBP
15,Administration,Msc In Human Resource Management,University of Groningen,1 year,NULL,"[""English""]","[""Campus""]","""01 May 2022""","[""Full-time""]",2168.0,EUR
16,Administration,Master Of Archives And Records Administration,San Jose State University - School of Information,1-7 years,NULL,"[""English""]","[""Online""]",NULL,[],19908.0,USD
17,Administration,Master Of Public Administration Online,South University,16 months,NULL,"[""English""]","[""Online""]",NULL,"[""Full-time""]",NULL,NULL
18,Administration,Master In Urban Governance,Erasmus University Rotterdam - Erasmus School ...,1 year,NULL,"[""English""]","[""Campus""]","""15 Jun 2022""","[""Full-time""]",NULL,NULL
19,Administration,Master Of Human Resource Management,London Graduate School of Management,18 months,NULL,[],"[""Campus""]",NULL,"[""Full-time""]",6000.0,GBP
20,Administration,Master In International Human Resources Projec...,IGR-IAE Rennes,1 year,NULL,"[""English""]","[""Campus""]",NULL,"[""Full-time""]",6990.0,EUR
21,Administration,Msc International Business With Human Resource...,"Ulster University, London & Birmingham Campuses",1 year,NULL,"[""English""]","[""Campus""]",NULL,"[""Full-time""]",5150.0,GBP
22,Administration,Master Vocational Teaching Jobs,Campus Universitario Europeo,6 months,NULL,[],"[""Online""]",NULL,"[""Full-time"",""Part-time""]",1995.0,EUR
23,Administration,Master Of Public Administration With A Concent...,University of Delaware Online,30 months,NULL,"[""English""]","[""Online""]",NULL,"[""Full-time""]",NULL,NULL
24,Administration,Master Of Science In Human Resource Management,Emmanuel College,NULL,NULL,"[""English""]","[""Campus""]",NULL,[],NULL,NULL
25,Administration,European Human Resource Management Master,Ecole Sup\u00e9rieure Ouverte \u00e0 Distance,2 years,NULL,"[""French""]","[""Online""]",NULL,"[""Full-time"",""Part-time""]",NULL,NULL
26,Administration,Master In Public Administration,Dorados University (Universidad Dorados),NULL,NULL,"[""Spanish (Mexican)""]","[""Campus""]",NULL,[],NULL,NULL
27,Administration,Mscpgdip International Human Resource Management,Abertay University,1-2 years,NULL,"[""English""]","[""Campus""]",NULL,"[""Full-time"",""Part-time""]",NULL,NULL
28,Administration,Masters Degree In Training Processes,Universidade Santiago de Compostela,1-2 years,NULL,"[""Spanish"",""Gallegan""]","[""Online & Campus Combined"",""Campus"",""Online""]",NULL,"[""Full-time"",""Part-time""]",854.0,EUR
29,Administration,Msc In Human Resource Management,GCU - Glasgow School for Business and Society,1-3 years,NULL,"[""English""]","[""Campus""]",NULL,"[""Full-time"",""Part-time""]",5500.0,GBP
30,Administration,Master Of Traffic And Transport,Pan-european University Apeiron (Panevropski U...,NULL,NULL,"[""Serbian""]","[""Campus""]",NULL,[],NULL,NULL
31,Administration,Master Of Education In Administration,Sierra Nevada College,NULL,NULL,"[""English""]","[""Campus""]",NULL,[],NULL,NULL
32,Administration,Master Of Science In Human Resource Management,Bridgewater College,NULL,NULL,[],"[""Campus""]",NULL,[],NULL,NULL
33,Administration,Msc In Managing People Knowledge And Change,Lund University,1 year,NULL,"[""English""]","[""Campus""]",NULL,"[""Full-time""]",NULL,NULL
34,Administration,Master Of Science In Human Resource Development,Rochester Institute of Technology (RIT),2 years,NULL,"[""English""]","[""Campus"",""Online""]",NULL,"[""Full-time""]",47522.0,USD
35,Administration,Master In Global Sourcing And Logistics,National University Costa Rica,NULL,NULL,"[""Spanish""]","[""Campus""]",NULL,[],NULL,NULL
36,Administration,Master Of Business Administration,The Pennsylvania State University Penn State G...,NULL,NULL,"[""English""]","[""Campus""]",NULL,[],NULL,NULL
37,Administration,Master In Project And Operations Management,Southern New Hampshire University,10 weeks,NULL,"[""Spanish""]","[""Online""]",NULL,"[""Full-time"",""Part-time""]",8130.0,USD
38,Administration,Master Of Public Administration,Reinhardt University,NULL,NULL,"[""English""]",[],NULL,[],NULL,NULL
39,Administration,Msc Project Management,GISMA ULaw,1 year,NULL,"[""English""]","[""Campus""]",NULL,"[""Full-time""]",17000.0,EUR
40,Administration,Master In Logistics,Rostov State University of Economics,2 years,NULL,[],"[""Campus""]",NULL,"[""Full-time"",""Part-time""]",NULL,NULL
41,Administration,European Master In Human Resources Management,ENACO,2-3 years,NULL,"[""French""]","[""Online""]",NULL,"[""Full-time"",""Part-time""]",3739.0,EUR
42,Administration,Msc Behavioral Psychology And Organizational P...,AIHE Academic Institute for Higher Education GmbH,1 year,NULL,"[""German""]","[""Online""]","""15 Dec 2021""","[""Full-time"",""Part-time""]",11850.0,EUR
43,Administration,Master Of Science In Criminal Justice Administ...,Columbia Southern University College of Safety...,NULL,NULL,"[""English""]","[""Online""]",NULL,[],NULL,NULL
44,Administration,Msc In Shipping Operations Management,Cyprus International Institute of Management,15 months,NULL,"[""English""]","[""Online""]",NULL,"[""Full-time""]",8000.0,EUR
45,Administration,Ma In Sport Management Administration,Campbellsville University Online,2 years,NULL,"[""English""]","[""Online""]",NULL,"[""Full-time"",""Part-time""]",NULL,NULL
46,Administration,Msc In Human Resource Management,Wroclaw University of Science and Technology,4 semesters,NULL,"[""English""]","[""Campus""]",NULL,"[""Full-time""]",2000.0,EUR
47,Administration,Master In Human Resources Management And Devel...,Porto Polytechnic Institute,NULL,NULL,"[""Portuguese (Portugal)""]","[""Campus""]",NULL,[],NULL,NULL
48,Administration,Msc In Human Resource Management,Dublin City University,1 year,NULL,"[""English""]","[""Campus""]",NULL,"[""Full-time""]",7955.0,EUR
49,Administration,Masters Degree In Criminal Justice Administration,St. Thomas Aquinas College,NULL,NULL,[],"[""Campus""]",NULL,[],NULL,NULL

In [26]:
# we can fill empty language values with NULL

masters_clean_language_1N.replace("", "NULL", inplace=True)

In [27]:

# apply first norm on mode values too
masters_clean_language_1N["mode"].value_counts()

["Campus"]                                        17107
["Online"]                                         2920
[]                                                 1505
["Online & Campus Combined","Campus","Online"]     1121
["Campus","Online"]                                 718
Name: mode, dtype: int64

In [28]:

def clean_mode(dataframe: pd.DataFrame) -> pd.DataFrame:
    
    colums   = dataframe.columns
    new_rows = []
    
    for row in tqdm(dataframe.values):
        
        for mode in list(row[5].strip('[]').split(",")):
            
            new_row = row.copy()
            new_row[5] = mode.strip('""')
            new_rows.append(new_row)
            
    return pd.DataFrame(data=new_rows, columns=colums)

In [29]:
masters_clean_language_mode_1N = clean_mode(masters_clean_language_1N)

  0%|          | 0/23371 [00:00<?, ?it/s]

In [30]:
masters_clean_language_1N.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23371 entries, 0 to 23370
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   field_of_study   23371 non-null  object
 1   name             23371 non-null  object
 2   university       23371 non-null  object
 3   duration         23371 non-null  object
 4   url              23371 non-null  object
 5   language         23371 non-null  object
 6   mode             23371 non-null  object
 7   deadline         23371 non-null  object
 8   schedule         23371 non-null  object
 9   tution_amount    23371 non-null  object
 10  tution_currency  23371 non-null  object
dtypes: object(11)
memory usage: 2.0+ MB

In [31]:
masters_clean_language_mode_1N.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25118 entries, 0 to 25117
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   field_of_study   25118 non-null  object
 1   name             25118 non-null  object
 2   university       25118 non-null  object
 3   duration         25118 non-null  object
 4   url              25118 non-null  object
 5   language         25118 non-null  object
 6   mode             25118 non-null  object
 7   deadline         25118 non-null  object
 8   schedule         25118 non-null  object
 9   tution_amount    25118 non-null  object
 10  tution_currency  25118 non-null  object
dtypes: object(11)
memory usage: 2.1+ MB

In [32]:
masters_clean_language_mode_1N["mode"].value_counts()

["Campus"]                                        18211
["Online"]                                         3236
[]                                                 1697
["Online & Campus Combined","Campus","Online"]     1198
["Campus","Online"]                                 776
Name: mode, dtype: int64

In [33]:
# we can fill empty language values with NULL
masters_clean_language_mode_1N.replace("", "NULL", inplace=True)

In [34]:
masters_clean_language_mode_1N["mode"].value_counts()

["Campus"]                                        18211
["Online"]                                         3236
[]                                                 1697
["Online & Campus Combined","Campus","Online"]     1198
["Campus","Online"]                                 776
Name: mode, dtype: int64

In [35]:

# apply first norm on mode values too
masters_clean_language_mode_1N["deadline"].value_counts()

NULL             21815
"15 Feb 2022"      224
"17 Jan 2022"      223
"01 May 2022"      179
"30 Jun 2022"      178
                 ...
"22 Jan 2022"        1
"14 Dec 2021"        1
"04 Apr 2022"        1
"31 Mar 2023"        1
"16 Apr 2022"        1
Name: deadline, Length: 136, dtype: int64

In [36]:

month_to_num = {
    
    "Jan" : "01",
    "Feb" : "02",
    "Mar" : "03",
    "Apr" : "04",
    "May" : "05",
    "Jun" : "06",
    "Jul" : "07",
    "Aug" : "08",
    "Sep" : "09",
    "Oct" : "10",
    "Nov" : "11",
    "Dec" : "12",
    
}

# we can convert deadline date to dd:mm:yyyy for postgres database
def clean_deadline(deadline: str) -> str:
        
    if deadline == "NULL":
        return deadline
    
    splits = deadline.split()
        
    return f"{splits[0]}:{month_to_num[splits[1]]}:{splits[2]}"

In [37]:
masters_clean_language_mode_1N["deadline"] = masters_clean_language_mode_1N["deadline"].apply(clean_deadline)

In [38]:
masters_clean_language_mode_1N["deadline"].value_counts()

NULL            21815
"15:02:2022"      224
"17:01:2022"      223
"01:05:2022"      179
"30:06:2022"      178
                ...
"22:01:2022"        1
"14:12:2021"        1
"04:04:2022"        1
"31:03:2023"        1
"16:04:2022"        1
Name: deadline, Length: 136, dtype: int64

In [39]:
masters_clean_language_mode_1N.head()

,field_of_study,name,university,duration,url,language,mode,deadline,schedule,tution_amount,tution_currency
0,Administration,Ms In Aviation Management And Logistics,Kent State University - College of Aeronautics...,2 years,NULL,English,"[""Online""]",NULL,"[""Full-time"",""Part-time""]",42025.0,USD
1,Administration,Master Of Science In Operations Management,Manderson Graduate School of Business The Univ...,NULL,NULL,NULL,"[""Campus""]",NULL,"[""Full-time""]",NULL,NULL
2,Administration,Masters Degree In Collective Labor Bargaining,University of Argentinian Social Studies,NULL,NULL,Spanish (Argentina),"[""Campus""]",NULL,[],NULL,NULL
3,Administration,Ms Supply Chain Logistics And Innovations,EM Normandie Business School,15 months,NULL,French,"[""Campus""]",NULL,"[""Full-time""]",12500.0,EUR
4,Administration,Master Of Logistics Management Without Thesis,Izmir University of Economics,2 years,NULL,English,"[""Campus""]",NULL,"[""Full-time""]",8500.0,USD

In [40]:

masters_clean_language_mode_1N["schedule"].value_counts()

["Full-time"]                12411
[]                            5703
["Full-time","Part-time"]     5124
["Part-time"]                 1880
Name: schedule, dtype: int64

In [41]:

# repeat rows for schedule too

def clean_schedule(dataframe: pd.DataFrame) -> pd.DataFrame:
    
    colums   = dataframe.columns
    new_rows = []
    
    for row in tqdm(dataframe.values):
        
        for schedule in list(row[7].strip('[]').split(",")):
            
            new_row = row.copy()
            new_row[7] = schedule.strip('""')
            new_rows.append(new_row)
            
    return pd.DataFrame(data=new_rows, columns=colums)

In [42]:
masters_clean_language_mode_schedule_1N = clean_schedule(masters_clean_language_mode_1N)

  0%|          | 0/25118 [00:00<?, ?it/s]

In [43]:
masters_clean_language_mode_schedule_1N.head()

,field_of_study,name,university,duration,url,language,mode,deadline,schedule,tution_amount,tution_currency
0,Administration,Ms In Aviation Management And Logistics,Kent State University - College of Aeronautics...,2 years,NULL,English,"[""Online""]",NULL,"[""Full-time"",""Part-time""]",42025.0,USD
1,Administration,Master Of Science In Operations Management,Manderson Graduate School of Business The Univ...,NULL,NULL,NULL,"[""Campus""]",NULL,"[""Full-time""]",NULL,NULL
2,Administration,Masters Degree In Collective Labor Bargaining,University of Argentinian Social Studies,NULL,NULL,Spanish (Argentina),"[""Campus""]",NULL,[],NULL,NULL
3,Administration,Ms Supply Chain Logistics And Innovations,EM Normandie Business School,15 months,NULL,French,"[""Campus""]",NULL,"[""Full-time""]",12500.0,EUR
4,Administration,Master Of Logistics Management Without Thesis,Izmir University of Economics,2 years,NULL,English,"[""Campus""]",NULL,"[""Full-time""]",8500.0,USD

In [44]:
masters_clean_language_mode_schedule_1N.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25118 entries, 0 to 25117
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   field_of_study   25118 non-null  object
 1   name             25118 non-null  object
 2   university       25118 non-null  object
 3   duration         25118 non-null  object
 4   url              25118 non-null  object
 5   language         25118 non-null  object
 6   mode             25118 non-null  object
 7   deadline         25118 non-null  object
 8   schedule         25118 non-null  object
 9   tution_amount    25118 non-null  object
 10  tution_currency  25118 non-null  object
dtypes: object(11)
memory usage: 2.1+ MB

In [45]:
# we can fill empty language values with NULL
masters_clean_language_mode_schedule_1N.replace("", "NULL", inplace=True)

In [46]:

# cleaning process normally is done for the data 
# but we define enums in postgres database like below we need to make values same with enums

"""

enum Field {

  TECHNOLOGY
  ENGINEERING
  MANAGEMENT
  SOCIAL
  BUSINESS
  ECONOMIC
  HUMANITIES
  EDUCATION
  NATURAL
  HEALTHCARE
  JOURNALISM_AND_MASSCOMMUNICATION
  ADMINISTRATION
  LIFE
  MARKETING
  DESIGN
  ART
  LAW
  ENVIRONMENT
  ARCHITECTURE
  SUSTAINABILITY
  ENERGY
  PERFORMINGARTS
  TOURISM_AND_HOSTITALITY
  SPORT
  FASHION
  LANGUAGES
  CONSTRUCTION
  PROFESSIONAL
  FOOD_AND_BEVERAGE
  GENERAL
  AVIATION
  SELFIMPROVEMENT
  LIFESKILLS
  COSMETOLOGY

}

enum Schedule {
  FULLTIME
  PARTTIME
}

enum Mode {
  ONLINE
  CAMPUS
  ONLINE_AND_CAMPUS
}

"""

'\n\nenum Field {\n\n  TECHNOLOGY\n  ENGINEERING\n  MANAGEMENT\n  SOCIAL\n  BUSINESS\n  ECONOMIC\n  HUMANITIES\n  EDUCATION\n  NATURAL\n  HEALTHCARE\n  JOURNALISM_AND_MASSCOMMUNICATION\n  ADMINISTRATION\n  LIFE\n  MARKETING\n  DESIGN\n  ART\n  LAW\n  ENVIRONMENT\n  ARCHITECTURE\n  SUSTAINABILITY\n  ENERGY\n  PERFORMINGARTS\n  TOURISM_AND_HOSTITALITY\n  SPORT\n  FASHION\n  LANGUAGES\n  CONSTRUCTION\n  PROFESSIONAL\n  FOOD_AND_BEVERAGE\n  GENERAL\n  AVIATION\n  SELFIMPROVEMENT\n  LIFESKILLS\n  COSMETOLOGY\n\n}\n\nenum Schedule {\n  FULLTIME\n  PARTTIME\n}\n\nenum Mode {\n  ONLINE\n  CAMPUS\n  ONLINE_AND_CAMPUS\n}\n\n'

In [47]:
masters_clean_language_mode_schedule_1N["field_of_study"].value_counts()

Technology                      2388
Social                          1944
Management                      1932
Engineering                     1918
Business                        1872
Economic                        1723
Humanities                      1360
Education                       1280
Natural                         1196
HealthCare                      1057
Journalism&MassCommunication     839
Administration                   758
Life                             757
Marketing                        725
Design                           623
Art                              585
Law                              569
Environmental                    517
Architecture                     477
Sustainability                   472
Energy                           373
PerformingArts                   344
Tourism&Hospitality              272
Sport                            230
Languages                        177
Fashion                          172
Professional                     123
Construction                     122
Food&Beverage                     93
General                           80
Aviation                          72
SelfImprovement                   44
LifeSkills                        17
Cosmetology                        7
Name: field_of_study, dtype: int64

In [48]:

def field_to_enum(field: str) -> str:
    return field.replace("&", "_AND_").upper()

In [49]:
masters_clean_language_mode_schedule_1N["field_of_study"] = masters_clean_language_mode_schedule_1N["field_of_study"].apply(field_to_enum)

In [50]:
masters_clean_language_mode_schedule_1N["field_of_study"].value_counts()

TECHNOLOGY                          2388
SOCIAL                              1944
MANAGEMENT                          1932
ENGINEERING                         1918
BUSINESS                            1872
ECONOMIC                            1723
HUMANITIES                          1360
EDUCATION                           1280
NATURAL                             1196
HEALTHCARE                          1057
JOURNALISM_AND_MASSCOMMUNICATION     839
ADMINISTRATION                       758
LIFE                                 757
MARKETING                            725
DESIGN                               623
ART                                  585
LAW                                  569
ENVIRONMENTAL                        517
ARCHITECTURE                         477
SUSTAINABILITY                       472
ENERGY                               373
PERFORMINGARTS                       344
TOURISM_AND_HOSPITALITY              272
SPORT                                230
LANGUAGES                            177
FASHION                              172
PROFESSIONAL                         123
CONSTRUCTION                         122
FOOD_AND_BEVERAGE                     93
GENERAL                               80
AVIATION                              72
SELFIMPROVEMENT                       44
LIFESKILLS                            17
COSMETOLOGY                            7
Name: field_of_study, dtype: int64

In [51]:
masters_clean_language_mode_schedule_1N["mode"].value_counts()

["Campus"]                                        18211
["Online"]                                         3236
[]                                                 1697
["Online & Campus Combined","Campus","Online"]     1198
["Campus","Online"]                                 776
Name: mode, dtype: int64

In [52]:

def mode_to_enum(mode: str) -> str:
    return mode.replace(" & ", "_AND_").upper()

In [53]:
masters_clean_language_mode_schedule_1N["mode"] = masters_clean_language_mode_schedule_1N["mode"].apply(mode_to_enum)

In [54]:
masters_clean_language_mode_schedule_1N["mode"].value_counts()

["CAMPUS"]                                          18211
["ONLINE"]                                           3236
[]                                                   1697
["ONLINE_AND_CAMPUS COMBINED","CAMPUS","ONLINE"]     1198
["CAMPUS","ONLINE"]                                   776
Name: mode, dtype: int64

In [55]:
masters_clean_language_mode_schedule_1N["schedule"].value_counts()

["Full-time"]                12411
[]                            5703
["Full-time","Part-time"]     5124
["Part-time"]                 1880
Name: schedule, dtype: int64

In [56]:

def schedule_to_enum(schedule: str) -> str:
    return schedule.replace("-", "").upper()

In [57]:
masters_clean_language_mode_schedule_1N["schedule"] = masters_clean_language_mode_schedule_1N["schedule"].apply(schedule_to_enum)

In [58]:
masters_clean_language_mode_schedule_1N["schedule"].value_counts()

["FULLTIME"]               12411
[]                          5703
["FULLTIME","PARTTIME"]     5124
["PARTTIME"]                1880
Name: schedule, dtype: int64

In [59]:
masters_clean_language_mode_schedule_1N.head()

,field_of_study,name,university,duration,url,language,mode,deadline,schedule,tution_amount,tution_currency
0,ADMINISTRATION,Ms In Aviation Management And Logistics,Kent State University - College of Aeronautics...,2 years,NULL,English,"[""ONLINE""]",NULL,"[""FULLTIME"",""PARTTIME""]",42025.0,USD
1,ADMINISTRATION,Master Of Science In Operations Management,Manderson Graduate School of Business The Univ...,NULL,NULL,NULL,"[""CAMPUS""]",NULL,"[""FULLTIME""]",NULL,NULL
2,ADMINISTRATION,Masters Degree In Collective Labor Bargaining,University of Argentinian Social Studies,NULL,NULL,Spanish (Argentina),"[""CAMPUS""]",NULL,[],NULL,NULL
3,ADMINISTRATION,Ms Supply Chain Logistics And Innovations,EM Normandie Business School,15 months,NULL,French,"[""CAMPUS""]",NULL,"[""FULLTIME""]",12500.0,EUR
4,ADMINISTRATION,Master Of Logistics Management Without Thesis,Izmir University of Economics,2 years,NULL,English,"[""CAMPUS""]",NULL,"[""FULLTIME""]",8500.0,USD

In [60]:

cleaned_masters = masters_clean_language_mode_schedule_1N.copy()

# reset index delete old indices
cleaned_masters.reset_index(inplace=True)
cleaned_masters.drop(["index"], inplace=True, axis=1)

cleaned_masters.head()

# reset index and use as id
cleaned_masters.reset_index(inplace=True)
cleaned_masters = cleaned_masters.rename(columns={"index": "id"})

In [61]:
cleaned_masters.head()

,id,field_of_study,name,university,duration,url,language,mode,deadline,schedule,tution_amount,tution_currency
0,0,ADMINISTRATION,Ms In Aviation Management And Logistics,Kent State University - College of Aeronautics...,2 years,NULL,English,"[""ONLINE""]",NULL,"[""FULLTIME"",""PARTTIME""]",42025.0,USD
1,1,ADMINISTRATION,Master Of Science In Operations Management,Manderson Graduate School of Business The Univ...,NULL,NULL,NULL,"[""CAMPUS""]",NULL,"[""FULLTIME""]",NULL,NULL
2,2,ADMINISTRATION,Masters Degree In Collective Labor Bargaining,University of Argentinian Social Studies,NULL,NULL,Spanish (Argentina),"[""CAMPUS""]",NULL,[],NULL,NULL
3,3,ADMINISTRATION,Ms Supply Chain Logistics And Innovations,EM Normandie Business School,15 months,NULL,French,"[""CAMPUS""]",NULL,"[""FULLTIME""]",12500.0,EUR
4,4,ADMINISTRATION,Master Of Logistics Management Without Thesis,Izmir University of Economics,2 years,NULL,English,"[""CAMPUS""]",NULL,"[""FULLTIME""]",8500.0,USD

In [62]:
cleaned_masters.to_csv("./clean/master_programs_clean.csv", index=False)

In [3]:

# check saved data
masters = pd.read_csv("./clean/master_programs_clean.csv")
masters.head()

,id,field_of_study,name,university,duration,url,language,mode,deadline,schedule,tution_amount,tution_currency
0,0,ADMINISTRATION,Ms In Aviation Management And Logistics,Kent State University - College of Aeronautics...,2 years,NaN,English,"[""ONLINE""]",NaN,"[""FULLTIME"",""PARTTIME""]",42025.0,USD
1,1,ADMINISTRATION,Master Of Science In Operations Management,Manderson Graduate School of Business The Univ...,NaN,NaN,NaN,"[""CAMPUS""]",NaN,"[""FULLTIME""]",NaN,NaN
2,2,ADMINISTRATION,Masters Degree In Collective Labor Bargaining,University of Argentinian Social Studies,NaN,NaN,Spanish (Argentina),"[""CAMPUS""]",NaN,[],NaN,NaN
3,3,ADMINISTRATION,Ms Supply Chain Logistics And Innovations,EM Normandie Business School,15 months,NaN,French,"[""CAMPUS""]",NaN,"[""FULLTIME""]",12500.0,EUR
4,4,ADMINISTRATION,Master Of Logistics Management Without Thesis,Izmir University of Economics,2 years,NaN,English,"[""CAMPUS""]",NaN,"[""FULLTIME""]",8500.0,USD