In [1]:
import pandas as pd

In [2]:
masters = pd.read_csv("../data-version2/raw/master-programs/master-programs.csv")

In [3]:
masters.head()

,field,name,university,duration,url,language,city,country,mode,deadline,pace,tution_amount,tution_currency
0,Administration-Studies,M.S. in Aviation Management And Logistics,Kent State University - College of Aeronautics...,2 years,NaN,"[""English""]",Kent,USA,"[""Online""]",NaN,"[""Full-time"",""Part-time""]",42025.0,USD
1,Administration-Studies,Master of Science in Operations Management,Manderson Graduate School of Business The Univ...,NaN,NaN,[],Tuscaloosa,USA,"[""Campus""]",NaN,"[""Full-time""]",NaN,NaN
2,Administration-Studies,MASTER'S DEGREE IN COLLECTIVE LABOR BARGAINING,University of Argentinian Social Studies,NaN,NaN,"[""Spanish (Argentina)""]",545,Argentina,"[""Campus""]",NaN,[],NaN,NaN
3,Administration-Studies,"MS Supply Chain, Logistics and Innovations",EM Normandie Business School,15 months,NaN,"[""French""]",Le Havre,France,"[""Campus""]",NaN,"[""Full-time""]",12500.0,EUR
4,Administration-Studies,Master of Logistics Management (without thesis),Izmir University of Economics,2 years,NaN,"[""English""]",Izmir,Turkey,"[""Campus""]",NaN,"[""Full-time""]",8500.0,USD

In [4]:
masters.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23367 entries, 0 to 23366
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   field            23367 non-null  object
 1   name             23367 non-null  object
 2   university       23367 non-null  object
 3   duration         17166 non-null  object
 4   url              2197 non-null   object
 5   language         23367 non-null  object
 6   city             23366 non-null  object
 7   country          23361 non-null  object
 8   mode             23367 non-null  object
 9   deadline         2975 non-null   object
 10  pace             23367 non-null  object
 11  tution_amount    13204 non-null  float64
 12  tution_currency  13154 non-null  object
dtypes: float64(1), object(12)
memory usage: 2.3+ MB

In [5]:
# masters program table will not contain university name, city and country because they will be in a separate table

column_names : dict = {
    
    "pace"  : "schedule",
    "field" : "field_of_study",
    
}

columns_to_drop = ["university", "city", "country"]

masters_clean = masters.drop(columns_to_drop, axis=1)
masters_clean.rename(column_names, axis=1, inplace=True)

In [6]:
masters_clean.head()

,field_of_study,name,duration,url,language,mode,deadline,schedule,tution_amount,tution_currency
0,Administration-Studies,M.S. in Aviation Management And Logistics,2 years,NaN,"[""English""]","[""Online""]",NaN,"[""Full-time"",""Part-time""]",42025.0,USD
1,Administration-Studies,Master of Science in Operations Management,NaN,NaN,[],"[""Campus""]",NaN,"[""Full-time""]",NaN,NaN
2,Administration-Studies,MASTER'S DEGREE IN COLLECTIVE LABOR BARGAINING,NaN,NaN,"[""Spanish (Argentina)""]","[""Campus""]",NaN,[],NaN,NaN
3,Administration-Studies,"MS Supply Chain, Logistics and Innovations",15 months,NaN,"[""French""]","[""Campus""]",NaN,"[""Full-time""]",12500.0,EUR
4,Administration-Studies,Master of Logistics Management (without thesis),2 years,NaN,"[""English""]","[""Campus""]",NaN,"[""Full-time""]",8500.0,USD

In [7]:

# convert NaN to NULL
masters_clean = masters_clean.fillna("NULL")

In [8]:

# for master programs table we need
# id, name, university_id, duration, language, mode, schedule, deadline, field_of_study, url, tution_amount, tution_currency

masters_clean.head()

,field_of_study,name,duration,url,language,mode,deadline,schedule,tution_amount,tution_currency
0,Administration-Studies,M.S. in Aviation Management And Logistics,2 years,NULL,"[""English""]","[""Online""]",NULL,"[""Full-time"",""Part-time""]",42025.0,USD
1,Administration-Studies,Master of Science in Operations Management,NULL,NULL,[],"[""Campus""]",NULL,"[""Full-time""]",NULL,NULL
2,Administration-Studies,MASTER'S DEGREE IN COLLECTIVE LABOR BARGAINING,NULL,NULL,"[""Spanish (Argentina)""]","[""Campus""]",NULL,[],NULL,NULL
3,Administration-Studies,"MS Supply Chain, Logistics and Innovations",15 months,NULL,"[""French""]","[""Campus""]",NULL,"[""Full-time""]",12500.0,EUR
4,Administration-Studies,Master of Logistics Management (without thesis),2 years,NULL,"[""English""]","[""Campus""]",NULL,"[""Full-time""]",8500.0,USD

In [9]:

"""

To clean master program table:
    
    0. Clean field of studies
    1. Clean programs names
    2. Clean duration names
    3. Clean url
    4. Clean language, duplicate rows for multilanguage programs -> required for first norm of any database
    5. Duplicate multimode programs
    6. Clean dealine
    7. Duplicate multischedule programs
    8. Clean tution amount -> must be valid numbers
    9. Clean tution currency -> must be valid currency

"""

'\n\nTo clean master program table:\n    \n    0. Clean field of studies\n    1. Clean programs names\n    2. Clean duration names\n    3. Clean url\n    4. Clean language, duplicate rows for multilanguage programs -> required for first norm of any database\n    5. Duplicate multimode programs\n    6. Clean dealine\n    7. Duplicate multischedule programs\n    8. Clean tution amount -> must be valid numbers\n    9. Clean tution currency -> must be valid currency\n\n'

In [10]:
# field of study

fields = list(masters_clean["field_of_study"].value_counts().keys())
print(fields)

['Technology-Studies', 'Engineering-Studies', 'Management-Studies', 'Social-Sciences', 'Business-Studies', 'Economic-Studies', 'Humanities-Studies', 'Education', 'Natural-Sciences', 'Health-Care', 'Journalism-and-Mass-Communication', 'Administration-Studies', 'Life-Sciences', 'Marketing-Studies', 'Design-Studies', 'Art-Studies', 'Law-Studies', 'Environmental-Studies', 'Architecture-Studies', 'Sustainability-Studies', 'Energy-Studies', 'Performing-Arts', 'Tourism-and-Hospitality', 'Sport', 'Fashion', 'Languages', 'Construction', 'Professional-Studies', 'Food-and-Beverage-Studies', 'General-Studies', 'Aviation', 'Self-Improvement', 'Life-Skills', 'Cosmetology-Studies']

In [11]:

# we can remove -studies and '-' between words

fields_rename = {field : "".join(field.replace("-Studies", "").replace("Sciences", "").replace("and", "&").split("-")) for field in fields}

for key in fields_rename.keys():
    print(f"{key} => {fields_rename[key]}")

Technology-Studies => Technology
Engineering-Studies => Engineering
Management-Studies => Management
Social-Sciences => Social
Business-Studies => Business
Economic-Studies => Economic
Humanities-Studies => Humanities
Education => Education
Natural-Sciences => Natural
Health-Care => HealthCare
Journalism-and-Mass-Communication => Journalism&MassCommunication
Administration-Studies => Administration
Life-Sciences => Life
Marketing-Studies => Marketing
Design-Studies => Design
Art-Studies => Art
Law-Studies => Law
Environmental-Studies => Environmental
Architecture-Studies => Architecture
Sustainability-Studies => Sustainability
Energy-Studies => Energy
Performing-Arts => PerformingArts
Tourism-and-Hospitality => Tourism&Hospitality
Sport => Sport
Fashion => Fashion
Languages => Languages
Construction => Construction
Professional-Studies => Professional
Food-and-Beverage-Studies => Food&Beverage
General-Studies => General
Aviation => Aviation
Self-Improvement => SelfImprovement
Life-Skills => LifeSkills
Cosmetology-Studies => Cosmetology

In [12]:

masters_clean = masters_clean.replace(fields_rename)
masters_clean.head()

,field_of_study,name,duration,url,language,mode,deadline,schedule,tution_amount,tution_currency
0,Administration,M.S. in Aviation Management And Logistics,2 years,NULL,"[""English""]","[""Online""]",NULL,"[""Full-time"",""Part-time""]",42025.0,USD
1,Administration,Master of Science in Operations Management,NULL,NULL,[],"[""Campus""]",NULL,"[""Full-time""]",NULL,NULL
2,Administration,MASTER'S DEGREE IN COLLECTIVE LABOR BARGAINING,NULL,NULL,"[""Spanish (Argentina)""]","[""Campus""]",NULL,[],NULL,NULL
3,Administration,"MS Supply Chain, Logistics and Innovations",15 months,NULL,"[""French""]","[""Campus""]",NULL,"[""Full-time""]",12500.0,EUR
4,Administration,Master of Logistics Management (without thesis),2 years,NULL,"[""English""]","[""Campus""]",NULL,"[""Full-time""]",8500.0,USD

In [13]:
import re

def clean_name(name: str) -> bool:
    """
    
    Simple check names. A valid name should only contain A-Z characters or space.
    
    """
    
    clean_name = re.sub('[^a-zA-Z ]', '', name)
    
    return " ".join(clean_name.split()).title()

In [14]:
# clean name of programs

masters_clean["name"]    = masters_clean["name"].apply(clean_name)
masters_clean.head()

,field_of_study,name,duration,url,language,mode,deadline,schedule,tution_amount,tution_currency
0,Administration,Ms In Aviation Management And Logistics,2 years,NULL,"[""English""]","[""Online""]",NULL,"[""Full-time"",""Part-time""]",42025.0,USD
1,Administration,Master Of Science In Operations Management,NULL,NULL,[],"[""Campus""]",NULL,"[""Full-time""]",NULL,NULL
2,Administration,Masters Degree In Collective Labor Bargaining,NULL,NULL,"[""Spanish (Argentina)""]","[""Campus""]",NULL,[],NULL,NULL
3,Administration,Ms Supply Chain Logistics And Innovations,15 months,NULL,"[""French""]","[""Campus""]",NULL,"[""Full-time""]",12500.0,EUR
4,Administration,Master Of Logistics Management Without Thesis,2 years,NULL,"[""English""]","[""Campus""]",NULL,"[""Full-time""]",8500.0,USD

In [15]:

# clean duration types
masters_clean["duration"].value_counts()

NULL                        6201
2 years                     5435
1 year                      2622
1&nbsp;-&nbsp;2 years       1396
12 months                    774
                            ...
16&nbsp;-&nbsp;18 months       1
33 semesters                   1
1&nbsp;-&nbsp;12 years         1
24&nbsp;-&nbsp;42 years        1
136 hours                      1
Name: duration, Length: 374, dtype: int64

In [16]:

# need to remove &nbsp;
def clean_duration(duration: str) -> str:
    """
    
    Remove &nbsp; in duration.
    
    :param duration: duration of master program
    :return        : cleaned duration
    
    """
    
    if duration == "NULL":
        return duration
        
    return duration.replace("&nbsp;", "")

masters_clean["duration"] = masters_clean["duration"].apply(clean_duration)
masters_clean["duration"].value_counts()

NULL            6201
2 years         5435
1 year          2622
1-2 years       1396
12 months        774
                ...
16-18 months       1
33 semesters       1
1-12 years         1
24-42 years        1
136 hours          1
Name: duration, Length: 374, dtype: int64

In [17]:

# clean url
masters_clean["url"].value_counts()

NULL                                                                                                                                                                                                      21170
http://www.kuleuven.be/onlineopendays                                                                                                                                                                       104
https://www.unibo.it/en/university/covid-19-The-measures-adopted-by-the-University-of-Bologna/covid-misure-universita-di-bologna/?utm_source=Keystone&utm_campaign=Keystone&utm_medium=KeystoneListing       94
https://www.lincoln.ac.uk/home/studywithus/internationalstudents/entryrequirementsandyourcountry/                                                                                                            71
https://bit.ly/3CLUQyS                                                                                                                                                                                       45
                                                                                                                                                                                                          ...
https://www.westminster.ac.uk/business-intelligence-and-analytics-msc?utm_source=keystone&utm_medium=directory&utm_campaign=2020_profiles_ks_dy_b1_dcdi_comp_business_intelligence_analytics_msc              1
https://www.rug.nl/masters/classical-medieval-and-early-modern-studies-research/                                                                                                                              1
https://www.schellhammerbusinessschool.com/master-of-arts-in-humanities/                                                                                                                                      1
https://www.rug.nl/research/icog/research/research-centres/research-centre-for-historical-studies/?lang=en                                                                                                    1
https://barcelona.tbs-education.com/program/msc-tourism-hospitality-management/?utm_source=masterstudies&utm_medium=portal&utm_content=programme&utm_campaign=masterstudies_MScTHM_profile_20                 1
Name: url, Length: 1025, dtype: int64

In [18]:
# simple clean for url -> if url does not contain http set to NULL

from urllib.parse import urlparse

def is_url(url: str) -> bool:
    """
    
    Validate a url string.
    
    """
    try:
        result = urlparse(url)
    
        return all([result.scheme, result.netloc])
    
    except ValueError:
        return False

def clean_url(url: str) -> str:
    """
    
    Set url to NULL if url is not valid.
    
    :param url: program url
    :return   : valid url of NULL
    
    """
    
    if is_url(url):
        return url
    
    return "NULL"

masters_clean["url"] = masters_clean["url"].apply(clean_url)
masters_clean["url"].value_counts()

NULL                                                                                                                                                                                                      21226
http://www.kuleuven.be/onlineopendays                                                                                                                                                                       104
https://www.unibo.it/en/university/covid-19-The-measures-adopted-by-the-University-of-Bologna/covid-misure-universita-di-bologna/?utm_source=Keystone&utm_campaign=Keystone&utm_medium=KeystoneListing       94
https://www.lincoln.ac.uk/home/studywithus/internationalstudents/entryrequirementsandyourcountry/                                                                                                            71
https://bit.ly/3CLUQyS                                                                                                                                                                                       45
                                                                                                                                                                                                          ...
http://www.maestriaenlinguistica.uson.mx/                                                                                                                                                                     1
https://www.ucm.es/escritura-creativa/                                                                                                                                                                        1
https://www.westminster.ac.uk/creative-writing-writing-the-city-ma?utm_source=keystone&utm_medium=directory&utm_campaign=2020_profiles_ks_dy_b_las_hum_engl_creative_writing_writing_the_city_ma              1
https://www.devinci.fr/en/programmes/master-business-management/?utm_source=keystone&utm_medium=fiche&utm_campaign=masterbusi                                                                                 1
https://barcelona.tbs-education.com/program/msc-tourism-hospitality-management/?utm_source=masterstudies&utm_medium=portal&utm_content=programme&utm_campaign=masterstudies_MScTHM_profile_20                 1
Name: url, Length: 999, dtype: int64

In [19]:

# clean language
masters_clean["language"].value_counts()

["English"]                                16082
["Spanish"]                                 1673
[]                                          1107
["Russian"]                                  400
["Spanish (Mexican)"]                        377
                                           ...
["Spanish","English","French","German"]        1
["English","Arabic","Malay"]                   1
["English","French","Spanish"]                 1
["English","Russian","Bulgarian"]              1
["English","Georgian"]                         1
Name: language, Length: 195, dtype: int64

In [20]:
masters_clean.drop("language", axis=1).columns

Index(['field_of_study', 'name', 'duration', 'url', 'mode', 'deadline',
       'schedule', 'tution_amount', 'tution_currency'],
      dtype='object')

In [21]:
masters_clean.head()

,field_of_study,name,duration,url,language,mode,deadline,schedule,tution_amount,tution_currency
0,Administration,Ms In Aviation Management And Logistics,2 years,NULL,"[""English""]","[""Online""]",NULL,"[""Full-time"",""Part-time""]",42025.0,USD
1,Administration,Master Of Science In Operations Management,NULL,NULL,[],"[""Campus""]",NULL,"[""Full-time""]",NULL,NULL
2,Administration,Masters Degree In Collective Labor Bargaining,NULL,NULL,"[""Spanish (Argentina)""]","[""Campus""]",NULL,[],NULL,NULL
3,Administration,Ms Supply Chain Logistics And Innovations,15 months,NULL,"[""French""]","[""Campus""]",NULL,"[""Full-time""]",12500.0,EUR
4,Administration,Master Of Logistics Management Without Thesis,2 years,NULL,"[""English""]","[""Campus""]",NULL,"[""Full-time""]",8500.0,USD

In [ ]:
masters_clean.set_index()

In [25]:

# convert to list
masters_clean['language'] = masters_clean['language'].str.strip("[]").str.split(",")

print(masters_clean['language'])

# convert list of pd.Series then stack it
(masters_clean
     .set_index(masters_clean.drop("language", axis=1).columns)['language']
     .apply(pd.Series)
     .stack()
     .reset_index()
     .drop('level_4', axis=1)
     .rename(columns={0:'language'}))

AttributeError: Can only use .str accessor with string values!