In [1]:
import pandas as pd

In [2]:
masters = pd.read_csv("../data-version2/raw/master-programs/master-programs.csv")

In [3]:
masters.head()

,field,name,university,duration,url,language,city,country,mode,deadline,pace,tution_amount,tution_currency
0,Administration-Studies,M.S. in Aviation Management And Logistics,Kent State University - College of Aeronautics...,2 years,NaN,"[""English""]",Kent,USA,"[""Online""]",NaN,"[""Full-time"",""Part-time""]",42025.0,USD
1,Administration-Studies,Master of Science in Operations Management,Manderson Graduate School of Business The Univ...,NaN,NaN,[],Tuscaloosa,USA,"[""Campus""]",NaN,"[""Full-time""]",NaN,NaN
2,Administration-Studies,MASTER'S DEGREE IN COLLECTIVE LABOR BARGAINING,University of Argentinian Social Studies,NaN,NaN,"[""Spanish (Argentina)""]",545,Argentina,"[""Campus""]",NaN,[],NaN,NaN
3,Administration-Studies,"MS Supply Chain, Logistics and Innovations",EM Normandie Business School,15 months,NaN,"[""French""]",Le Havre,France,"[""Campus""]",NaN,"[""Full-time""]",12500.0,EUR
4,Administration-Studies,Master of Logistics Management (without thesis),Izmir University of Economics,2 years,NaN,"[""English""]",Izmir,Turkey,"[""Campus""]",NaN,"[""Full-time""]",8500.0,USD

In [4]:
masters.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23367 entries, 0 to 23366
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   field            23367 non-null  object
 1   name             23367 non-null  object
 2   university       23367 non-null  object
 3   duration         17166 non-null  object
 4   url              2197 non-null   object
 5   language         23367 non-null  object
 6   city             23366 non-null  object
 7   country          23361 non-null  object
 8   mode             23367 non-null  object
 9   deadline         2975 non-null   object
 10  pace             23367 non-null  object
 11  tution_amount    13204 non-null  float64
 12  tution_currency  13154 non-null  object
dtypes: float64(1), object(12)
memory usage: 2.3+ MB

In [5]:
universities = masters[["university", "city", "country"]]

In [6]:
universities.head()

                                          university        city    country
0  Kent State University - College of Aeronautics...        Kent        USA
1  Manderson Graduate School of Business The Univ...  Tuscaloosa        USA
2           University of Argentinian Social Studies         545  Argentina
3                       EM Normandie Business School    Le Havre     France
4                      Izmir University of Economics       Izmir     Turkey

In [7]:
universities.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23367 entries, 0 to 23366
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   university  23367 non-null  object
 1   city        23366 non-null  object
 2   country     23361 non-null  object
dtypes: object(3)
memory usage: 547.8+ KB

In [8]:
# we have duplicates in dataset need to remove them
university_clean = universities.drop_duplicates()

In [9]:
university_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4573 entries, 0 to 23359
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   university  4573 non-null   object
 1   city        4572 non-null   object
 2   country     4571 non-null   object
dtypes: object(3)
memory usage: 142.9+ KB

In [10]:
university_clean = university_clean.fillna("NULL")

In [11]:
university_clean.head()

                                          university        city    country
0  Kent State University - College of Aeronautics...        Kent        USA
1  Manderson Graduate School of Business The Univ...  Tuscaloosa        USA
2           University of Argentinian Social Studies         545  Argentina
3                       EM Normandie Business School    Le Havre     France
4                      Izmir University of Economics       Izmir     Turkey

In [12]:
# we need id, email, name, rank, city_id for each university 

# id for each university

university_clean.reset_index(drop=True, inplace=True)
university_clean.head()

                                          university        city    country
0  Kent State University - College of Aeronautics...        Kent        USA
1  Manderson Graduate School of Business The Univ...  Tuscaloosa        USA
2           University of Argentinian Social Studies         545  Argentina
3                       EM Normandie Business School    Le Havre     France
4                      Izmir University of Economics       Izmir     Turkey

In [13]:

university_clean.reset_index(inplace=True)
university_clean = university_clean.rename(columns={"index" : "id"})
university_clean.head()

,id,university,city,country
0,0,Kent State University - College of Aeronautics...,Kent,USA
1,1,Manderson Graduate School of Business The Univ...,Tuscaloosa,USA
2,2,University of Argentinian Social Studies,545,Argentina
3,3,EM Normandie Business School,Le Havre,France
4,4,Izmir University of Economics,Izmir,Turkey

In [14]:
# name for each university

university_clean = university_clean.rename(columns={"university" : "name"})
university_clean.head()

,id,name,city,country
0,0,Kent State University - College of Aeronautics...,Kent,USA
1,1,Manderson Graduate School of Business The Univ...,Tuscaloosa,USA
2,2,University of Argentinian Social Studies,545,Argentina
3,3,EM Normandie Business School,Le Havre,France
4,4,Izmir University of Economics,Izmir,Turkey

In [15]:
# some universities do not have valid name 
# remove universities with invalid names

import re

def clean_name(name: str) -> bool:
    """
    
    Simple check university names. A valid name should only contain A-Z characters or space.
    
    """
        
    clean_name = re.sub('[^a-zA-Z ]', '', name)
    
    return " ".join(clean_name.split()).title()

In [16]:
university_clean["name"]    = university_clean["name"].apply(clean_name)
university_clean["city"]    = university_clean["city"].apply(clean_name)
university_clean["country"] = university_clean["country"].apply(clean_name)

In [17]:
university_clean.head(20)

,id,name,city,country
0,0,Kent State University College Of Aeronautics A...,Kent,Usa
1,1,Manderson Graduate School Of Business The Univ...,Tuscaloosa,Usa
2,2,University Of Argentinian Social Studies,,Argentina
3,3,Em Normandie Business School,Le Havre,France
4,4,Izmir University Of Economics,Izmir,Turkey
5,5,Imf Smart Education,Madrid,Spain
6,6,Ural Federal University,Yekaterinburg,Russia
7,7,Universitatea Nicolae Titulescu Din Bucuresti,Bucharest,Romania
8,8,University Of Wisconsinmadison La Follette Sch...,Madison,Usa
9,9,Northeastern University Global Pathways,Boston,Usa
10,10,University Of Haifa International School,Haifa,Israel
11,11,The Hong Kong Polytechnic University Departmen...,Hong Kong,Hong Kong
12,12,Finis Terrae University,Providencia,Chile
13,13,Alba Graduate Business School,Athens,Greece
14,14,University Of Bath School Of Management,Bath,United Kingdom
15,15,University Of Groningen,Groningen,Netherlands
16,16,San Jose State University School Of Information,San Jose,Usa
17,17,South University,Savannah,Usa
18,18,Erasmus University Rotterdam Erasmus School Of...,Rotterdam,Netherlands
19,19,London Graduate School Of Management,London,United Kingdom

In [18]:
# unique email for each university
# this is not a valid email but kind of a username for each university

def create_email(name: str) -> str:
    """
    Generates unique email adress for each university from name.
        
    :param name: name of university
    :return    : unique email from name
    
    """
    
    name_split = name.split()
    
    # some universities have long name no need long emails just use at most three word
    name_split = name_split[:3]
    
    # lower case
    name_lower = [name.lower() for name in name_split]
    
    # unique university
    email = ".".join(name_lower)
    
    return f"{email}@findmymasters.com"

In [19]:
university_clean["email"] = university_clean["name"].apply(create_email)

In [20]:
university_clean.head(20)

,id,name,city,country,email
0,0,Kent State University College Of Aeronautics A...,Kent,Usa,kent.state.university@findmymasters.com
1,1,Manderson Graduate School Of Business The Univ...,Tuscaloosa,Usa,manderson.graduate.school@findmymasters.com
2,2,University Of Argentinian Social Studies,,Argentina,university.of.argentinian@findmymasters.com
3,3,Em Normandie Business School,Le Havre,France,em.normandie.business@findmymasters.com
4,4,Izmir University Of Economics,Izmir,Turkey,izmir.university.of@findmymasters.com
5,5,Imf Smart Education,Madrid,Spain,imf.smart.education@findmymasters.com
6,6,Ural Federal University,Yekaterinburg,Russia,ural.federal.university@findmymasters.com
7,7,Universitatea Nicolae Titulescu Din Bucuresti,Bucharest,Romania,universitatea.nicolae.titulescu@findmymasters.com
8,8,University Of Wisconsinmadison La Follette Sch...,Madison,Usa,university.of.wisconsinmadison@findmymasters.com
9,9,Northeastern University Global Pathways,Boston,Usa,northeastern.university.global@findmymasters.com
10,10,University Of Haifa International School,Haifa,Israel,university.of.haifa@findmymasters.com
11,11,The Hong Kong Polytechnic University Departmen...,Hong Kong,Hong Kong,the.hong.kong@findmymasters.com
12,12,Finis Terrae University,Providencia,Chile,finis.terrae.university@findmymasters.com
13,13,Alba Graduate Business School,Athens,Greece,alba.graduate.business@findmymasters.com
14,14,University Of Bath School Of Management,Bath,United Kingdom,university.of.bath@findmymasters.com
15,15,University Of Groningen,Groningen,Netherlands,university.of.groningen@findmymasters.com
16,16,San Jose State University School Of Information,San Jose,Usa,san.jose.state@findmymasters.com
17,17,South University,Savannah,Usa,south.university@findmymasters.com
18,18,Erasmus University Rotterdam Erasmus School Of...,Rotterdam,Netherlands,erasmus.university.rotterdam@findmymasters.com
19,19,London Graduate School Of Management,London,United Kingdom,london.graduate.school@findmymasters.com

In [21]:

# we need rank for each university

# for rank I found 2022 ranking scores for universities we are going to match from rankings file

rankings = pd.read_excel("./raw/universities/university-rankings.xlsx", header=3)
rankings.head()

,rank in country,rank in subregion,rank display,rank display2,institution,country code,country,size,focus,research,...,er rank,fsr score,fsr rank,cpf score,cpf rank,ifr score,ifr rank,isr score,isr rank,score scaled
0,1,1,1,1,Massachusetts Institute of Technology (MIT),US,United States,M,CO,VH,...,4,100.0,12,100.0,6,100.0,45,91.4,105,100
1,1,1,2,5,University of Oxford,UK,United Kingdom,L,FC,VH,...,3,100.0,5,96.0,34,99.5,83,98.5,52,99.5
2,2,2,3=,2,Stanford University,US,United States,L,FC,VH,...,5,100.0,9,99.9,10,99.8,73,67.0,208,98.7
3,2,2,3=,7,University of Cambridge,UK,United Kingdom,L,FC,VH,...,2,100.0,10,92.1,48,100.0,57,97.7,64,98.7
4,3,3,5,3,Harvard University,US,United States,L,FC,VH,...,1,99.1,37,100.0,3,84.2,188,70.1,196,98

In [22]:

# we need rank display and instution name

rankings = rankings[["rank display", "institution"]]
rankings.head(20)

   rank display                                        institution
0           1         Massachusetts Institute of Technology (MIT)
1           2                                 University of Oxford
2            3=                                Stanford University
3            3=                            University of Cambridge
4           5                                   Harvard University
5           6         California Institute of Technology (Caltech)
6           7                              Imperial College London
7            8=  ETH Zurich - Swiss Federal Institute of Techno...
8            8=                                                UCL
9          10                                University of Chicago
10         11               National University of Singapore (NUS)
11         12    Nanyang Technological University, Singapore (NTU)
12         13                           University of Pennsylvania
13          14=                                               EPFL
14          14=                                    Yale University
15         16                          The University of Edinburgh
16         17                                  Tsinghua University
17         18                                    Peking University
18         19                                  Columbia University
19         20                                 Princeton University

In [23]:

# convert rankings csv to dict 
# it will make easier to find ranking

rankings_dict = {}

for index in rankings.index:
    rankings_dict[rankings.loc[index, "institution"]] = rankings.loc[index, "rank display"].strip('=').strip()

for key in list(rankings_dict.keys())[:10]:
    print(f"{key} = {rankings_dict[key]}")

Massachusetts Institute of Technology (MIT)  = 1
University of Oxford = 2
Stanford University = 3
University of Cambridge = 3
Harvard University = 5
California Institute of Technology (Caltech) = 6
Imperial College London = 7
ETH Zurich - Swiss Federal Institute of Technology = 8
UCL = 8
University of Chicago = 10

In [24]:

# the common words like 'university', 'science', 'technology' can be problem for similarity check
# we can find most common words and remove them

from collections import Counter

words_in_name = []

for name in university_clean["name"].values:
    
    words_in_name.extend([word.lower() for word in name.split()])


counter = Counter(words_in_name)

print(counter.most_common(30))

[('university', 2948), ('of', 2460), ('college', 719), ('school', 710), ('and', 513), ('de', 389), ('business', 355), ('state', 317), ('sciences', 298), ('the', 287), ('institute', 249), ('universidad', 195), ('technology', 161), ('education', 157), ('arts', 157), ('international', 147), ('online', 132), ('management', 131), ('science', 114), ('engineering', 112), ('applied', 110), ('faculty', 99), ('for', 96), ('national', 95), ('graduate', 88), ('studies', 88), ('in', 81), ('economics', 76), ('design', 73), ('new', 69)]

In [25]:

# we can remove most common 28 words when we compare names

words_to_remove = []

for common in counter.most_common(30):
    words_to_remove.append(common[0])

print(words_to_remove)

['university', 'of', 'college', 'school', 'and', 'de', 'business', 'state', 'sciences', 'the', 'institute', 'universidad', 'technology', 'education', 'arts', 'international', 'online', 'management', 'science', 'engineering', 'applied', 'faculty', 'for', 'national', 'graduate', 'studies', 'in', 'economics', 'design', 'new']

In [26]:
import difflib


def remove_common_from_name(name: str) -> str:
    """
    
    Remove common words from name.
    
    :param name: name of university
    :return    : filtered name of university
    
    """
    
    filtered = []
    
    for word in name.split():
        
        if word.lower() in words_to_remove:
            continue
            
        filtered.append(word)
    
    return " ".join(filtered)


# taken from stackoverlow answer: https://stackoverflow.com/a/1471603/16634193
def is_similar(seq1, seq2):
    return difflib.SequenceMatcher(a=seq1.lower(), b=seq2.lower()).ratio() > 0.90

rankings_dict_copy = rankings_dict.copy()

def get_university_rank(row: str) -> str:
    """
    
    Get university rank from rankings table. 
    Because name may not match fully we will use similarity function
    
    :param name: row from university table
    :return    : rank of university if find
    
    
    """
    
    univesity_id = row["id"]
    name         = row["name"]
    
    if name == "NULL":
        return name
            
    for university in rankings_dict_copy.keys():
        
        filtered_university = remove_common_from_name(name=university)
        filtered_name       = remove_common_from_name(name=name)
                
        if is_similar(filtered_university, filtered_name):
            
            # keep rank
            rank = rankings_dict_copy[university]
        
            # if we found delete university to make it a little faster
            del rankings_dict_copy[university]
            
            print(f"[{univesity_id:05}/4573]{university}")
            print(f"            {name} => rank: {rank}\n")
        
            return rank
        
    return "NULL"

In [27]:
university_clean["rank"] = university_clean.apply(get_university_rank, axis=1)

[00010/4573]University of Haifa
            University Of Haifa International School => rank: 701-750

[00014/4573]University of Bath
            University Of Bath School Of Management => rank: 166

[00015/4573]University of Groningen
            University Of Groningen => rank: 128

[00023/4573]University of Delaware
            University Of Delaware Online => rank: 531-540

[00028/4573]Universidade de Santiago de Compostela
            Universidade Santiago De Compostela => rank: 701-750

[00033/4573]Lund University
            Lund University => rank: 87

[00034/4573]Rochester Institute of Technology (RIT)
            Rochester Institute Of Technology Rit => rank: 1001-1200

[00035/4573]Universidad de Costa Rica
            National University Costa Rica => rank: 531-540

[00046/4573]University of Wroclaw
            Wroclaw University Of Science And Technology => rank: 801-1000

[00048/4573]Dublin City University
            Dublin City University => rank: 490

[00055/4573]Swansea University
            Swansea University => rank: 440

[00058/4573]University of New Mexico
            New Mexico State University College Of Arts And Sciences => rank: 651-700

[00071/4573]University of Wollongong
            University Of Wollongong Faculty Of Business => rank: 193

[00072/4573]Sunway University
            Sunway University => rank: 651-700

[00077/4573]University of Stirling
            University Of Stirling => rank: 471

[00082/4573]The University of Texas at Arlington
            University Of Texas Arlington => rank: 1001-1200

[00087/4573]Arizona State University
            Arizona State University => rank: 216

[00093/4573]Central South University
            Central South University => rank: 521-530

[00107/4573]University of Antwerp
            Antwerp Management School => rank: 233

[00109/4573]Utrecht University
            Utrecht University => rank: 110

[00112/4573]Clemson University
            Clemson University College Of Education => rank: 801-1000

[00116/4573]Eindhoven University of Technology
            Eindhoven University Of Technology => rank: 125

[00123/4573]Technical University of Denmark
            Technical University Of Denmark => rank: 99

[00126/4573]University of Pardubice
            University Of Pardubice => rank: 1001-1200

[00128/4573]University of Westminster
            University Of Westminster => rank: 701-750

[00131/4573]Royal Holloway University of London
            Royal Holloway University Of London => rank: 334

[00132/4573]Brown University
            Brown University => rank: 60

[00138/4573]University of Birmingham
            University Of Birmingham Online => rank: 90

[00143/4573]Edith Cowan University
            Edith Cowan University => rank: 651-700

[00148/4573]KU Leuven
            Ku Leuven => rank: 70

[00150/4573]University of Portsmouth
            University Of Portsmouth Online => rank: 651-700

[00156/4573]The University of Sydney
            University Of Technology Sydney => rank: 38

[00158/4573]University of Johannesburg
            University Of Johannesburg => rank: 434

[00163/4573]University of Hull
            Hull University Business School => rank: 651-700

[00182/4573]Cardiff University
            Cardiff University => rank: 151

[00190/4573]University of Surrey
            University Of Surrey => rank: 272

[00208/4573]Leeds Beckett University
            Leeds Beckett University => rank: 1001-1200

[00209/4573]Singapore Management University
            Singapore Management University => rank: 511-520

[00223/4573]Leiden University
            Leiden University => rank: 112

[00233/4573]American University
            American University Online => rank: 651-700

[00236/4573]Sheffield Hallam University
            Sheffield Hallam University => rank: 1001-1200

[00243/4573]University of Plymouth
            University Of Plymouth => rank: 601-650

[00245/4573]The Hebrew University of Jerusalem
            The Hebrew University Of Jerusalem => rank: 198

[00253/4573]Politecnico di Milano
            Mip Politecnico Di Milano School Of Management => rank: 142

[00254/4573]Queen's University Belfast
            Queens University Belfast => rank: 216

[00261/4573]Athens University of Economics and Business
            Athens State University => rank: 1001-1200

[00263/4573]University of Sussex
            University Of Sussex Business School => rank: 226

[00266/4573]Warsaw University of Life Sciences  SGGW (WULS-SGGW)
            Warsaw University Of Life Sciences Sggw Wulssggw => rank: 1001-1200

[00269/4573]University of New Hampshire
            University Of New Hampshire => rank: 801-1000

[00286/4573]University of Granada
            Universidad De Granada => rank: 492

[00290/4573]Essex, University of
            University Of Essex Online => rank: 439

[00291/4573]University of San Francisco
            University Of San Francisco School Of Management => rank: 1001-1200

[00294/4573]Missouri University of Science and Technology
            Missouri State University => rank: 511-520

[00300/4573]University of Bradford
            University Of Bradford => rank: 701-750

[00301/4573]University College Cork
            University College Cork => rank: 298

[00304/4573]The New School
            National University College => rank: 561-570

[00305/4573]The University of Sheffield
            Sheffield University Management School => rank: 95

[00306/4573]University of Kentucky
            Kentucky State University => rank: 651-700

[00307/4573]University of Central Florida
            University Of Central Florida => rank: 751-800

[00315/4573]University of Cambridge
            Cambridge Graduate University => rank: 3

[00316/4573]Keele University
            Keele University => rank: 751-800

[00327/4573]Universidade da Corua
            Universidade Da Coruufa => rank: 801-1000

[00339/4573]Complutense University of Madrid
            Universidad Complutense De Madrid => rank: 223

[00340/4573]Free University of Bozen-Bolzano
            Free University Of Bozenbolzano => rank: 651-700

[00343/4573]Cornell University
            Cornell University => rank: 21

[00348/4573]Brandeis University
            Brandeis University => rank: 455

[00358/4573]The University of Hong Kong
            The Hong Kong University Of Science And Technology => rank: 22

[00364/4573]Lincoln University
            University Of Lincoln => rank: 372

[00365/4573]University of Ljubljana
            University Of Ljubljana => rank: 591-600

[00394/4573]The University of Edinburgh
            University Of Edinburgh Business School => rank: 16

[00405/4573]University of St Andrews
            University Of St Andrews => rank: 91

[00417/4573]Universidad ICESI
            Icesi University => rank: 651-700

[00421/4573]Oregon State University
            Oregon State University College Of Business => rank: 531-540

[00436/4573]University of Mississippi
            Mississippi College School Of Education => rank: 801-1000

[00437/4573]Michigan State University
            Michigan State University College Of Education => rank: 157

[00438/4573]Brunel University London
            Brunel University London => rank: 351

[00441/4573]Budapest University of Technology and Economics
            International Business School Budapest => rank: 801-1000

[00448/4573]Universidad de Sonora
            Universidad De Sonora => rank: 1201+

[00454/4573]Universidad ORT Uruguay
            University Of Ort Uruguay => rank: 471

[00459/4573]Humboldt-Universitt zu Berlin
            Humboldtuniversituet Zu Berlin => rank: 128

[00462/4573]Vrije Universiteit Amsterdam
            Vrije Universiteit Amsterdam => rank: 209

[00481/4573]Xi'an Jiaotong Liverpool University
            Xian Jiaotongliverpool University => rank: 801-1000

[00482/4573]Marquette University
            Marquette University College Of Education => rank: 1001-1200

[00486/4573]Oxford Brookes University
            Oxford Brookes University => rank: 429

[00488/4573]Universit de Nantes
            Universitue De Nantes => rank: 801-1000

[00525/4573]University of Greenwich
            Greenwich School Of Management => rank: 751-800

[00535/4573]HSE University
            Hse University => rank: 305

[00540/4573]Aalto University
            Aalto University => rank: 112

[00541/4573]Management and Science University
            The New School => rank: 601-650

[00562/4573]University College Dublin
            University College Dublin => rank: 173

[00568/4573]Diponegoro University
            Diponegoro University => rank: 1001-1200

[00573/4573]University of Hertfordshire
            University Of Hertfordshire => rank: 801-1000

[00576/4573]University of Rhode Island
            Rhode Island School Of Design => rank: 1001-1200

[00577/4573]USI - Universit della Svizzera italiana
            Usi Universitue Della Svizzera Italiana => rank: 240

[00582/4573]Czech Technical University in Prague
            Czech Technical University In Prague => rank: 403

[00587/4573]City University of Hong Kong
            College Of Engineering City University Of Hong Kong => rank: 53

[00589/4573]Sapienza University of Rome
            Sapienza University Of Rome => rank: 171

[00594/4573]University of Colorado, Denver
            University Of Colorado Denver => rank: 414

[00597/4573]KTH Royal Institute of Technology
            Kth Royal Institute Of Technology => rank: 89

[00606/4573]Bond University
            Bond University => rank: 451

[00609/4573]University of Nottingham
            The University Of Nottingham Faculty Of Engineering => rank: 103

[00625/4573]University of Notre Dame
            University Of Notre Dame => rank: 222

[00627/4573]Tufts University
            Tufts University Graduate School Of Arts And Sciences => rank: 275

[00631/4573]University of Southern California
            University Of Southern California => rank: 112

[00638/4573]Curtin University
            Curtin University => rank: 194

[00643/4573]Victoria University of Wellington
            Victoria University Of Wellington => rank: 236

[00647/4573]The University of Manchester
            University Of Manchester => rank: 27

[00655/4573]Tulane University
            Tulane University => rank: 436

[00656/4573]University of South Australia
            University Of South Australia => rank: 326

[00660/4573]VSB - Technical University of Ostrava
            Vsb Technical University Of Ostrava => rank: 1001-1200

[00661/4573]University of California, Los Angeles (UCLA)
            University Of California Los Angeles Ucla => rank: 40

[00665/4573]University of Parma
            University Of Parma => rank: 801-1000

[00666/4573]The Ohio State University
            Ohio State University => rank: 120

[00672/4573]University of Witwatersrand
            University Of The Witwatersrand => rank: 424

[00677/4573]Satbayev University
            Satbayev University => rank: 501-510

[00682/4573]University of Florida
            Florida State University => rank: 173

[00685/4573]Seoul National University
            University Of Seoul => rank: 36

[00686/4573]Technical University of Liberec
            Technical University Of Liberec => rank: 801-1000

[00710/4573]Wuhan University
            Wuhan University Of Technology => rank: 225

[00712/4573]Southern Federal University
            Southern Federal University => rank: 531-540

[00722/4573]Tampere University
            Tampere University => rank: 414

[00724/4573]Ain Shams University
            Ain Shams University => rank: 801-1000

[00728/4573]University of Oulu
            University Of Oulu => rank: 377

[00729/4573]Bournemouth University
            Arts University Bournemouth => rank: 751-800

[00737/4573]SOAS University of London
            Soas University Of London => rank: 391

[00738/4573]Universidad de Sevilla
            Universidad De Sevilla => rank: 551-560

[00739/4573]University of British Columbia
            University Of British Columbia Faculty Of Applied Science => rank: 46

[00740/4573]University of Warsaw
            Warsaw University Of Technology => rank: 308

[00741/4573]Rensselaer Polytechnic Institute
            Rensselaer Polytechnic Institute => rank: 431

[00742/4573]Kuwait University
            Kuwait University => rank: 1001-1200

[00743/4573]Hasselt University
            Hasselt University => rank: 471

[00749/4573]University of Texas at San Antonio
            The University Of Texas At San Antonio => rank: 801-1000

[00755/4573]Konkuk University
            Konkuk University => rank: 601-650

[00761/4573]The Hong Kong Polytechnic University
            The Hong Kong Polytechnic University School Of Design => rank: 66

[00762/4573]Stockholm University
            Stockholm University => rank: 148

[00763/4573] University of Dundee
            University Of Dundee => rank: 322

[00768/4573] Western Sydney University
            Western Sydney University International College => rank: 494

[00770/4573]Saken Seifullin Kazakh Agrotechnical University
            S Seifullin Kazakh Agro Technical University => rank: 1001-1200

[00772/4573]University of Helsinki
            University Of Helsinki => rank: 104

[00773/4573]Brno University of Technology
            Brno University Of Technology => rank: 701-750

[00779/4573]Universidad Nacional de Quilmes
            Universidad Nacional De Quilmes => rank: 1201+

[00783/4573]Kaunas University of Technology
            Kaunas University Of Technology => rank: 801-1000

[00787/4573]University of Wisconsin Milwaukee
            University Of Wisconsinmilwaukee => rank: 801-1000

[00792/4573]Bilkent University
            Bilkent University Graduate School Of Engineering And Science => rank: 591-600

[00794/4573]Georgia Institute of Technology
            Georgia Institute Of Technology => rank: 88

[00795/4573]Universidad Metropolitana
            Metropolitan University Of Technology => rank: 1001-1200

[00826/4573]Mississippi State University
            Mississippi College => rank: 1001-1200

[00839/4573]Georgetown University
            Georgetown University Graduate School Of Arts Sciences => rank: 248

[00842/4573]University of Alberta
            Alberta University Of The Arts => rank: 126

[00845/4573]University of the Basque Country
            University Of The Basque Country => rank: 701-750

[00853/4573]University of Kent
            Kent State University College Of The Arts => rank: 383

[00856/4573]University of Zurich
            Zurich University Of The Arts => rank: 70

[00868/4573]University of Waikato
            The University Of Waikato => rank: 373

[00875/4573]University of Murcia
            Universidad De Murcia => rank: 801-1000

[00876/4573]University of South Carolina
            University Of South Carolina => rank: 601-650

[00890/4573]Ca' Foscari University of Venice
            Ca Foscari University Of Venice => rank: 801-1000

[00899/4573]University of Malta
            University Of Malta => rank: 801-1000

[00901/4573]Indian Institute of Science
            Indiana State University College Of Arts And Sciences => rank: 186

[00917/4573]Anadolu University
            Anadolu University => rank: 1001-1200

[00924/4573]University of Wisconsin-Madison
            University Of Wisconsinmadison => rank: 75

[00933/4573]The University of Tokyo
            Tokyo University Of The Arts => rank: 23

[00939/4573]Moscow Pedagogical State University
            Moscow State Pedagogical University => rank: 1201+

[00947/4573]Charles Darwin University
            Charles Darwin University => rank: 701-750

[00973/4573]Goldsmiths, University of London
            Goldsmiths University Of London => rank: 461

[00974/4573]University of Lausanne
            University Of Lausanne Faculty Of Arts => rank: 176

[01004/4573]Helwan University
            Helwan University => rank: 1201+

[01008/4573]East China Normal University
            East China Normal University => rank: 531-540

[01009/4573]University of International Business and Economics
            The University Of The Arts => rank: 1001-1200

[01014/4573]Columbia University
            Columbia University School Of The Arts => rank: 19

[01019/4573]Seattle University
            Seattle University College Of Arts And Sciences => rank: 801-1000

[01028/4573]University of Tartu
            University Of Tartu => rank: 300

[01044/4573]Hongik University
            Hongik University => rank: 1201+

[01047/4573]Florida State University
            University Of Florida College Of The Arts => rank: 475

[01057/4573]Stanford University
            Stanford University School Of Engineering => rank: 3

[01062/4573]Bauman Moscow State Technical University
            Bauman Moscow State Technical University => rank: 281

[01064/4573]Beijing Institute of Technology
            Beijing Institute Of Technology => rank: 373

[01071/4573]University of Limerick
            University Of Limerick => rank: 501-510

[01088/4573]University of Turin
            University Of Turin => rank: 485

[01092/4573]Universidad Rey Juan Carlos
            Universidad Rey Juan Carlos T => rank: 1001-1200

[01110/4573]The University of Queensland
            The University Of Queensland => rank: 47

[01122/4573]University of Geneva
            The International University In Geneva => rank: 105

[01128/4573]Osaka City University
            Osaka City University => rank: 571-580

[01140/4573]Southeast University
            Southeast University => rank: 465

[01146/4573]University of Trento
            University Of Trento => rank: 440

[01163/4573]Universitat Rovira i Virgili
            Universitat Rovira I Virgili => rank: 701-750

[01174/4573]University of Porto
            University Of Porto School Of Economics And Management => rank: 295

[01181/4573]La Trobe University
            La Trobe University => rank: 362

[01200/4573]Vilnius University
            Vilnius University => rank: 400

[01201/4573]Zhejiang University
            Zhejiang University International Business School => rank: 45

[01208/4573]Corvinus University of Budapest
            Corvinus University Of Budapest => rank: 801-1000

[01214/4573]ITESO, Universidad Jesuita de Guadalajara
            Iteso Universidad Jesuita De Guadalajara => rank: 1201+

[01219/4573]Aston University
            Aston Institute => rank: 485

[01220/4573]Princess Nourah bint Abdulrahman University
            Princess Nourah Bint Abdulrahman University => rank: 751-800

[01232/4573]University of Science and Technology of China
            China University Of Technology => rank: 98

[01234/4573]Peter the Great St. Petersburg Polytechnic University
            Peter The Great St Petersburg Polytechnic University => rank: 393

[01240/4573]Chang Jung Christian University
            Chang Jung Christian University => rank: 1001-1200

[01243/4573]Vytautas Magnus University
            Vytautas Magnus University => rank: 801-1000

[01245/4573]University of South Florida
            Uth Florida University => rank: 581-590

[01249/4573]University of Central Lancashire
            University Of Central Lancashire => rank: 801-1000

[01259/4573]Florida International University
            Florida International University => rank: 801-1000

[01268/4573]University of Rijeka
            University Of Rijeka Faculty Of Economics And Business => rank: 1001-1200

[01274/4573]Maastricht University
            Maastricht University School Of Business And Economics => rank: 233

[01277/4573]Stevens Institute of Technology
            Stevens Institute Of Technology Graduate Studies => rank: 701-750

[01279/4573]Sciences Po
            Sciences Po => rank: 261

[01284/4573]Universit degli Studi di Udine
            Universitue Degli Studi Di Udine => rank: 801-1000

[01287/4573]University of Cape Town
            University Of Cape Town Graduate School Of Business => rank: 226

[01291/4573]University of Utah
            University Of Utah College Of Engineering => rank: 358

[01297/4573]Radboud University
            Radboud University => rank: 220

[01299/4573]The University of Auckland
            University Of Auckland Business School => rank: 85

[01311/4573]University of Crete
            University Of Crete => rank: 651-700

[01318/4573]Financial University under the Government of the Russian Federation
            Financial University Under The Government Of The Russian Federation => rank: 801-1000

[01335/4573]Aberystwyth University
            Aberystwyth University Business School => rank: 541-550

[01338/4573]University of Southern Queensland
            University Of Southern Queensland Usq => rank: 701-750

[01355/4573]Universit de Lorraine
            Universitue De Lorraine => rank: 801-1000

[01367/4573]University of Eastern Finland
            University Of Eastern Finland => rank: 521-530

[01378/4573]City, University of London
            City University Of London => rank: 330

[01408/4573]University of Amsterdam
            Amsterdam University Of Applied Sciences => rank: 55

[01416/4573]University of Bucharest
            University Of Bucharest => rank: 1001-1200

[01417/4573]UCL
            Ucl School Of Management => rank: 8

[01421/4573]Immanuel Kant Baltic Federal University
            Immanuel Kant Baltic Federal University => rank: 651-700

[01431/4573]Universidad Nacional del Sur
            Universidad Nacional Del Sur => rank: 1201+

[01435/4573]University of Kragujevac
            University Of Kragujevac => rank: 1201+

[01441/4573]Kobe University
            Kobe University => rank: 386

[01446/4573]Nottingham Trent University
            Nottingham Trent University => rank: 801-1000

[01447/4573]University of Szeged
            University Of Szeged => rank: 551-560

[01462/4573]Massey University
            Massey University => rank: 284

[01485/4573]Tallinn University
            Tallinn University Of Technology => rank: 1001-1200

[01489/4573]Korea University
            Korea University And Business School => rank: 74

[01500/4573]University of Maryland, College Park
            University Of Maryland College Park => rank: 158

[01511/4573]Fordham University
            Fordham University => rank: 801-1000

[01523/4573]Saint Petersburg State University
            Saint Petersburg University => rank: 242

[01550/4573]The University of Exeter
            University Of Exeter Business School => rank: 149

[01555/4573]University of Novi Sad
            Novi Sad School Of Business => rank: 1001-1200

[01559/4573]University of Latvia
            University Of Latvia => rank: 1001-1200

[01563/4573]Universidad de La Serena
            Universidad De La Serena => rank: 1201+

[01568/4573]Virginia Commonwealth University
            Virginia Commonwealth University School Of Business => rank: 701-750

[01569/4573]University of Seoul
            Seoul National => rank: 801-1000

[01575/4573]University of Alicante
            Universidad De Alicante => rank: 801-1000

[01581/4573]Verona University
            University Of Verona => rank: 801-1000

[01588/4573]Jagiellonian University
            Jagiellonian University => rank: 309

[01590/4573]Institut Polytechnique de Paris
            Institut Polytechnique De Paris => rank: 49=

[01594/4573]University of Vienna
            University Of Vienna => rank: 151

[01610/4573]Flinders University
            Flinders University => rank: 407

[01622/4573]University of Leicester
            University Of Leicester School Of Business => rank: 236

[01631/4573]University of Nebraska - Lincoln
            University Of Nebraska Lincoln College Of Business => rank: 571-580

[01639/4573]University of Turku
            University Of Turku => rank: 295

[01648/4573]Kyoto University
            Kyoto International University => rank: 33

[01652/4573]University of Bialystok
            University Of Bialystok => rank: 1001-1200

[01654/4573]Hanyang University
            Anyang University => rank: 156

[01655/4573]Warsaw University of Technology
            University Of Warsaw Faculty Of Management => rank: 501-510

[01677/4573]University of Science and Technology Beijing
            University Of Science And Technology Beijing => rank: 414

[01682/4573]University of Milan
            University Of Milan => rank: 316

[01685/4573]The Hong Kong University of Science and Technology
            The University Of Hong Kong => rank: 34

[01719/4573]Tamkang University
            Tamkang University => rank: 1201+

[01726/4573]Deakin University
            Deakin College => rank: 283

[01738/4573]Mendel University in Brno
            Mendel University In Brno => rank: 801-1000

[01791/4573]National Central University
            National Central University => rank: 521-530

[01796/4573]Lebanese University
            Lebanese International University => rank: 701-750

[01815/4573]Syracuse University
            Syracuse University School Of Education => rank: 651-700

[01825/4573]Hunan University
            Hunan University => rank: 571-580

[01852/4573]University of Florence
            The Florence Institute Of Design International => rank: 451

[01858/4573]Carnegie Mellon University
            Carnegie Mellon University School Of Design => rank: 53

[01867/4573]University of East London
            East London University => rank: 801-1000

[01869/4573]Yale University
            Yale University => rank: 14

[01884/4573]University of Bayreuth
            University Of Bayreuth => rank: 521-530

[01888/4573]Loughborough University
            Loughborough University => rank: 231

[01892/4573]Sabanci University
            Sabanci University => rank: 541-550

[01918/4573]University of Bergen
            University Of Bergen => rank: 199

[01928/4573]Universidad Austral
            Universidad Austral => rank: 400

[01929/4573]The Australian National University
            Australian National University College Of Business And Economics => rank: 27

[01930/4573]Boston University
            Boston University Graduate School Of Arts Sciences => rank: 112

[01931/4573]San Diego State University
            San Diego State University => rank: 1001-1200

[01953/4573]University at Albany SUNY
            University At Albany Suny School Of Business => rank: 751-800

[01959/4573]Universitas Padjadjaran
            Universitas Padjadjaran => rank: 801-1000

[01971/4573]University of Calabria
            University Of Calabria => rank: 1001-1200

[01977/4573]University of Oregon
            Oregon State University College Of Science => rank: 651-700

[01990/4573]University of Strathclyde
            University Of Strathclyde Faculty Of Science => rank: 302

[01993/4573]University of Siena
            University Of Siena => rank: 601-650

[01995/4573]Rice University
            Rice University => rank: 94

[01996/4573]University of Missouri, Kansas City
            University Of Missouri Kansas City => rank: 801-1000

[01998/4573]Indiana University Bloomington
            Indiana University Bloomington Online => rank: 311

[02008/4573]University of Illinois at Urbana-Champaign
            University Of Illinois At Urbanachampaign => rank: 82

[02011/4573]Universidad de Talca
            University Of Talca => rank: 1001-1200

[02020/4573]Newcastle University
            University Of Newcastle => rank: 134

[02037/4573]Northern Arizona University
            Northern Arizona University => rank: 1001-1200

[02043/4573]Ton Duc Thang University
            Ton Duc Thang University => rank: 1001-1200

[02069/4573]University of Bern
            University Of Bern => rank: 119

[02076/4573]University of Chicago
            Chicago State University College Of Business => rank: 10

[02097/4573]Johannes Kepler University Linz
            Johannes Kepler University Linz => rank: 354

[02105/4573]Howard University
            Howard University => rank: 651-700

[02108/4573]Lanzhou University
            Lanzhou University School Of Management => rank: 751-800

[02131/4573]National Chung Cheng University
            National Chung Cheng University => rank: 801-1000

[02141/4573]University of North Carolina, Chapel Hill
            The University Of North Carolina At Chapel Hill Online => rank: 100

[02145/4573]Novosibirsk State University
            Novosibirsk State University => rank: 246

[02159/4573]University of Hartford
            University Of Hartford Online => rank: 801-1000

[02166/4573]Osaka University
            Osaka University => rank: 75

[02180/4573]University of Cincinnati
            University Of Cincinnati Online => rank: 601-650

[02184/4573]King's College London
            Kings College London Online => rank: 35

[02194/4573]The University of Warwick
            Warwick Business School => rank: 61

[02212/4573]Waseda University
            Waseda Business School => rank: 203

[02225/4573]The University of Western Australia
            University Of Western Australia Business School => rank: 93

[02231/4573]Colorado State University
            Colorado State University College Of Business => rank: 431

[02233/4573]Sophia University
            Sophia University => rank: 801-1000

[02240/4573]Imperial College London
            Imperial College London => rank: 7

[02246/4573]Charles Sturt University
            Charles Sturt University => rank: 801-1000

[02251/4573]Universidad Autnoma de Baja California
            Universidad Autonoma De Baja California => rank: 1201+

[02269/4573]University of Kansas
            University Of Kansas => rank: 387

[02272/4573]Tongji University
            Tongji University School Of Economics And Management => rank: 211

[02283/4573]Lehigh University
            Lehigh University => rank: 531-540

[02290/4573]Purdue University
            Purdue University => rank: 116

[02291/4573]Fudan University
            Fudan University => rank: 31

[02329/4573]Louisiana State University
            Louisiana College => rank: 801-1000

[02331/4573]Kansas State University
            Kansas State University => rank: 801-1000

[02360/4573]Charles University
            Charles University Faculty Of Education => rank: 266

[02361/4573]George Mason University
            George Mason University Online => rank: 801-1000

[02363/4573]University of Iowa
            The University Of Iowa College Of Education => rank: 455

[02381/4573]Iowa State University
            Iowa State University School Of Education => rank: 494

[02399/4573]University of Pittsburgh
            University Of Pittsburgh Online => rank: 163

[02413/4573]Universidad Bernardo O'Higgins
            Universidad Bernardo Ohiggins => rank: 1201+

[02421/4573]International Christian University
            Institute For Christian Studies => rank: 801-1000

[02422/4573]Utah State University
            Utah State University Online => rank: 1001-1200

[02424/4573]University of Gothenburg
            University Of Gothenburg Faculty Of Education => rank: 180

[02509/4573]Western Michigan University
            Western Michigan University => rank: 1001-1200

[02517/4573]Prince Mohammad Bin Fahd university
            Prince Mohammad Bin Fahd University => rank: 701-750

[02530/4573]North Carolina State University
            North Carolina State University College Of Education => rank: 300

[02542/4573]Drexel University
            Drexel University School Of Education => rank: 651-700

[02593/4573]Shinshu University
            Shinshu University => rank: 801-1000

[02598/4573]National Taipei University of Technology
            National Taipei University Of Education => rank: 469

[02601/4573]Baylor University
            Baylor University School Of Education => rank: 1001-1200

[02633/4573]University of Santo Tomas
            Santo Tomas University => rank: 801-1000

[02645/4573]University of California, Riverside
            University Of California Riverside => rank: 403

[02649/4573]University of Southampton
            University Of Southampton => rank: 77

[02670/4573]Southern Cross University
            Southern Cross University Online => rank: 751-800

[02674/4573]University of Glasgow
            University Of Glasgow Online => rank: 73

[02682/4573]National Taipei University
            University Of Taipei => rank: 1201+

[02698/4573]The National University of Science and Technology MISIS
            National University Of Science And Technology Misis => rank: 487

[02735/4573]University of York
            York College Online => rank: 151

[02738/4573]University of Colorado Boulder
            University Of Colorado Boulder School Of Education => rank: 251

[02742/4573]Kumamoto University
            Kumamoto University => rank: 591-600

[02760/4573]Universiti Teknologi PETRONAS (UTP)
            Universiti Teknologi Petronas => rank: 414

[02761/4573]Silesian University of Technology
            Silesian University Of Technology => rank: 801-1000

[02771/4573]The "Gheorghe Asachi" Technical University of Iasi
            Gheorghe Asachi Technical University Of Iasi => rank: 1201+

[02777/4573]Khalifa University of Science and Technology
            Khalifa University => rank: 183

[02785/4573]University of Cologne
            Cologne University Of Applied Sciences => rank: 311

[02806/4573]Inha University
            Inha University => rank: 561-570

[02835/4573]Lancaster University
            Lancaster University Faculty Of Science And Technology => rank: 132

[02837/4573]Auburn University
            Auburn University College Of Engineering => rank: 801-1000

[02843/4573]University of Bordeaux
            University Of Bordeaux => rank: 501-510

[02851/4573]George Washington University
            The George Washington University School Of Engineering Applied Science => rank: 355

[02863/4573]Vilnius Gediminas Technical University
            Vilnius Gediminas Technical University => rank: 751-800

[02879/4573]Universitt des Saarlandes
            Universituet Des Saarlandes => rank: 447

[02889/4573]Texas A&M University
            Texas Am University College Of Science => rank: 168

[02895/4573]Niigata University
            Niigata Institute Of Technology => rank: 541-550

[02896/4573]Sumy State University
            Sumy State University => rank: 701-750

[02904/4573]Temple University
            Temple University College Of Engineering => rank: 751-800

[02921/4573]Chulalongkorn University
            Chulalongkorn University => rank: 215

[02935/4573]The University of Georgia
            University Of Georgia College Of Engineering => rank: 541-550

[02940/4573]Aarhus University
            Aarhus University => rank: 155

[02948/4573]University of Debrecen
            University Of Debrecen => rank: 591-600

[02965/4573]Vanderbilt University
            Vanderbilt University School Of Engineering => rank: 218

[02971/4573]Tianjin University
            Tianjin University => rank: 334

[02973/4573]University of Brescia
            University Of Brescia => rank: 751-800

[02980/4573]Yamaguchi University
            Yamaguchi University => rank: 801-1000

[03001/4573]Indiana UniversityPurdue University Indianapolis
            Indiana Universitypurdue University Indianapolis => rank: 801-1000

[03007/4573]Dalian University of Technology
            Dalian University Of Technology => rank: 571-580

[03021/4573]Istanbul Aydin University
            Istanbul Aydin University => rank: 1001-1200

[03036/4573]University of Patras
            University Of Patras => rank: 801-1000

[03041/4573]Hiroshima University
            Hiroshima Institute Of Technology => rank: 343

[03044/4573]The University of Alabama
            The University Of Alabama Graduate School => rank: 801-1000

[03052/4573]Yuan Ze University
            Yuan Ze University => rank: 1001-1200

[03055/4573]University of Trieste
            University Of Trieste => rank: 651-700

[03061/4573]University of Massachusetts Amherst
            University Of Massachusetts Amherst College Of Engineering => rank: 246

[03071/4573]Technical University of Cluj-Napoca
            Technical University Of Clujnapoca => rank: 1201+

[03088/4573]University of Guelph
            University Of Guelph => rank: 581-590

[03095/4573]Bar-Ilan University
            Barilan University => rank: 477

[03097/4573]Tokyo University of Science
            Tokyo Institute Of Technology => rank: 801-1000

[03115/4573]Universidad Nacional del Litoral
            Universidad Nacional Del Litoral => rank: 1201+

[03192/4573]University of Washington
            University Of Washington => rank: 85

[03204/4573]University of Vermont
            University Of Vermont => rank: 651-700

[03256/4573]University of the Pacific
            Pacifica Graduate Institute => rank: 1001-1200

[03262/4573]Sechenov University
            Sechenov University => rank: 651-700

[03265/4573]University of Palermo
            University Of Palermo => rank: 801-1000

[03286/4573]Ulster University
            Ulster University Online => rank: 651-700

[03345/4573]University of San Diego
            University Of San Diego => rank: 1001-1200

[03388/4573]Western University
            Western University => rank: 170

[03402/4573]University of Miami
            University Of Miami => rank: 311

[03538/4573]University of Oslo
            University Of Oslo => rank: 102

[03566/4573]Southern Methodist University
            Southern Methodist College => rank: 801-1000

[03582/4573]University of Ostrava
            University Of Ostrava => rank: 1001-1200

[03629/4573]Hong Kong Baptist University
            Hong Kong Baptist University Faculty Of Arts => rank: 287

[03650/4573]Altai State University
            Altai State University => rank: 561-570

[03655/4573]Masaryk University
            Masaryk University Faculty Of Arts => rank: 551-560

[03666/4573]Rikkyo University
            Rikkyo University => rank: 1001-1200

[03710/4573]King Faisal University
            King Faisal University => rank: 801-1000

[03723/4573]Wuhan University of Technology
            Wuhan University => rank: 801-1000

[03724/4573]Universitat de Barcelona
            Universitat De Barcelona => rank: 168

[03735/4573]University of Rochester
            Rochester College => rank: 154

[03739/4573]Universidad Torcuato Di Tella
            Universidad Torcuato Di Tella School Of Business => rank: 751-800

[03742/4573]Beijing University of Posts and Telecommunications
            Nanjing University Of Posts And Telecommunications => rank: 801-1000

[03775/4573]Victoria University
            Victorian College Of The Arts => rank: 601-650

[03830/4573]Aristotle University of Thessaloniki
            Aristotle University Thessaloniki => rank: 551-560

[03860/4573]Amity University
            Amity Online => rank: 1001-1200

[03908/4573]University of Rome "Tor Vergata"
            University Of Rome Tor Vergata Faculty Of Economics => rank: 494

[03934/4573]National Taiwan Ocean University
            National Taiwan Ocean University => rank: 1001-1200

[03942/4573]Al-Farabi Kazakh National University
            Alfarabi Kazakh National University => rank: 175

[03959/4573]University of Copenhagen
            University Of Copenhagen => rank: 79

[03985/4573]Sofia University "St. Kliment Ohridski"
            Sofia University St Kliment Ohridski => rank: 591-600

[04025/4573]Mahidol University
            Mahidol University College Of Management => rank: 255

[04028/4573]Chonnam National University
            Chonnam National University => rank: 751-800

[04034/4573]University of Twente
            University Of Twente => rank: 189

[04122/4573]National Taiwan University of Science and Technology (Taiwan Tech)
            National Taiwan University Of Science And Technology Taiwan Tech => rank: 314

[04202/4573]EGE UNIVERSITY
            Ege University => rank: 1001-1200

[04203/4573]National Technical University of Athens
            National Technical University Of Athens => rank: 421

[04207/4573]University of California, Santa Cruz
            University Of California Santa Cruz => rank: 347

[04277/4573]Indiana State University
            Indiana University => rank: 1201+

[04291/4573]The University of Arizona
            Arizona State University => rank: 268

[04301/4573]Clark University
            Clarke University => rank: 601-650

[04314/4573]Georgia State University
            University Of Georgia => rank: 751-800

[04318/4573]Lviv Polytechnic National University
            Lviv Polytechnic National University => rank: 801-1000

[04325/4573]Middle East Technical University
            Middle East Technical University => rank: 551-560

[04330/4573]Universidad Autnoma de Madrid
            Universidad Autonoma De Madrid => rank: 207

[04390/4573]University of Lincoln
            Lincoln University => rank: 801-1000

[04394/4573]Transilvania University of Brasov
            Transilvania University Of Brauov => rank: 1201+

[04407/4573]University of Tulsa
            University Of Tulsa => rank: 801-1000

[04448/4573]University of Naples Parthenope
            University Of Naples Parthenope => rank: 801-1000

[04466/4573]Chung Yuan Christian University
            Chung Yuan Christian University => rank: 1001-1200

[04471/4573]University of Macau
            University Of Macau => rank: 322

[04505/4573]Boston College
            Boston University College Of Engineering => rank: 494

[04516/4573]James Cook University
            James Cook University Online => rank: 424

[04520/4573]Southern University of Science and Technology
            Southern Institute Of Technology => rank: 275

[04529/4573]Lebanese American University
            Lebanese American University Online => rank: 581-590

[04545/4573]Ateneo de Manila University
            Ateneo De Manila University => rank: 601-650

[04564/4573]Kyoto Institute of Technology
            Kyoto University Graduate School Of Management => rank: 801-1000

In [28]:
university_clean.head(20)

,id,name,city,country,email,rank
0,0,Kent State University College Of Aeronautics A...,Kent,Usa,kent.state.university@findmymasters.com,NULL
1,1,Manderson Graduate School Of Business The Univ...,Tuscaloosa,Usa,manderson.graduate.school@findmymasters.com,NULL
2,2,University Of Argentinian Social Studies,,Argentina,university.of.argentinian@findmymasters.com,NULL
3,3,Em Normandie Business School,Le Havre,France,em.normandie.business@findmymasters.com,NULL
4,4,Izmir University Of Economics,Izmir,Turkey,izmir.university.of@findmymasters.com,NULL
5,5,Imf Smart Education,Madrid,Spain,imf.smart.education@findmymasters.com,NULL
6,6,Ural Federal University,Yekaterinburg,Russia,ural.federal.university@findmymasters.com,NULL
7,7,Universitatea Nicolae Titulescu Din Bucuresti,Bucharest,Romania,universitatea.nicolae.titulescu@findmymasters.com,NULL
8,8,University Of Wisconsinmadison La Follette Sch...,Madison,Usa,university.of.wisconsinmadison@findmymasters.com,NULL
9,9,Northeastern University Global Pathways,Boston,Usa,northeastern.university.global@findmymasters.com,NULL
10,10,University Of Haifa International School,Haifa,Israel,university.of.haifa@findmymasters.com,701-750
11,11,The Hong Kong Polytechnic University Departmen...,Hong Kong,Hong Kong,the.hong.kong@findmymasters.com,NULL
12,12,Finis Terrae University,Providencia,Chile,finis.terrae.university@findmymasters.com,NULL
13,13,Alba Graduate Business School,Athens,Greece,alba.graduate.business@findmymasters.com,NULL
14,14,University Of Bath School Of Management,Bath,United Kingdom,university.of.bath@findmymasters.com,166
15,15,University Of Groningen,Groningen,Netherlands,university.of.groningen@findmymasters.com,128
16,16,San Jose State University School Of Information,San Jose,Usa,san.jose.state@findmymasters.com,NULL
17,17,South University,Savannah,Usa,south.university@findmymasters.com,NULL
18,18,Erasmus University Rotterdam Erasmus School Of...,Rotterdam,Netherlands,erasmus.university.rotterdam@findmymasters.com,NULL
19,19,London Graduate School Of Management,London,United Kingdom,london.graduate.school@findmymasters.com,NULL

In [29]:

# need to find city_id for universities table

cities = pd.read_csv("./clean/cities_clean.csv")
cities.head()

,id,name,country,quality_of_life_index,purchasing_power_index,safety_index,health_care_index,cost_of_living_index,property_price_to_income_ratio,traffic_commute_time_index,pollution_index,climate_index
0,0,Kabul,Afghanistan,NaN,21.12,21.47,29.06,23.82,14.82,56.17,92.00,NaN
1,1,Tirana,Albania,90.91,31.24,56.95,48.69,38.10,16.02,39.93,87.82,86.43
2,2,Algiers,Algeria,78.36,21.75,45.56,54.45,29.91,28.56,56.08,70.38,94.82
3,3,Constantine,Algeria,91.58,24.92,55.32,40.28,27.61,14.00,55.50,68.82,84.71
4,4,Jijel,Algeria,NaN,NaN,54.66,43.06,NaN,13.02,20.00,53.45,NaN

In [30]:

# convert cities csv to dict 
# it will make easier to find city id

cities_dict = {}

for index in cities.index:
    cities_dict[cities.loc[index, "name"]] = cities.loc[index, "id"]

for key in list(cities_dict.keys())[:10]:
    print(f"{key} = {cities_dict[key]}")

Kabul = 0
Tirana = 1
Algiers = 2
Constantine = 3
Jijel = 4
Oran = 5
Setif = 6
Skikda = 7
Tebessa = 8
Tiziouzou = 9

In [31]:

def get_city_id(row: str) -> str:
    """
    
    Get city id for university
    Because name may not match fully we will use similarity function
    
    :param name: row from university table
    :return    : city id if we find
    
    
    """
    
    univesity_id    = row["id"]
    university_city = row["city"]
            
    if university_city == "NULL":
        return university_city
    
    for city in cities_dict.keys():
                
        if is_similar(university_city, city):
            
            # keep city id
            city_id = cities_dict[city]
            
            print(f"[{univesity_id:05}/4573]{university_city}")
            print(f"            {city} => id: {city_id}\n")
        
            return city_id
        
    return "NULL"

In [32]:
university_clean["city_id"] = university_clean.apply(get_city_id, axis=1)

[00004/4573]Izmir
            Izmir => id: 810

[00005/4573]Madrid
            Madrid => id: 742

[00006/4573]Yekaterinburg
            Yekaterinburg => id: 682

[00007/4573]Bucharest
            Bucharest => id: 632

[00010/4573]Haifa
            Haifa => id: 382

[00011/4573]Hong Kong
            Hong Kong => id: 282

[00013/4573]Athens
            Athens => id: 261

[00016/4573]San Jose
            San Jose => id: 179

[00018/4573]Rotterdam
            Rotterdam => id: 547

[00019/4573]London
            London => id: 119

[00020/4573]Rennes
            Rennes => id: 237

[00021/4573]London
            London => id: 119

[00028/4573]Santiago De Compostela
            Santiago De Compostela => id: 751

[00039/4573]Berlin
            Berlin => id: 246

[00042/4573]Lbeck
            Lbeck => id: 253

[00046/4573]Wrocaw
            Wroclaw => id: 619

[00047/4573]Porto
            Porto => id: 626

[00048/4573]Dublin
            Dublin => id: 379

[00052/4573]Dublin
            Dublin => id: 379

[00059/4573]Berlin
            Berlin => id: 246

[00063/4573]London
            London => id: 119

[00065/4573]Wrocaw
            Wroclaw => id: 619

[00066/4573]Huelva
            Huelva => id: 737

[00067/4573]Mexico City
            Mexico City => id: 503

[00069/4573]Budapest
            Budapest => id: 283

[00070/4573]Berlin
            Berlin => id: 246

[00074/4573]Moscow
            Moscow => id: 652

[00078/4573]Novosibirsk
            Novosibirsk => id: 657

[00081/4573]Lisbon
            Lisbon => id: 624

[00084/4573]Cape Town
            Cape Town => id: 711

[00085/4573]Kuching
            Kuching => id: 465

[00086/4573]Barcelona
            Barcelona => id: 725

[00089/4573]Bordeaux
            Bordeaux => id: 222

[00091/4573]Madrid
            Madrid => id: 742

[00093/4573]Changsha
            Changsha => id: 152

[00097/4573]Mexico City
            Mexico City => id: 503

[00099/4573]Bogot
            Bogota => id: 170

[00104/4573]So Paulo
            Sao Paulo => id: 94

[00105/4573]Singapore
            Singapore => id: 703

[00107/4573]Antwerp
            Antwerp => id: 62

[00116/4573]Eindhoven
            Eindhoven => id: 545

[00117/4573]Guatemala City
            Guatemala City => id: 276

[00125/4573]Beirut
            Beirut => id: 443

[00126/4573]Pardubice
            Pardubice => id: 189

[00128/4573]London
            London => id: 119

[00134/4573]Culiacn
            Culiacan => id: 492

[00135/4573]Bogot
            Bogota => id: 170

[00136/4573]Bangkok
            Bangkok => id: 781

[00139/4573]Marseille
            Marseille => id: 228

[00140/4573]Wrocaw
            Wroclaw => id: 619

[00144/4573]Barcelona
            Barcelona => id: 725

[00145/4573]London
            London => id: 119

[00147/4573]Barcelona
            Barcelona => id: 725

[00151/4573]Santo Domingo
            Santo Domingo => id: 201

[00153/4573]Paris
            Paris => id: 235

[00154/4573]Hamburg
            Hamburg => id: 251

[00156/4573]Sydney
            Sydney => id: 43

[00158/4573]Johannesburg
            Johannesburg => id: 716

[00159/4573]Rome
            Rome => id: 405

[00160/4573]Montpellier
            Montpellier => id: 230

[00164/4573]Kigali
            Kigali => id: 684

[00165/4573]Singapore
            Singapore => id: 703

[00166/4573]Toulouse
            Toulouse => id: 240

[00169/4573]London
            London => id: 119

[00171/4573]Moscow
            Moscow => id: 652

[00172/4573]Tartu
            Tartus => id: 774

[00174/4573]Krasnoyarsk
            Krasnoyarsk => id: 648

[00176/4573]Izmir
            Izmir => id: 810

[00177/4573]Rotterdam
            Rotterdam => id: 547

[00178/4573]Madrid
            Madrid => id: 742

[00179/4573]Berlin
            Berlin => id: 246

[00181/4573]Mexico City
            Mexico City => id: 503

[00185/4573]Rotterdam
            Rotterdam => id: 547

[00192/4573]Berlin
            Berlin => id: 246

[00196/4573]Singapore
            Singapore => id: 703

[00200/4573]Madrid
            Madrid => id: 742

[00201/4573]Perth
            Perth => id: 40

[00202/4573]Toulouse
            Toulouse => id: 240

[00209/4573]Singapore
            Singapore => id: 703

[00211/4573]Novosibirsk
            Novosibirsk => id: 657

[00212/4573]Rotterdam
            Rotterdam => id: 547

[00214/4573]Barcelona
            Barcelona => id: 725

[00216/4573]Amberg
            Bamberg => id: 245

[00217/4573]Valencia
            Valencia => id: 752

[00218/4573]Lisbon
            Lisbon => id: 624

[00219/4573]London
            London => id: 119

[00220/4573]Zrich
            Zurich => id: 771

[00227/4573]Valencia
            Valencia => id: 752

[00229/4573]Bucharest
            Bucharest => id: 632

[00230/4573]Guatemala City
            Guatemala City => id: 276

[00238/4573]Bogot
            Bogota => id: 170

[00239/4573]San Jos
            San Jose => id: 179

[00241/4573]Barcelona
            Barcelona => id: 725

[00247/4573]Muscat
            Muscat => id: 579

[00248/4573]Cartagena
            Cartagena => id: 728

[00253/4573]Milan
            Milan => id: 399

[00256/4573]Molde
            Molde => id: 573

[00257/4573]London
            London => id: 119

[00258/4573]Melbourne
            Melbourne => id: 39

[00260/4573]Guadalajara
            Guadalajara => id: 736

[00261/4573]Athens
            Athens => id: 261

[00262/4573]Madrid
            Madrid => id: 742

[00266/4573]Warsaw
            Warsaw => id: 618

[00268/4573]Cartagena
            Cartagena => id: 728

[00273/4573]Athens
            Athens => id: 261

[00275/4573]Toulouse
            Toulouse => id: 240

[00277/4573]Santiago De Compostela
            Santiago De Compostela => id: 751

[00278/4573]Canberra
            Canberra => id: 28

[00279/4573]Lisbon
            Lisbon => id: 624

[00282/4573]Denver
            Denver => id: 31

[00284/4573]Madrid
            Madrid => id: 742

[00285/4573]Singapore
            Singapore => id: 703

[00286/4573]Granada
            Granada => id: 735

[00288/4573]Rome
            Rome => id: 405

[00291/4573]San Francisco
            San Francisco => id: 178

[00297/4573]Gdask
            Gdansk => id: 613

[00301/4573]Cork
            Cork => id: 378

[00302/4573]Madrid
            Madrid => id: 742

[00308/4573]Porto
            Porto => id: 626

[00309/4573]David
            David => id: 591

[00313/4573]Bilbao
            Bilbao => id: 726

[00314/4573]Lima
            Lima => id: 599

[00315/4573]Cambridge
            Cambridge => id: 550

[00320/4573]Pozna
            Poznan => id: 617

[00324/4573]Madrid
            Madrid => id: 742

[00325/4573]Milan
            Milan => id: 399

[00328/4573]Madrid
            Madrid => id: 742

[00329/4573]Panama City
            Panama City => id: 592

[00331/4573]Kuala Lumpur
            Kuala Lumpur => id: 463

[00332/4573]Cancn
            Cancun => id: 487

[00334/4573]Dublin
            Dublin => id: 379

[00339/4573]Madrid
            Madrid => id: 742

[00350/4573]Bologna
            Bologna => id: 389

[00353/4573]Mexico City
            Mexico City => id: 503

[00354/4573]Riga
            Riga => id: 442

[00357/4573]Gothenburg
            Gothenburg => id: 760

[00358/4573]Hong Kong
            Hong Kong => id: 282

[00359/4573]Cartagena
            Cartagena => id: 728

[00365/4573]Ljubljana
            Ljubljana => id: 708

[00367/4573]Madrid
            Madrid => id: 742

[00369/4573]Belo Horizonte
            Belo Horizonte => id: 78

[00382/4573]Bogot
            Bogota => id: 170

[00383/4573]Quito
            Quito => id: 200

[00387/4573]Porto
            Porto => id: 626

[00391/4573]Taipei
            Taipei => id: 777

[00392/4573]Richmond
            Richmond => id: 415

[00395/4573]Wrocaw
            Wroclaw => id: 619

[00403/4573]London
            London => id: 119

[00404/4573]London
            London => id: 119

[00409/4573]Tbilisi
            Tbilisi => id: 244

[00417/4573]Cali
            Cali => id: 172

[00420/4573]Paris
            Paris => id: 235

[00424/4573]Madrid
            Madrid => id: 742

[00429/4573]Riyadh
            Riyadh => id: 693

[00430/4573]Barcelona
            Barcelona => id: 725

[00431/4573]Mexico City
            Mexico City => id: 503

[00434/4573]Madrid
            Madrid => id: 742

[00438/4573]London
            London => id: 119

[00441/4573]Budapest
            Budapest => id: 283

[00443/4573]Doha
            Doha => id: 629

[00444/4573]Lisbon
            Lisbon => id: 624

[00447/4573]Turin
            Turin => id: 408

[00448/4573]Hermosillo
            Hermosillo => id: 496

[00452/4573]Dublin
            Dublin => id: 379

[00455/4573]Singapore
            Singapore => id: 703

[00458/4573]Kuala Lumpur
            Kuala Lumpur => id: 463

[00459/4573]Berlin
            Berlin => id: 246

[00462/4573]Amsterdam
            Amsterdam => id: 542

[00463/4573]Milan
            Milan => id: 399

[00464/4573]Cotonou
            Cotonou => id: 66

[00467/4573]Dalian
            Dalian => id: 155

[00468/4573]Rome
            Rome => id: 405

[00469/4573]Kuala Lumpur
            Kuala Lumpur => id: 463

[00470/4573]Singapore
            Singapore => id: 703

[00472/4573]Paris
            Paris => id: 235

[00474/4573]Medelln
            Medellin => id: 174

[00478/4573]Chisinau
            Chisinau => id: 522

[00479/4573]Riga
            Riga => id: 442

[00483/4573]Samara
            Samara => id: 665

[00484/4573]Barcelona
            Barcelona => id: 725

[00488/4573]Brussels
            Brussels => id: 63

[00495/4573]Vancouver
            Vancouver => id: 137

[00496/4573]Winnipeg
            Winnipeg => id: 140

[00497/4573]Santiago
            Santiago => id: 593

[00502/4573]San Francisco
            San Francisco => id: 178

[00505/4573]Barcelona
            Barcelona => id: 725

[00506/4573]Panama City
            Panama City => id: 592

[00509/4573]Leon
            Leon => id: 741

[00511/4573]Whitehorse
            Whitehorse => id: 139

[00512/4573]San Antonio
            San Antonio => id: 596

[00513/4573]Hamburg
            Hamburg => id: 251

[00516/4573]Phoenix
            Phoenix => id: 482

[00517/4573]Berlin
            Berlin => id: 246

[00518/4573]Bogot
            Bogota => id: 170

[00521/4573]Malang
            Malang => id: 359

[00524/4573]Madrid
            Madrid => id: 742

[00525/4573]London
            London => id: 119

[00531/4573]Vilnius
            Vilnius => id: 450

[00532/4573]Sofia
            Sofia => id: 100

[00535/4573]Moscow
            Moscow => id: 652

[00543/4573]Budapest
            Budapest => id: 283

[00548/4573]Milan
            Milan => id: 399

[00552/4573]Madrid
            Madrid => id: 742

[00554/4573]Mrida
            Merida => id: 501

[00555/4573]Barcelona
            Barcelona => id: 725

[00556/4573]Madrid
            Madrid => id: 742

[00558/4573]San Antonio
            San Antonio => id: 596

[00559/4573]Taipei
            Taipei => id: 777

[00560/4573]Brussels
            Brussels => id: 63

[00561/4573]Bogot
            Bogota => id: 170

[00562/4573]Dublin
            Dublin => id: 379

[00563/4573]Milan
            Milan => id: 399

[00568/4573]Semarang
            Semarang => id: 363

[00569/4573]San Juan
            San Juan => id: 791

[00570/4573]Gdask
            Gdansk => id: 613

[00574/4573]Singapore
            Singapore => id: 703

[00580/4573]Mazatlan
            Mazatlan => id: 500

[00581/4573]Paris
            Paris => id: 235

[00582/4573]Prague
            Prague => id: 190

[00586/4573]Taipei
            Taipei => id: 777

[00587/4573]Hong Kong
            Hong Kong => id: 282

[00588/4573]Ufa
            Ufa => id: 675

[00589/4573]Rome
            Rome => id: 405

[00590/4573]Prague
            Prague => id: 190

[00591/4573]Barcelona
            Barcelona => id: 725

[00594/4573]Denver
            Denver => id: 31

[00597/4573]Stockholm
            Stockholm => id: 767

[00598/4573]Muscat
            Muscat => id: 579

[00603/4573]Bologna
            Bologna => id: 389

[00615/4573]Leon
            Leon => id: 741

[00616/4573]Santiago
            Santiago => id: 593

[00620/4573]Madrid
            Madrid => id: 742

[00628/4573]Milan
            Milan => id: 399

[00633/4573]Milan
            Milan => id: 399

[00638/4573]Perth
            Perth => id: 40

[00643/4573]Wellington
            Wellington => id: 558

[00645/4573]London
            London => id: 119

[00653/4573]Barcelona
            Barcelona => id: 725

[00656/4573]Adelaide
            Adelaide => id: 21

[00657/4573]Durango
            Durango => id: 493

[00659/4573]Bucharest
            Bucharest => id: 632

[00668/4573]Sofia
            Sofia => id: 100

[00669/4573]Barcelona
            Barcelona => id: 725

[00672/4573]Johannesburg
            Johannesburg => id: 716

[00674/4573]Barcelona
            Barcelona => id: 725

[00676/4573]Turin
            Turin => id: 408

[00677/4573]Almaty
            Almaty => id: 431

[00678/4573]Milan
            Milan => id: 399

[00683/4573]Paris
            Paris => id: 235

[00687/4573]Barcelona
            Barcelona => id: 725

[00689/4573]Istanbul
            Istanbul => id: 809

[00692/4573]Lyon
            Lyon => id: 227

[00694/4573]Tallinn
            Tallinn => id: 210

[00696/4573]Faro
            Faro => id: 621

[00697/4573]Timioara
            Timisoara => id: 635

[00702/4573]Reggio Calabria
            Reggio Di Calabria => id: 404

[00703/4573]San Francisco
            San Francisco => id: 178

[00704/4573]Bratislava
            Bratislava => id: 704

[00708/4573]Ahmedabad
            Ahmedabad => id: 289

[00710/4573]Wuhan
            Wuhan => id: 165

[00714/4573]Berlin
            Berlin => id: 246

[00718/4573]Guadalajara
            Guadalajara => id: 736

[00721/4573]Stockholm
            Stockholm => id: 767

[00723/4573]San Juan
            San Juan => id: 791

[00724/4573]Cairo
            Cairo => id: 204

[00728/4573]Oulu
            Oulu => id: 217

[00731/4573]Tartu
            Tartus => id: 774

[00733/4573]Taipei
            Taipei => id: 777

[00736/4573]Barcelona
            Barcelona => id: 725

[00737/4573]London
            London => id: 119

[00739/4573]Vancouver
            Vancouver => id: 137

[00740/4573]Warsaw
            Warsaw => id: 618

[00746/4573]Amsterdam
            Amsterdam => id: 542

[00749/4573]San Antonio
            San Antonio => id: 596

[00750/4573]Melbourne
            Melbourne => id: 39

[00757/4573]Porto
            Porto => id: 626

[00758/4573]Almaty
            Almaty => id: 431

[00762/4573]Stockholm
            Stockholm => id: 767

[00765/4573]Turin
            Turin => id: 408

[00772/4573]Helsinki
            Helsinki => id: 215

[00773/4573]Brno
            Brno => id: 188

[00774/4573]Nice
            Nice => id: 234

[00775/4573]Munich
            Munich => id: 254

[00776/4573]Baku
            Baku => id: 50

[00780/4573]Yekaterinburg
            Yekaterinburg => id: 682

[00781/4573]Ankara
            Ankara => id: 802

[00782/4573]Prague
            Prague => id: 190

[00783/4573]Kaunas
            Kaunas => id: 449

[00789/4573]San Francisco
            San Francisco => id: 178

[00790/4573]Barcelona
            Barcelona => id: 725

[00791/4573]Buenos Aires
            Buenos Aires => id: 13

[00792/4573]Ankara
            Ankara => id: 802

[00793/4573]Trondheim
            Trondheim => id: 578

[00795/4573]Santiago
            Santiago => id: 593

[00797/4573]Taipei
            Taipei => id: 777

[00800/4573]Ahmedabad
            Ahmedabad => id: 289

[00811/4573]Ipswich
            Ipswich => id: 37

[00812/4573]Budapest
            Budapest => id: 283

[00813/4573]Montpellier
            Montpellier => id: 230

[00824/4573]Milan
            Milan => id: 399

[00828/4573]Madrid
            Madrid => id: 742

[00831/4573]Paris
            Paris => id: 235

[00833/4573]Petrozavodsk
            Petrozavodsk => id: 662

[00835/4573]Milan
            Milan => id: 399

[00836/4573]Barcelona
            Barcelona => id: 725

[00840/4573]Saint Petersburg
            Saint Petersburg => id: 664

[00842/4573]Calgary
            Calgary => id: 108

[00844/4573]Zhengzhou
            Zhengzhou => id: 168

[00846/4573]Berlin
            Berlin => id: 246

[00847/4573]Limoges
            Limoges => id: 226

[00849/4573]Dublin
            Dublin => id: 379

[00856/4573]Zrich
            Zurich => id: 771

[00858/4573]Taipei
            Taipei => id: 777

[00860/4573]Milan
            Milan => id: 399

[00861/4573]Berlin
            Berlin => id: 246

[00864/4573]Dublin
            Dublin => id: 379

[00866/4573]Bucharest
            Bucharest => id: 632

[00868/4573]Hamilton
            Hamilton => id: 553

[00872/4573]San Francisco
            San Francisco => id: 178

[00877/4573]Lima
            Lima => id: 599

[00878/4573]Toronto
            Toronto => id: 136

[00879/4573]Milan
            Milan => id: 399

[00883/4573]Helsinki
            Helsinki => id: 215

[00888/4573]Istanbul
            Istanbul => id: 809

[00892/4573]Cambridge
            Cambridge => id: 550

[00894/4573]Rotterdam
            Rotterdam => id: 547

[00895/4573]Gothenburg
            Gothenburg => id: 760

[00897/4573]Mexico City
            Mexico City => id: 503

[00899/4573]Valletta
            Valletta => id: 480

[00900/4573]Paris
            Paris => id: 235

[00902/4573]Budapest
            Budapest => id: 283

[00903/4573]Moscow
            Moscow => id: 652

[00907/4573]Pozna
            Poznan => id: 617

[00908/4573]Paris
            Paris => id: 235

[00910/4573]Paris
            Paris => id: 235

[00916/4573]Katowice
            Katowice => id: 614

[00919/4573]Milan
            Milan => id: 399

[00921/4573]Valencia
            Valencia => id: 752

[00925/4573]Barcelona
            Barcelona => id: 725

[00926/4573]Sydney
            Sydney => id: 43

[00927/4573]Rome
            Rome => id: 405

[00928/4573]Madrid
            Madrid => id: 742

[00929/4573]Gothenburg
            Gothenburg => id: 760

[00930/4573]Moscow
            Moscow => id: 652

[00932/4573]Prague
            Prague => id: 190

[00939/4573]Moscow
            Moscow => id: 652

[00940/4573]San Francisco
            San Francisco => id: 178

[00942/4573]Paris
            Paris => id: 235

[00944/4573]Auckland
            Auckland => id: 549

[00945/4573]Panama City
            Panama City => id: 592

[00946/4573]Rome
            Rome => id: 405

[00947/4573]Darwin
            Darwin => id: 30

[00953/4573]Paris
            Paris => id: 235

[00955/4573]Valencia
            Valencia => id: 752

[00959/4573]Tallinn
            Tallinn => id: 210

[00960/4573]Madrid
            Madrid => id: 742

[00962/4573]Prague
            Prague => id: 190

[00964/4573]Barcelona
            Barcelona => id: 725

[00967/4573]Nanjing
            Nanjing => id: 160

[00968/4573]London
            London => id: 119

[00973/4573]London
            London => id: 119

[00975/4573]Dublin
            Dublin => id: 379

[00978/4573]Moscow
            Moscow => id: 652

[00982/4573]Milan
            Milan => id: 399

[00983/4573]Rotterdam
            Rotterdam => id: 547

[00987/4573]Bogot
            Bogota => id: 170

[00988/4573]Marseille
            Marseille => id: 228

[00989/4573]Moscow
            Moscow => id: 652

[00992/4573]Troms
            Tromso => id: 577

[01000/4573]Saint Petersburg
            Saint Petersburg => id: 664

[01003/4573]Nicosia
            Nicosia => id: 187

[01004/4573]Cairo
            Cairo => id: 204

[01006/4573]Thessaloniki
            Thessaloniki => id: 272

[01007/4573]Bogot
            Bogota => id: 170

[01008/4573]Shanghai
            Shanghai => id: 162

[01010/4573]Mlaga
            Malaga => id: 743

[01011/4573]Madrid
            Madrid => id: 742

[01013/4573]Toronto
            Toronto => id: 136

[01015/4573]Taipei
            Taipei => id: 777

[01017/4573]Toulouse
            Toulouse => id: 240

[01022/4573]Milan
            Milan => id: 399

[01025/4573]Auckland
            Auckland => id: 549

[01026/4573]Yekaterinburg
            Yekaterinburg => id: 682

[01028/4573]Tartu
            Tartus => id: 774

[01031/4573]Rome
            Rome => id: 405

[01032/4573]Helsinki
            Helsinki => id: 215

[01035/4573]Paris
            Paris => id: 235

[01037/4573]Klagenfurt
            Klagenfurt => id: 47

[01039/4573]Milan
            Milan => id: 399

[01042/4573]Kyoto
            Kyoto => id: 420

[01044/4573]Seoul
            Seoul => id: 720

[01045/4573]Copenhagen
            Copenhagen => id: 193

[01046/4573]Saint Petersburg
            Saint Petersburg => id: 664

[01048/4573]Milan
            Milan => id: 399

[01051/4573]Rome
            Rome => id: 405

[01055/4573]Singapore
            Singapore => id: 703

[01060/4573]Moscow
            Moscow => id: 652

[01061/4573]Madrid
            Madrid => id: 742

[01062/4573]Moscow
            Moscow => id: 652

[01064/4573]Beijing
            Beijing => id: 150

[01066/4573]Belgrade
            Belgrade => id: 696

[01067/4573]Toronto
            Toronto => id: 136

[01070/4573]Lisbon
            Lisbon => id: 624

[01083/4573]Singapore
            Singapore => id: 703

[01086/4573]Rome
            Rome => id: 405

[01087/4573]Passau
            Passau => id: 255

[01088/4573]Turin
            Turin => id: 408

[01089/4573]Nice
            Nice => id: 234

[01091/4573]Bishkek
            Bishkek => id: 440

[01092/4573]Madrid
            Madrid => id: 742

[01093/4573]Berlin
            Berlin => id: 246

[01094/4573]Bilbao
            Bilbao => id: 726

[01095/4573]Bogot
            Bogota => id: 170

[01098/4573]Berlin
            Berlin => id: 246

[01099/4573]Vladivostok
            Vladivostok => id: 677

[01101/4573]Madrid
            Madrid => id: 742

[01104/4573]Bishkek
            Bishkek => id: 440

[01108/4573]London
            London => id: 119

[01109/4573]Paris
            Paris => id: 235

[01110/4573]Brisbane
            Brisbane => id: 24

[01111/4573]Shenzhen
            Shenzhen => id: 164

[01114/4573]London
            London => id: 119

[01119/4573]Stockholm
            Stockholm => id: 767

[01121/4573]Berlin
            Berlin => id: 246

[01122/4573]Geneva
            Geneva => id: 770

[01123/4573]Timioara
            Timisoara => id: 635

[01127/4573]Geneva
            Geneva => id: 770

[01128/4573]Osaka
            Osaka => id: 423

[01130/4573]Lisbon
            Lisbon => id: 624

[01132/4573]Santiago
            Santiago => id: 593

[01133/4573]Kazan
            Kazan => id: 643

[01134/4573]Bogot
            Bogota => id: 170

[01136/4573]Medelln
            Medellin => id: 174

[01137/4573]Rotterdam
            Rotterdam => id: 547

[01140/4573]Nanjing
            Nanjing => id: 160

[01141/4573]London
            London => id: 119

[01142/4573]Cambridge
            Cambridge => id: 550

[01148/4573]Munich
            Munich => id: 254

[01149/4573]San Francisco
            San Francisco => id: 178

[01152/4573]Hamburg
            Hamburg => id: 251

[01154/4573]Moscow
            Moscow => id: 652

[01160/4573]Istanbul
            Istanbul => id: 809

[01165/4573]Guadalajara
            Guadalajara => id: 736

[01166/4573]Nancy
            Nancy => id: 232

[01167/4573]Sundsvall
            Sundsvall => id: 768

[01170/4573]Madrid
            Madrid => id: 742

[01172/4573]Barcelona
            Barcelona => id: 725

[01173/4573]Hamburg
            Hamburg => id: 251

[01174/4573]Porto
            Porto => id: 626

[01176/4573]Belgorod
            Belgorod => id: 638

[01177/4573]Vaasa
            Vaasa => id: 219

[01178/4573]Berlin
            Berlin => id: 246

[01180/4573]Cologne
            Cologne => id: 247

[01181/4573]Melbourne
            Melbourne => id: 39

[01184/4573]Geneva
            Geneva => id: 770

[01187/4573]Paris
            Paris => id: 235

[01188/4573]Hong Kong
            Hong Kong => id: 282

[01189/4573]Tijuana
            Tijuana => id: 513

[01193/4573]So Paulo
            Sao Paulo => id: 94

[01194/4573]Kuala Lumpur
            Kuala Lumpur => id: 463

[01200/4573]Kaunas
            Kaunas => id: 449

[01202/4573]Paris
            Paris => id: 235

[01206/4573]Madrid
            Madrid => id: 742

[01207/4573]Medelln
            Medellin => id: 174

[01208/4573]Budapest
            Budapest => id: 283

[01209/4573]Bogot
            Bogota => id: 170

[01210/4573]Paris
            Paris => id: 235

[01211/4573]Ljubljana
            Ljubljana => id: 708

[01212/4573]Rome
            Rome => id: 405

[01215/4573]Geneva
            Geneva => id: 770

[01218/4573]Valencia
            Valencia => id: 752

[01219/4573]Hong Kong
            Hong Kong => id: 282

[01220/4573]Riyadh
            Riyadh => id: 693

[01221/4573]Guayaquil
            Guayaquil => id: 198

[01223/4573]Mexico City
            Mexico City => id: 503

[01224/4573]Victoria
            Vitoria => id: 98

[01225/4573]Helsinki
            Helsinki => id: 215

[01226/4573]Barcelona
            Barcelona => id: 725

[01228/4573]Madrid
            Madrid => id: 742

[01229/4573]Kuala Lumpur
            Kuala Lumpur => id: 463

[01230/4573]Paris
            Paris => id: 235

[01232/4573]Taipei
            Taipei => id: 777

[01233/4573]Madrid
            Madrid => id: 742

[01234/4573]Saint Petersburg
            Saint Petersburg => id: 664

[01235/4573]Brussels
            Brussels => id: 63

[01236/4573]Madrid
            Madrid => id: 742

[01239/4573]So Paulo
            Sao Paulo => id: 94

[01240/4573]Tainan
            Tainan => id: 776

[01241/4573]Barcelona
            Barcelona => id: 725

[01243/4573]Kaunas
            Kaunas => id: 449

[01246/4573]Dalian
            Dalian => id: 155

[01251/4573]Hamburg
            Hamburg => id: 251

[01252/4573]Barcelona
            Barcelona => id: 725

[01253/4573]Villach
            Villach => id: 49

[01254/4573]Saint Petersburg
            Saint Petersburg => id: 664

[01256/4573]Bucharest
            Bucharest => id: 632

[01257/4573]Madrid
            Madrid => id: 742

[01262/4573]Madrid
            Madrid => id: 742

[01265/4573]Lisbon
            Lisbon => id: 624

[01270/4573]Helsinki
            Helsinki => id: 215

[01272/4573]Yakutsk
            Yakutsk => id: 681

[01273/4573]Sofia
            Sofia => id: 100

[01278/4573]Barcelona
            Barcelona => id: 725

[01279/4573]Paris
            Paris => id: 235

[01280/4573]Irkutsk
            Irkutsk => id: 640

[01281/4573]Paris
            Paris => id: 235

[01287/4573]Cape Town
            Cape Town => id: 711

[01295/4573]Guatemala City
            Guatemala City => id: 276

[01299/4573]Auckland
            Auckland => id: 549

[01300/4573]Rotterdam
            Rotterdam => id: 547

[01302/4573]Rome
            Rome => id: 405

[01305/4573]San Jos
            San Jose => id: 179

[01306/4573]Berlin
            Berlin => id: 246

[01307/4573]Brussels
            Brussels => id: 63

[01310/4573]Antwerp
            Antwerp => id: 62

[01311/4573]Heraklion
            Heraklion => id: 265

[01312/4573]Munich
            Munich => id: 254

[01315/4573]San Sebastin
            San Sebastian => id: 749

[01316/4573]Jakarta
            Jakarta => id: 357

[01318/4573]Moscow
            Moscow => id: 652

[01319/4573]So Paulo
            Sao Paulo => id: 94

[01320/4573]Rome
            Rome => id: 405

[01321/4573]Mumbai
            Mumbai => id: 331

[01327/4573]San Jos
            San Jose => id: 179

[01329/4573]Saint Petersburg
            Saint Petersburg => id: 664

[01330/4573]Bordeaux
            Bordeaux => id: 222

[01331/4573]Madrid
            Madrid => id: 742

[01333/4573]Lisbon
            Lisbon => id: 624

[01337/4573]Barcelona
            Barcelona => id: 725

[01340/4573]Riga
            Riga => id: 442

[01341/4573]Madrid
            Madrid => id: 742

[01342/4573]Paris
            Paris => id: 235

[01345/4573]London
            London => id: 119

[01347/4573]Singapore
            Singapore => id: 703

[01348/4573]Zrich
            Zurich => id: 771

[01350/4573]Rennes
            Rennes => id: 237

[01352/4573]Monterrey
            Monterrey => id: 504

[01355/4573]Nancy
            Nancy => id: 232

[01356/4573]Bogot
            Bogota => id: 170

[01358/4573]Crdoba
            Cordoba => id: 730

[01359/4573]Zagreb
            Zagreb => id: 182

[01368/4573]Madrid
            Madrid => id: 742

[01369/4573]Chengdu
            Chengdu => id: 153

[01370/4573]Lisbon
            Lisbon => id: 624

[01371/4573]Georgetown
            George Town => id: 459

[01372/4573]Madrid
            Madrid => id: 742

[01373/4573]Toulouse
            Toulouse => id: 240

[01374/4573]Barcelona
            Barcelona => id: 725

[01378/4573]London
            London => id: 119

[01379/4573]Toulouse
            Toulouse => id: 240

[01382/4573]Barcelona
            Barcelona => id: 725

[01386/4573]Brussels
            Brussels => id: 63

[01387/4573]Geneva
            Geneva => id: 770

[01392/4573]Moscow
            Moscow => id: 652

[01393/4573]Madrid
            Madrid => id: 742

[01395/4573]Lisbon
            Lisbon => id: 624

[01399/4573]Barcelona
            Barcelona => id: 725

[01401/4573]Omsk
            Omsk => id: 658

[01405/4573]Rome
            Rome => id: 405

[01407/4573]Munich
            Munich => id: 254

[01408/4573]Amsterdam
            Amsterdam => id: 542

[01410/4573]Moscow
            Moscow => id: 652

[01413/4573]Berlin
            Berlin => id: 246

[01416/4573]Bucharest
            Bucharest => id: 632

[01417/4573]London
            London => id: 119

[01420/4573]Paris
            Paris => id: 235

[01421/4573]Kaliningrad
            Kaliningrad => id: 642

[01422/4573]Alor Setar
            Alor Setar => id: 456

[01424/4573]Singapore
            Singapore => id: 703

[01426/4573]Madrid
            Madrid => id: 742

[01428/4573]Zrich
            Zurich => id: 771

[01433/4573]Ottawa
            Ottawa => id: 128

[01438/4573]San Francisco
            San Francisco => id: 178

[01440/4573]Pamplona
            Pamplona => id: 746

[01441/4573]Kobe
            Kobe => id: 419

[01445/4573]Karlskrona
            Karlskrona => id: 764

[01453/4573]Zrich
            Zurich => id: 771

[01454/4573]Denver
            Denver => id: 31

[01458/4573]London
            London => id: 119

[01460/4573]Berlin
            Berlin => id: 246

[01462/4573]Auckland
            Auckland => id: 549

[01464/4573]Porto
            Porto => id: 626

[01465/4573]Melbourne
            Melbourne => id: 39

[01466/4573]Oslo
            Oslo => id: 574

[01468/4573]Mrida
            Merida => id: 501

[01470/4573]Lyon
            Lyon => id: 227

[01473/4573]Nantes
            Nantes => id: 233

[01474/4573]Mexico City
            Mexico City => id: 503

[01475/4573]Beijing
            Beijing => id: 150

[01477/4573]Voronezh
            Voronezh => id: 680

[01479/4573]Bogot
            Bogota => id: 170

[01483/4573]Agadir
            Agadir => id: 529

[01485/4573]Tallinn
            Tallinn => id: 210

[01492/4573]Samara
            Samara => id: 665

[01497/4573]Bogot
            Bogota => id: 170

[01499/4573]Nice
            Nice => id: 234

[01504/4573]Hamburg
            Hamburg => id: 251

[01505/4573]Madrid
            Madrid => id: 742

[01506/4573]Panama City
            Panama City => id: 592

[01507/4573]Rennes
            Rennes => id: 237

[01512/4573]San Francisco
            San Francisco => id: 178

[01514/4573]Tbilisi
            Tbilisi => id: 244

[01515/4573]Moscow
            Moscow => id: 652

[01516/4573]Paris
            Paris => id: 235

[01518/4573]Yerevan
            Yerevan => id: 19

[01520/4573]London
            London => id: 119

[01521/4573]Lyon
            Lyon => id: 227

[01522/4573]Madrid
            Madrid => id: 742

[01523/4573]Saint Petersburg
            Saint Petersburg => id: 664

[01526/4573]Valladolid
            Valladolid => id: 518

[01527/4573]Barcelona
            Barcelona => id: 725

[01529/4573]Portalegre
            Porto Alegre => id: 90

[01531/4573]Bucharest
            Bucharest => id: 632

[01535/4573]Milan
            Milan => id: 399

[01537/4573]Nantes
            Nantes => id: 233

[01540/4573]Mexico City
            Mexico City => id: 503

[01542/4573]Belgrade
            Belgrade => id: 696

[01544/4573]Singapore
            Singapore => id: 703

[01552/4573]Bogot
            Bogota => id: 170

[01553/4573]Madrid
            Madrid => id: 742

[01555/4573]Novi Sad
            Novi Sad => id: 699

[01556/4573]Geneva
            Geneva => id: 770

[01558/4573]Toronto
            Toronto => id: 136

[01559/4573]Riga
            Riga => id: 442

[01561/4573]Denver
            Denver => id: 31

[01563/4573]La Serena
            La Serena => id: 145

[01564/4573]Skopje
            Skopje => id: 565

[01568/4573]Richmond
            Richmond => id: 415

[01569/4573]Seoul
            Seoul => id: 720

[01574/4573]Madrid
            Madrid => id: 742

[01576/4573]Barcelona
            Barcelona => id: 725

[01578/4573]Pau
            Pau => id: 236

[01579/4573]Sofia
            Sofia => id: 100

[01583/4573]Singapore
            Singapore => id: 703

[01584/4573]Paris
            Paris => id: 235

[01586/4573]Beirut
            Beirut => id: 443

[01592/4573]Brisbane
            Brisbane => id: 24

[01594/4573]Vienna
            Vienna => id: 48

[01595/4573]Kuala Lumpur
            Kuala Lumpur => id: 463

[01599/4573]Johor Bahru
            Johor Bahru => id: 460

[01600/4573]Madrid
            Madrid => id: 742

[01601/4573]San Francisco
            San Francisco => id: 178

[01602/4573]Berlin
            Berlin => id: 246

[01604/4573]Denver
            Denver => id: 31

[01605/4573]Budapest
            Budapest => id: 283

[01606/4573]Turin
            Turin => id: 408

[01610/4573]Adelaide
            Adelaide => id: 21

[01611/4573]Xian
            Xian => id: 166

[01612/4573]London
            London => id: 119

[01614/4573]London
            London => id: 119

[01618/4573]Moscow
            Moscow => id: 652

[01620/4573]Moscow
            Moscow => id: 652

[01624/4573]Auckland
            Auckland => id: 549

[01626/4573]Brussels
            Brussels => id: 63

[01628/4573]Barcelona
            Barcelona => id: 725

[01629/4573]Barcelona
            Barcelona => id: 725

[01630/4573]Monterrey
            Monterrey => id: 504

[01634/4573]Thessaloniki
            Thessaloniki => id: 272

[01635/4573]Barcelona
            Barcelona => id: 725

[01640/4573]Prague
            Prague => id: 190

[01643/4573]Zrich
            Zurich => id: 771

[01645/4573]Rennes
            Rennes => id: 237

[01647/4573]Taipei
            Taipei => id: 777

[01650/4573]Milan
            Milan => id: 399

[01653/4573]Munich
            Munich => id: 254

[01655/4573]Warsaw
            Warsaw => id: 618

[01659/4573]Madrid
            Madrid => id: 742

[01663/4573]Budapest
            Budapest => id: 283

[01665/4573]Toulouse
            Toulouse => id: 240

[01667/4573]Lima
            Lima => id: 599

[01670/4573]Paris
            Paris => id: 235

[01671/4573]Tirana
            Tirana => id: 1

[01673/4573]Frankfurt
            Frankfurt => id: 250

[01674/4573]Ulyanovsk
            Ulyanovsk => id: 676

[01675/4573]Rome
            Rome => id: 405

[01677/4573]Beijing
            Beijing => id: 150

[01678/4573]Berlin
            Berlin => id: 246

[01680/4573]Kuala Lumpur
            Kuala Lumpur => id: 463

[01682/4573]Milan
            Milan => id: 399

[01684/4573]Berlin
            Berlin => id: 246

[01685/4573]Hong Kong
            Hong Kong => id: 282

[01688/4573]Guatemala City
            Guatemala City => id: 276

[01694/4573]Denver
            Denver => id: 31

[01696/4573]Strasbourg
            Strasbourg => id: 239

[01699/4573]Katowice
            Katowice => id: 614

[01704/4573]London
            London => id: 119

[01705/4573]Athens
            Athens => id: 261

[01706/4573]Cambridge
            Cambridge => id: 550

[01711/4573]Moscow
            Moscow => id: 652

[01716/4573]Singapore
            Singapore => id: 703

[01717/4573]Berlin
            Berlin => id: 246

[01719/4573]Taipei
            Taipei => id: 777

[01721/4573]Kristiansand
            Kristiansand => id: 571

[01722/4573]Curitiba
            Curitiba => id: 83

[01723/4573]Mexico City
            Mexico City => id: 503

[01729/4573]Brest
            Brest => id: 223

[01730/4573]Doha
            Doha => id: 629

[01732/4573]Madrid
            Madrid => id: 742

[01733/4573]Rome
            Rome => id: 405

[01734/4573]London
            London => id: 119

[01735/4573]Budapest
            Budapest => id: 283

[01742/4573]Vilnius
            Vilnius => id: 450

[01743/4573]Lyon
            Lyon => id: 227

[01745/4573]Hamburg
            Hamburg => id: 251

[01746/4573]San Jos
            San Jose => id: 179

[01753/4573]Accra
            Accra => id: 258

[01764/4573]Medelln
            Medellin => id: 174

[01765/4573]Singapore
            Singapore => id: 703

[01768/4573]Bangkok
            Bangkok => id: 781

[01769/4573]Vienna
            Vienna => id: 48

[01773/4573]Milan
            Milan => id: 399

[01777/4573]Moscow
            Moscow => id: 652

[01780/4573]Izhevsk
            Izhevsk => id: 641

[01786/4573]Sofia
            Sofia => id: 100

[01788/4573]Muscat
            Muscat => id: 579

[01790/4573]Kelowna
            Kelowna => id: 118

[01793/4573]Guatemala City
            Guatemala City => id: 276

[01796/4573]Beirut
            Beirut => id: 443

[01798/4573]Genoa
            Genoa => id: 394

[01802/4573]Bucharest
            Bucharest => id: 632

[01806/4573]Perm
            Perm => id: 661

[01807/4573]Milan
            Milan => id: 399

[01808/4573]Madrid
            Madrid => id: 742

[01811/4573]Warsaw
            Warsaw => id: 618

[01813/4573]Berlin
            Berlin => id: 246

[01816/4573]Athens
            Athens => id: 261

[01817/4573]Turin
            Turin => id: 408

[01820/4573]Mexico City
            Mexico City => id: 503

[01823/4573]Chisinau
            Chisinau => id: 522

[01824/4573]Granada
            Granada => id: 735

[01825/4573]Zhengzhou
            Zhengzhou => id: 168

[01827/4573]Pune
            Pune => id: 338

[01831/4573]Barcelona
            Barcelona => id: 725

[01833/4573]Yekaterinburg
            Yekaterinburg => id: 682

[01834/4573]Lisbon
            Lisbon => id: 624

[01835/4573]Alesund
            Alesund => id: 566

[01839/4573]Cotonou
            Cotonou => id: 66

[01846/4573]London
            London => id: 119

[01851/4573]Izhevsk
            Izhevsk => id: 641

[01853/4573]Barcelona
            Barcelona => id: 725

[01854/4573]Shanghai
            Shanghai => id: 162

[01855/4573]Bucaramanga
            Bucaramanga => id: 171

[01861/4573]Nantes
            Nantes => id: 233

[01862/4573]Milan
            Milan => id: 399

[01864/4573]Turin
            Turin => id: 408

[01866/4573]Paris
            Paris => id: 235

[01867/4573]East London
            East London => id: 713

[01868/4573]Valencia
            Valencia => id: 752

[01871/4573]Berlin
            Berlin => id: 246

[01874/4573]Milan
            Milan => id: 399

[01875/4573]Limassol
            Limassol => id: 186

[01877/4573]Tbilisi
            Tbilisi => id: 244

[01878/4573]Aktobe
            Aktobe => id: 430

[01881/4573]Como
            Como => id: 393

[01882/4573]Nantes
            Nantes => id: 233

[01885/4573]Sapporo
            Sapporo => id: 425

[01886/4573]Milan
            Milan => id: 399

[01892/4573]Istanbul
            Istanbul => id: 809

[01895/4573]Moscow
            Moscow => id: 652

[01896/4573]London
            London => id: 119

[01899/4573]Nantes
            Nantes => id: 233

[01903/4573]So Paulo
            Sao Paulo => id: 94

[01905/4573]Rome
            Rome => id: 405

[01907/4573]Toronto
            Toronto => id: 136

[01908/4573]Moscow
            Moscow => id: 652

[01911/4573]Tainan
            Tainan => id: 776

[01912/4573]Nantes
            Nantes => id: 233

[01915/4573]Rome
            Rome => id: 405

[01916/4573]Bangkok
            Bangkok => id: 781

[01920/4573]Milan
            Milan => id: 399

[01921/4573]Montreal
            Montreal => id: 123

[01923/4573]Berlin
            Berlin => id: 246

[01924/4573]Montpelier
            Montpellier => id: 230

[01925/4573]London
            London => id: 119

[01935/4573]Bogot
            Bogota => id: 170

[01937/4573]London
            London => id: 119

[01938/4573]Milan
            Milan => id: 399

[01943/4573]Frankfurt
            Frankfurt => id: 250

[01944/4573]Mexico City
            Mexico City => id: 503

[01945/4573]Monterrey
            Monterrey => id: 504

[01950/4573]Geneva
            Geneva => id: 770

[01955/4573]Medelln
            Medellin => id: 174

[01961/4573]Nicosia
            Nicosia => id: 187

[01965/4573]Bryansk
            Bryansk => id: 639

[01968/4573]Stockholm
            Stockholm => id: 767

[01969/4573]San Jose
            San Jose => id: 179

[01975/4573]Montpellier
            Montpellier => id: 230

[01976/4573]Zacatecas
            Zacatecas => id: 521

[01985/4573]San Antonio
            San Antonio => id: 596

[01987/4573]Sofia
            Sofia => id: 100

[01992/4573]Berlin
            Berlin => id: 246

[01999/4573]Madrid
            Madrid => id: 742

[02001/4573]Warsaw
            Warsaw => id: 618

[02014/4573]Prague
            Prague => id: 190

[02018/4573]Ottawa
            Ottawa => id: 128

[02019/4573]Bishkek
            Bishkek => id: 440

[02020/4573]Sydney
            Sydney => id: 43

[02022/4573]Santa Cruz
            Santa Cruz => id: 72

[02031/4573]Toulouse
            Toulouse => id: 240

[02033/4573]Milton
            Milton => id: 121

[02036/4573]Santa Cruz
            Santa Cruz => id: 72

[02038/4573]Beirut
            Beirut => id: 443

[02057/4573]Vancouver
            Vancouver => id: 137

[02064/4573]Trieste
            Trieste => id: 407

[02066/4573]Penza
            Penza => id: 660

[02071/4573]Istanbul
            Istanbul => id: 809

[02073/4573]Istanbul
            Istanbul => id: 809

[02084/4573]Denver
            Denver => id: 31

[02085/4573]Barcelona
            Barcelona => id: 725

[02089/4573]Singapore
            Singapore => id: 703

[02090/4573]Guadalajara
            Guadalajara => id: 736

[02091/4573]Mexico City
            Mexico City => id: 503

[02092/4573]Sydney
            Sydney => id: 43

[02093/4573]Barcelona
            Barcelona => id: 725

[02096/4573]Madrid
            Madrid => id: 742

[02102/4573]Irkutsk
            Irkutsk => id: 640

[02103/4573]Mexico City
            Mexico City => id: 503

[02110/4573]Yogyakarta
            Yogyakarta => id: 365

[02114/4573]Paris
            Paris => id: 235

[02125/4573]Ankara
            Ankara => id: 802

[02129/4573]Kuala Lumpur
            Kuala Lumpur => id: 463

[02135/4573]Singapore
            Singapore => id: 703

[02136/4573]Chisinau
            Chisinau => id: 522

[02143/4573]Milan
            Milan => id: 399

[02145/4573]Novosibirsk
            Novosibirsk => id: 657

[02146/4573]Geneva
            Geneva => id: 770

[02147/4573]London
            London => id: 119

[02148/4573]Ljubljana
            Ljubljana => id: 708

[02149/4573]Beijing
            Beijing => id: 150

[02150/4573]San Antonio
            San Antonio => id: 596

[02152/4573]San Antonio
            San Antonio => id: 596

[02153/4573]Panama City
            Panama City => id: 592

[02163/4573]Paris
            Paris => id: 235

[02165/4573]Prague
            Prague => id: 190

[02170/4573]Madrid
            Madrid => id: 742

[02176/4573]Paris
            Paris => id: 235

[02181/4573]Sapporo
            Sapporo => id: 425

[02184/4573]London
            London => id: 119

[02186/4573]Paris
            Paris => id: 235

[02194/4573]London
            London => id: 119

[02196/4573]Durango
            Durango => id: 493

[02198/4573]Rotterdam
            Rotterdam => id: 547

[02199/4573]Toronto
            Toronto => id: 136

[02202/4573]Montreal
            Montreal => id: 123

[02207/4573]Bogot
            Bogota => id: 170

[02212/4573]Tokyo
            Tokyo => id: 427

[02213/4573]Kingston
            Kingston => id: 411

[02217/4573]Lisbon
            Lisbon => id: 624

[02218/4573]Huelva
            Huelva => id: 737

[02219/4573]Canberra
            Canberra => id: 28

[02220/4573]Chisinau
            Chisinau => id: 522

[02221/4573]Sapporo
            Sapporo => id: 425

[02223/4573]Irkutsk
            Irkutsk => id: 640

[02225/4573]Perth
            Perth => id: 40

[02226/4573]Tirana
            Tirana => id: 1

[02228/4573]Samara
            Samara => id: 665

[02240/4573]London
            London => id: 119

[02241/4573]Yekaterinburg
            Yekaterinburg => id: 682

[02251/4573]Tijuana
            Tijuana => id: 513

[02253/4573]Bishkek
            Bishkek => id: 440

[02254/4573]Shanghai
            Shanghai => id: 162

[02261/4573]Porto
            Porto => id: 626

[02264/4573]Medelln
            Medellin => id: 174

[02267/4573]Mexico City
            Mexico City => id: 503

[02270/4573]Cartagena
            Cartagena => id: 728

[02271/4573]Tbilisi
            Tbilisi => id: 244

[02272/4573]Shanghai
            Shanghai => id: 162

[02276/4573]Shenzhen
            Shenzhen => id: 164

[02282/4573]Budapest
            Budapest => id: 283

[02284/4573]Melbourne
            Melbourne => id: 39

[02285/4573]Tijuana
            Tijuana => id: 513

[02293/4573]Nicosia
            Nicosia => id: 187

[02294/4573]Budapest
            Budapest => id: 283

[02304/4573]Denver
            Denver => id: 31

[02320/4573]Chihuahua
            Chihuahua => id: 488

[02323/4573]Bogot
            Bogota => id: 170

[02326/4573]Dublin
            Dublin => id: 379

[02336/4573]London
            London => id: 119

[02338/4573]Medelln
            Medellin => id: 174

[02342/4573]Amsterdam
            Amsterdam => id: 542

[02347/4573]Barcelona
            Barcelona => id: 725

[02351/4573]Edmonton
            Edmonton => id: 111

[02360/4573]Prague
            Prague => id: 190

[02369/4573]Victoria
            Vitoria => id: 98

[02372/4573]Sendai
            Sendai => id: 426

[02373/4573]Barcelona
            Barcelona => id: 725

[02379/4573]Nicosia
            Nicosia => id: 187

[02391/4573]Vaasa
            Vaasa => id: 219

[02396/4573]Guatemala City
            Guatemala City => id: 276

[02405/4573]Kingston
            Kingston => id: 411

[02415/4573]San Francisco
            San Francisco => id: 178

[02420/4573]Tbilisi
            Tbilisi => id: 244

[02421/4573]Toronto
            Toronto => id: 136

[02424/4573]Gothenburg
            Gothenburg => id: 760

[02428/4573]Mexico City
            Mexico City => id: 503

[02441/4573]Cambridge
            Cambridge => id: 550

[02446/4573]Bangkok
            Bangkok => id: 781

[02449/4573]Lima
            Lima => id: 599

[02454/4573]Durango
            Durango => id: 493

[02457/4573]Amsterdam
            Amsterdam => id: 542

[02459/4573]Dublin
            Dublin => id: 379

[02463/4573]Almaty
            Almaty => id: 431

[02477/4573]Kingston
            Kingston => id: 411

[02488/4573]Moscow
            Moscow => id: 652

[02508/4573]Wuhan
            Wuhan => id: 165

[02513/4573]Yogyakarta
            Yogyakarta => id: 365

[02526/4573]Phoenix
            Phoenix => id: 482

[02528/4573]Frankfurt
            Frankfurt => id: 250

[02539/4573]Toronto
            Toronto => id: 136

[02543/4573]Madrid
            Madrid => id: 742

[02549/4573]Prague
            Prague => id: 190

[02550/4573]Burlington
            Burlington => id: 107

[02557/4573]Moscow
            Moscow => id: 652

[02560/4573]Buenos Aires
            Buenos Aires => id: 13

[02564/4573]Rome
            Rome => id: 405

[02566/4573]Singapore
            Singapore => id: 703

[02567/4573]Mexico City
            Mexico City => id: 503

[02570/4573]Nairobi
            Nairobi => id: 435

[02577/4573]San Juan
            San Juan => id: 791

[02578/4573]Mexico City
            Mexico City => id: 503

[02587/4573]Barcelona
            Barcelona => id: 725

[02598/4573]Taipei
            Taipei => id: 777

[02609/4573]Tlaxcala
            Tlaxcala => id: 514

[02613/4573]Mexico City
            Mexico City => id: 503

[02617/4573]Vancouver
            Vancouver => id: 137

[02620/4573]Albury
            Albury => id: 22

[02626/4573]Bogot
            Bogota => id: 170

[02629/4573]Joensuu
            Joensuu => id: 216

[02632/4573]Madrid
            Madrid => id: 742

[02633/4573]Santiago
            Santiago => id: 593

[02634/4573]Chihuahua
            Chihuahua => id: 488

[02640/4573]Paris
            Paris => id: 235

[02642/4573]Richmond
            Richmond => id: 415

[02651/4573]Concepcin
            Concepcion => id: 144

[02664/4573]Fukuoka
            Fukuoka => id: 416

[02666/4573]Guatemala City
            Guatemala City => id: 276

[02668/4573]Athens
            Athens => id: 261

[02669/4573]San Juan
            San Juan => id: 791

[02671/4573]Zrich
            Zurich => id: 771

[02673/4573]Moscow
            Moscow => id: 652

[02678/4573]Baku
            Baku => id: 50

[02686/4573]Perth
            Perth => id: 40

[02689/4573]Singapore
            Singapore => id: 703

[02690/4573]Barcelona
            Barcelona => id: 725

[02692/4573]Dublin
            Dublin => id: 379

[02698/4573]Moscow
            Moscow => id: 652

[02699/4573]Crdoba
            Cordoba => id: 730

[02704/4573]Barcelona
            Barcelona => id: 725

[02714/4573]San Jos
            San Jose => id: 179

[02716/4573]Oulu
            Oulu => id: 217

[02717/4573]Moscow
            Moscow => id: 652

[02719/4573]Athens
            Athens => id: 261

[02724/4573]Barcelona
            Barcelona => id: 725

[02726/4573]Orenburg
            Orenburg => id: 659

[02732/4573]Cambridge
            Cambridge => id: 550

[02733/4573]Kingston
            Kingston => id: 411

[02734/4573]Mexico City
            Mexico City => id: 503

[02748/4573]Athens
            Athens => id: 261

[02750/4573]Barranquilla
            Barranquilla => id: 169

[02755/4573]Nantes
            Nantes => id: 233

[02759/4573]Adelaide
            Adelaide => id: 21

[02763/4573]Concepcin
            Concepcion => id: 144

[02766/4573]Madrid
            Madrid => id: 742

[02772/4573]London
            London => id: 119

[02775/4573]Nizhny Novgorod
            Nizhny Novgorod => id: 654

[02776/4573]Thessaloniki
            Thessaloniki => id: 272

[02778/4573]Paris
            Paris => id: 235

[02780/4573]Moscow
            Moscow => id: 652

[02782/4573]Vienna
            Vienna => id: 48

[02784/4573]Budapest
            Budapest => id: 283

[02785/4573]Cologne
            Cologne => id: 247

[02786/4573]Lisbon
            Lisbon => id: 624

[02787/4573]Rome
            Rome => id: 405

[02794/4573]Mexico City
            Mexico City => id: 503

[02795/4573]Sofia
            Sofia => id: 100

[02797/4573]Moscow
            Moscow => id: 652

[02799/4573]Reykjavk
            Reykjavik => id: 287

[02801/4573]Pau
            Pau => id: 236

[02802/4573]London
            London => id: 119

[02803/4573]Irkutsk
            Irkutsk => id: 640

[02805/4573]Madrid
            Madrid => id: 742

[02813/4573]Nantes
            Nantes => id: 233

[02815/4573]Saint Petersburg
            Saint Petersburg => id: 664

[02817/4573]Baku
            Baku => id: 50

[02818/4573]Berlin
            Berlin => id: 246

[02819/4573]Cologne
            Cologne => id: 247

[02821/4573]Milan
            Milan => id: 399

[02827/4573]Kazan
            Kazan => id: 643

[02828/4573]Chania
            Chania => id: 262

[02834/4573]Stockholm
            Stockholm => id: 767

[02838/4573]Paris
            Paris => id: 235

[02839/4573]Oviedo
            Oviedo => id: 745

[02841/4573]Saint Petersburg
            Saint Petersburg => id: 664

[02843/4573]Bordeaux
            Bordeaux => id: 222

[02846/4573]Cambridge
            Cambridge => id: 550

[02848/4573]Madrid
            Madrid => id: 742

[02850/4573]Porto
            Porto => id: 626

[02856/4573]Barcelona
            Barcelona => id: 725

[02863/4573]Vilnius
            Vilnius => id: 450

[02867/4573]Berlin
            Berlin => id: 246

[02870/4573]Kyoto
            Kyoto => id: 420

[02873/4573]Melbourne
            Melbourne => id: 39

[02874/4573]Perth
            Perth => id: 40

[02878/4573]Panama City
            Panama City => id: 592

[02880/4573]Berlin
            Berlin => id: 246

[02884/4573]Crdoba
            Cordoba => id: 730

[02890/4573]Dublin
            Dublin => id: 379

[02893/4573]Chihuahua
            Chihuahua => id: 488

[02902/4573]Marseille
            Marseille => id: 228

[02905/4573]Ankara
            Ankara => id: 802

[02911/4573]Zhengzhou
            Zhengzhou => id: 168

[02917/4573]Bordeaux
            Bordeaux => id: 222

[02919/4573]Cambridge
            Cambridge => id: 550

[02921/4573]Bangkok
            Bangkok => id: 781

[02924/4573]Cambridge
            Cambridge => id: 550

[02935/4573]Athens
            Athens => id: 261

[02936/4573]Varna
            Varna => id: 101

[02938/4573]Antalya
            Antalya => id: 803

[02939/4573]So Paulo
            Sao Paulo => id: 94

[02940/4573]Aarhus
            Arhus => id: 192

[02953/4573]Lyon
            Lyon => id: 227

[02958/4573]Sarajevo
            Sarajevo => id: 73

[02962/4573]Stavropol
            Stavropol => id: 671

[02967/4573]Montreal
            Montreal => id: 123

[02968/4573]Bologna
            Bologna => id: 389

[02972/4573]Volgograd
            Volgograd => id: 678

[02977/4573]Bangkok
            Bangkok => id: 781

[02981/4573]Toronto
            Toronto => id: 136

[02984/4573]Saint Petersburg
            Saint Petersburg => id: 664

[02985/4573]Munich
            Munich => id: 254

[02988/4573]Gaziantep
            Gaziantep => id: 806

[02989/4573]Toulouse
            Toulouse => id: 240

[02990/4573]San Antonio
            San Antonio => id: 596

[02995/4573]Klagenfurt
            Klagenfurt => id: 47

[02996/4573]Bucaramanga
            Bucaramanga => id: 171

[03003/4573]Zagreb
            Zagreb => id: 182

[03004/4573]Seoul
            Seoul => id: 720

[03007/4573]Dalian
            Dalian => id: 155

[03015/4573]Magnitogorsk
            Magnitogorsk => id: 650

[03018/4573]Zrich
            Zurich => id: 771

[03021/4573]Istanbul
            Istanbul => id: 809

[03026/4573]Barcelona
            Barcelona => id: 725

[03031/4573]Xian
            Xian => id: 166

[03032/4573]Lecce
            Lecce => id: 395

[03033/4573]Zagreb
            Zagreb => id: 182

[03035/4573]Barcelona
            Barcelona => id: 725

[03039/4573]Eindhoven
            Eindhoven => id: 545

[03040/4573]Concepcin
            Concepcion => id: 144

[03041/4573]Hiroshima
            Hiroshima => id: 417

[03047/4573]Bogot
            Bogota => id: 170

[03054/4573]Haifa
            Haifa => id: 382

[03055/4573]Trieste
            Trieste => id: 407

[03063/4573]Melbourne
            Melbourne => id: 39

[03065/4573]Braslia
            Brasilia => id: 79

[03067/4573]Shanghai
            Shanghai => id: 162

[03069/4573]Milan
            Milan => id: 399

[03072/4573]Riyadh
            Riyadh => id: 693

[03075/4573]Prague
            Prague => id: 190

[03076/4573]Valencia
            Valencia => id: 752

[03077/4573]Singapore
            Singapore => id: 703

[03079/4573]Taipei
            Taipei => id: 777

[03081/4573]Kuala Lumpur
            Kuala Lumpur => id: 463

[03084/4573]Denver
            Denver => id: 31

[03089/4573]London
            London => id: 119

[03092/4573]Doha
            Doha => id: 629

[03106/4573]Madrid
            Madrid => id: 742

[03108/4573]Mexico City
            Mexico City => id: 503

[03110/4573]Kazan
            Kazan => id: 643

[03120/4573]Moscow
            Moscow => id: 652

[03121/4573]Saltillo
            Saltillo => id: 509

[03125/4573]Taipei
            Taipei => id: 777

[03127/4573]Jena
            Jena => id: 252

[03130/4573]Arkhangelsk
            Arkhangelsk => id: 636

[03133/4573]Cali
            Cali => id: 172

[03136/4573]Prague
            Prague => id: 190

[03140/4573]Dumaguete
            Dumaguete => id: 606

[03141/4573]Kyoto
            Kyoto => id: 420

[03143/4573]Warsaw
            Warsaw => id: 618

[03154/4573]So Paulo
            Sao Paulo => id: 94

[03155/4573]Zagreb
            Zagreb => id: 182

[03158/4573]Bangkok
            Bangkok => id: 781

[03160/4573]Phoenix
            Phoenix => id: 482

[03178/4573]Gibraltar
            Gibraltar => id: 260

[03179/4573]Taipei
            Taipei => id: 777

[03183/4573]Esbjerg
            Esbjerg => id: 194

[03184/4573]Rome
            Rome => id: 405

[03196/4573]Hamburg
            Hamburg => id: 251

[03198/4573]Tbilisi
            Tbilisi => id: 244

[03199/4573]Bogot
            Bogota => id: 170

[03201/4573]Lisbon
            Lisbon => id: 624

[03204/4573]Burlington
            Burlington => id: 107

[03206/4573]Paris
            Paris => id: 235

[03210/4573]Granada
            Granada => id: 735

[03211/4573]Milan
            Milan => id: 399

[03212/4573]Toulouse
            Toulouse => id: 240

[03215/4573]Berlin
            Berlin => id: 246

[03219/4573]London
            London => id: 119

[03220/4573]Barcelona
            Barcelona => id: 725

[03221/4573]Barcelona
            Barcelona => id: 725

[03225/4573]Mendoza
            Mendoza => id: 15

[03227/4573]Melbourne
            Melbourne => id: 39

[03228/4573]Turin
            Turin => id: 408

[03229/4573]Valladolid
            Valladolid => id: 518

[03233/4573]Mexico City
            Mexico City => id: 503

[03234/4573]Rome
            Rome => id: 405

[03235/4573]Milan
            Milan => id: 399

[03236/4573]Turin
            Turin => id: 408

[03243/4573]Brussels
            Brussels => id: 63

[03248/4573]Victoria
            Vitoria => id: 98

[03251/4573]Zrich
            Zurich => id: 771

[03253/4573]Cambridge
            Cambridge => id: 550

[03254/4573]Barcelona
            Barcelona => id: 725

[03260/4573]Nairobi
            Nairobi => id: 435

[03262/4573]Moscow
            Moscow => id: 652

[03263/4573]San Juan
            San Juan => id: 791

[03265/4573]Palermo
            Palermo => id: 401

[03272/4573]London
            London => id: 119

[03285/4573]London
            London => id: 119

[03292/4573]Cali
            Cali => id: 172

[03298/4573]Yangon
            Yangon => id: 536

[03299/4573]Florianpolis
            Florianopolis => id: 84

[03302/4573]Buenos Aires
            Buenos Aires => id: 13

[03312/4573]Medelln
            Medellin => id: 174

[03313/4573]Mexico City
            Mexico City => id: 503

[03321/4573]Cairo
            Cairo => id: 204

[03323/4573]Santiago
            Santiago => id: 593

[03329/4573]Porto Alegre
            Porto Alegre => id: 90

[03330/4573]Warsaw
            Warsaw => id: 618

[03332/4573]Warsaw
            Warsaw => id: 618

[03335/4573]San Francisco
            San Francisco => id: 178

[03338/4573]Kobe
            Kobe => id: 419

[03344/4573]Kursk
            Kursk => id: 649

[03346/4573]Leon
            Leon => id: 741

[03347/4573]Warsaw
            Warsaw => id: 618

[03359/4573]Hiroshima
            Hiroshima => id: 417

[03371/4573]Taipei
            Taipei => id: 777

[03376/4573]Kaunas
            Kaunas => id: 449

[03377/4573]Bogot
            Bogota => id: 170

[03388/4573]Toronto
            Toronto => id: 136

[03389/4573]Buenos Aires
            Buenos Aires => id: 13

[03393/4573]Madrid
            Madrid => id: 742

[03395/4573]Buenos Aires
            Buenos Aires => id: 13

[03422/4573]Barcelona
            Barcelona => id: 725

[03423/4573]San Pedro Garza Garca
            San Pedro Garza Garcia => id: 511

[03428/4573]Pozna
            Poznan => id: 617

[03429/4573]Istanbul
            Istanbul => id: 809

[03432/4573]Madrid
            Madrid => id: 742

[03437/4573]Toronto
            Toronto => id: 136

[03438/4573]Dublin
            Dublin => id: 379

[03439/4573]Lisbon
            Lisbon => id: 624

[03442/4573]Fukuoka
            Fukuoka => id: 416

[03446/4573]Denver
            Denver => id: 31

[03447/4573]Irkutsk
            Irkutsk => id: 640

[03449/4573]Rotterdam
            Rotterdam => id: 547

[03451/4573]London
            London => id: 119

[03453/4573]Frankfurt
            Frankfurt => id: 250

[03454/4573]Madrid
            Madrid => id: 742

[03455/4573]London
            London => id: 119

[03458/4573]Bogot
            Bogota => id: 170

[03459/4573]Koice
            Kosice => id: 705

[03469/4573]Monterrey
            Monterrey => id: 504

[03483/4573]Sofia
            Sofia => id: 100

[03497/4573]Kyoto
            Kyoto => id: 420

[03503/4573]Ufa
            Ufa => id: 675

[03507/4573]Taipei
            Taipei => id: 777

[03516/4573]Medelln
            Medellin => id: 174

[03517/4573]Santiago
            Santiago => id: 593

[03521/4573]Marbella
            Marbella => id: 744

[03525/4573]London
            London => id: 119

[03529/4573]San Jos
            San Jose => id: 179

[03533/4573]Prague
            Prague => id: 190

[03538/4573]Oslo
            Oslo => id: 574

[03539/4573]Toronto
            Toronto => id: 136

[03542/4573]Kyoto
            Kyoto => id: 420

[03544/4573]Edmonton
            Edmonton => id: 111

[03547/4573]Dublin
            Dublin => id: 379

[03551/4573]Oslo
            Oslo => id: 574

[03552/4573]Vancouver
            Vancouver => id: 137

[03569/4573]Hiroshima
            Hiroshima => id: 417

[03573/4573]Rome
            Rome => id: 405

[03576/4573]Buenos Aires
            Buenos Aires => id: 13

[03586/4573]Vancouver
            Vancouver => id: 137

[03587/4573]Bucharest
            Bucharest => id: 632

[03588/4573]Prague
            Prague => id: 190

[03589/4573]Joensuu
            Joensuu => id: 216

[03591/4573]Montreal
            Montreal => id: 123

[03593/4573]Kuala Lumpur
            Kuala Lumpur => id: 463

[03605/4573]San Jos
            San Jose => id: 179

[03609/4573]Baku
            Baku => id: 50

[03611/4573]Gothenburg
            Gothenburg => id: 760

[03615/4573]Winnipeg
            Winnipeg => id: 140

[03616/4573]San Juan
            San Juan => id: 791

[03621/4573]Milan
            Milan => id: 399

[03623/4573]Ottawa
            Ottawa => id: 128

[03629/4573]Hong Kong
            Hong Kong => id: 282

[03630/4573]Wrocaw
            Wroclaw => id: 619

[03631/4573]Montreal
            Montreal => id: 123

[03634/4573]Sydney
            Sydney => id: 43

[03644/4573]Rome
            Rome => id: 405

[03645/4573]Edmonton
            Edmonton => id: 111

[03651/4573]Barcelona
            Barcelona => id: 725

[03655/4573]Brno
            Brno => id: 188

[03663/4573]Kristiansand
            Kristiansand => id: 571

[03664/4573]Budapest
            Budapest => id: 283

[03667/4573]Mexico City
            Mexico City => id: 503

[03673/4573]Vancouver
            Vancouver => id: 137

[03675/4573]Willemstad
            Willemstad => id: 184

[03693/4573]Hong Kong
            Hong Kong => id: 282

[03694/4573]London
            London => id: 119

[03697/4573]London
            London => id: 119

[03703/4573]Prague
            Prague => id: 190

[03705/4573]Beirut
            Beirut => id: 443

[03708/4573]Auckland
            Auckland => id: 549

[03712/4573]Prague
            Prague => id: 190

[03717/4573]Zrich
            Zurich => id: 771

[03721/4573]Kinshasa
            Kinshasa => id: 630

[03723/4573]Wuhan
            Wuhan => id: 165

[03724/4573]Barcelona
            Barcelona => id: 725

[03727/4573]Prague
            Prague => id: 190

[03736/4573]Tokyo
            Tokyo => id: 427

[03737/4573]London
            London => id: 119

[03742/4573]Nanjing
            Nanjing => id: 160

[03744/4573]Strasbourg
            Strasbourg => id: 239

[03746/4573]Hong Kong
            Hong Kong => id: 282

[03747/4573]Moscow
            Moscow => id: 652

[03752/4573]Cambridge
            Cambridge => id: 550

[03756/4573]Madrid
            Madrid => id: 742

[03762/4573]Madrid
            Madrid => id: 742

[03764/4573]Helsingborg
            Helsingborg => id: 761

[03766/4573]Pavlodar
            Pavlodar => id: 432

[03767/4573]Gothenburg
            Gothenburg => id: 760

[03768/4573]Paris
            Paris => id: 235

[03770/4573]Berlin
            Berlin => id: 246

[03775/4573]Melbourne
            Melbourne => id: 39

[03780/4573]Bangkok
            Bangkok => id: 781

[03781/4573]Santa Cruz
            Santa Cruz => id: 72

[03783/4573]London
            London => id: 119

[03784/4573]Nice
            Nice => id: 234

[03785/4573]Bucharest
            Bucharest => id: 632

[03786/4573]Hong Kong
            Hong Kong => id: 282

[03788/4573]Munich
            Munich => id: 254

[03790/4573]Moscow
            Moscow => id: 652

[03794/4573]Medelln
            Medellin => id: 174

[03796/4573]Geneva
            Geneva => id: 770

[03798/4573]Madrid
            Madrid => id: 742

[03799/4573]Rome
            Rome => id: 405

[03801/4573]London
            London => id: 119

[03802/4573]Kirov
            Kirov => id: 646

[03803/4573]Barcelona
            Barcelona => id: 725

[03804/4573]Prague
            Prague => id: 190

[03806/4573]Medelln
            Medellin => id: 174

[03810/4573]Bangkok
            Bangkok => id: 781

[03811/4573]Phoenix
            Phoenix => id: 482

[03812/4573]Kuala Lumpur
            Kuala Lumpur => id: 463

[03813/4573]Phoenix
            Phoenix => id: 482

[03814/4573]Munich
            Munich => id: 254

[03821/4573]Vancouver
            Vancouver => id: 137

[03825/4573]Madrid
            Madrid => id: 742

[03826/4573]Paris
            Paris => id: 235

[03828/4573]Oslo
            Oslo => id: 574

[03830/4573]Thessaloniki
            Thessaloniki => id: 272

[03835/4573]London
            London => id: 119

[03838/4573]Granada
            Granada => id: 735

[03839/4573]Barcelona
            Barcelona => id: 725

[03841/4573]Mexico City
            Mexico City => id: 503

[03843/4573]Madrid
            Madrid => id: 742

[03849/4573]Berlin
            Berlin => id: 246

[03850/4573]Budapest
            Budapest => id: 283

[03858/4573]Montpellier
            Montpellier => id: 230

[03860/4573]Ghaziabad
            Ghaziabad => id: 306

[03861/4573]Hamilton
            Hamilton => id: 553

[03862/4573]London
            London => id: 119

[03863/4573]Novi Sad
            Novi Sad => id: 699

[03874/4573]London
            London => id: 119

[03876/4573]London
            London => id: 119

[03878/4573]Adelaide
            Adelaide => id: 21

[03879/4573]Porto
            Porto => id: 626

[03880/4573]Istanbul
            Istanbul => id: 809

[03881/4573]Dublin
            Dublin => id: 379

[03884/4573]London
            London => id: 119

[03888/4573]Belgrade
            Belgrade => id: 696

[03891/4573]Bucharest
            Bucharest => id: 632

[03896/4573]Tbilisi
            Tbilisi => id: 244

[03900/4573]Rome
            Rome => id: 405

[03903/4573]Hamburg
            Hamburg => id: 251

[03905/4573]Athens
            Athens => id: 261

[03908/4573]Rome
            Rome => id: 405

[03910/4573]Madrid
            Madrid => id: 742

[03914/4573]Rome
            Rome => id: 405

[03916/4573]Moscow
            Moscow => id: 652

[03917/4573]Rotterdam
            Rotterdam => id: 547

[03924/4573]Taipei
            Taipei => id: 777

[03927/4573]Tbilisi
            Tbilisi => id: 244

[03930/4573]Puerto Vallarta
            Puerto Vallarta => id: 507

[03934/4573]Taipei
            Taipei => id: 777

[03936/4573]Madrid
            Madrid => id: 742

[03938/4573]Bari
            Bari => id: 387

[03942/4573]Almaty
            Almaty => id: 431

[03944/4573]Taipei
            Taipei => id: 777

[03953/4573]Brno
            Brno => id: 188

[03957/4573]Kirov
            Kirov => id: 646

[03959/4573]Copenhagen
            Copenhagen => id: 193

[03961/4573]Saint Petersburg
            Saint Petersburg => id: 664

[03964/4573]Chihuahua
            Chihuahua => id: 488

[03966/4573]Warsaw
            Warsaw => id: 618

[03970/4573]Budapest
            Budapest => id: 283

[03972/4573]Saint Petersburg
            Saint Petersburg => id: 664

[03973/4573]Metz
            Metz => id: 229

[03976/4573]Mexico City
            Mexico City => id: 503

[03982/4573]London
            London => id: 119

[03984/4573]Bogot
            Bogota => id: 170

[03985/4573]Sofia
            Sofia => id: 100

[03986/4573]Moscow
            Moscow => id: 652

[03987/4573]Curitiba
            Curitiba => id: 83

[03988/4573]Montpellier
            Montpellier => id: 230

[03989/4573]Istanbul
            Istanbul => id: 809

[03994/4573]Mlaga
            Malaga => id: 743

[04001/4573]Taipei
            Taipei => id: 777

[04010/4573]San Jose
            San Jose => id: 179

[04017/4573]Nagoya
            Nagoya => id: 421

[04019/4573]Suva
            Suva => id: 214

[04022/4573]London
            London => id: 119

[04023/4573]Fukuoka
            Fukuoka => id: 416

[04025/4573]Bangkok
            Bangkok => id: 781

[04026/4573]Belgrade
            Belgrade => id: 696

[04032/4573]Doha
            Doha => id: 629

[04035/4573]Panama City
            Panama City => id: 592

[04039/4573]Hong Kong
            Hong Kong => id: 282

[04041/4573]Saint Petersburg
            Saint Petersburg => id: 664

[04044/4573]London
            London => id: 119

[04045/4573]Sofia
            Sofia => id: 100

[04046/4573]London
            London => id: 119

[04048/4573]Mexico City
            Mexico City => id: 503

[04052/4573]Ottawa
            Ottawa => id: 128

[04057/4573]Tbilisi
            Tbilisi => id: 244

[04059/4573]Lisbon
            Lisbon => id: 624

[04061/4573]Warsaw
            Warsaw => id: 618

[04062/4573]Paris
            Paris => id: 235

[04066/4573]Madrid
            Madrid => id: 742

[04069/4573]London
            London => id: 119

[04070/4573]Madrid
            Madrid => id: 742

[04073/4573]Hamburg
            Hamburg => id: 251

[04077/4573]London
            London => id: 119

[04078/4573]Kazan
            Kazan => id: 643

[04085/4573]Helsinki
            Helsinki => id: 215

[04086/4573]Paris
            Paris => id: 235

[04087/4573]Geneva
            Geneva => id: 770

[04088/4573]London
            London => id: 119

[04093/4573]Mexico City
            Mexico City => id: 503

[04096/4573]Barcelona
            Barcelona => id: 725

[04097/4573]Madrid
            Madrid => id: 742

[04099/4573]Paris
            Paris => id: 235

[04101/4573]Mexico City
            Mexico City => id: 503

[04107/4573]Moscow
            Moscow => id: 652

[04108/4573]Singapore
            Singapore => id: 703

[04109/4573]Banda Aceh
            Banda Aceh => id: 353

[04111/4573]Prague
            Prague => id: 190

[04112/4573]London
            London => id: 119

[04113/4573]Bucaramanga
            Bucaramanga => id: 171

[04114/4573]Istanbul
            Istanbul => id: 809

[04123/4573]Moscow
            Moscow => id: 652

[04124/4573]Batam
            Batam => id: 354

[04126/4573]Barcelona
            Barcelona => id: 725

[04128/4573]Sochi
            Sochi => id: 670

[04129/4573]Guatemala City
            Guatemala City => id: 276

[04130/4573]Porto
            Porto => id: 626

[04132/4573]Barcelona
            Barcelona => id: 725

[04139/4573]Kobe
            Kobe => id: 419

[04146/4573]San Jos
            San Jose => id: 179

[04148/4573]Shanghai
            Shanghai => id: 162

[04152/4573]Berlin
            Berlin => id: 246

[04153/4573]London
            London => id: 119

[04155/4573]London
            London => id: 119

[04156/4573]Milan
            Milan => id: 399

[04157/4573]Lisbon
            Lisbon => id: 624

[04159/4573]Thessaloniki
            Thessaloniki => id: 272

[04163/4573]Singapore
            Singapore => id: 703

[04165/4573]Johannesburg
            Johannesburg => id: 716

[04167/4573]Barcelona
            Barcelona => id: 725

[04168/4573]Bogot
            Bogota => id: 170

[04170/4573]Medelln
            Medellin => id: 174

[04172/4573]Prague
            Prague => id: 190

[04173/4573]London
            London => id: 119

[04174/4573]Culiacn
            Culiacan => id: 492

[04175/4573]Paris
            Paris => id: 235

[04176/4573]Barcelona
            Barcelona => id: 725

[04177/4573]London
            London => id: 119

[04184/4573]San Antonio
            San Antonio => id: 596

[04189/4573]Qubec City
            Quebec City => id: 131

[04193/4573]Tbilisi
            Tbilisi => id: 244

[04194/4573]Tijuana
            Tijuana => id: 513

[04200/4573]Cambridge
            Cambridge => id: 550

[04202/4573]Izmir
            Izmir => id: 810

[04206/4573]Novosibirsk
            Novosibirsk => id: 657

[04207/4573]Santa Cruz
            Santa Cruz => id: 72

[04208/4573]Volgograd
            Volgograd => id: 678

[04209/4573]Singapore
            Singapore => id: 703

[04211/4573]Hong Kong
            Hong Kong => id: 282

[04224/4573]Valencia
            Valencia => id: 752

[04231/4573]London
            London => id: 119

[04233/4573]Copenhagen
            Copenhagen => id: 193

[04237/4573]Warsaw
            Warsaw => id: 618

[04242/4573]London
            London => id: 119

[04252/4573]Berlin
            Berlin => id: 246

[04253/4573]Saint Petersburg
            Saint Petersburg => id: 664

[04256/4573]Dalian
            Dalian => id: 155

[04257/4573]Mexico City
            Mexico City => id: 503

[04262/4573]Lisbon
            Lisbon => id: 624

[04267/4573]Madrid
            Madrid => id: 742

[04268/4573]Taipei
            Taipei => id: 777

[04270/4573]Vienna
            Vienna => id: 48

[04271/4573]Dublin
            Dublin => id: 379

[04273/4573]Buenos Aires
            Buenos Aires => id: 13

[04274/4573]Milan
            Milan => id: 399

[04275/4573]Berlin
            Berlin => id: 246

[04276/4573]San Antonio
            San Antonio => id: 596

[04278/4573]Geneva
            Geneva => id: 770

[04281/4573]Milan
            Milan => id: 399

[04282/4573]Barcelona
            Barcelona => id: 725

[04285/4573]Mexico City
            Mexico City => id: 503

[04290/4573]Tel Avivyafo
            Tel Avivyafo => id: 383

[04298/4573]Paris
            Paris => id: 235

[04304/4573]Kingston
            Kingston => id: 411

[04309/4573]Nice
            Nice => id: 234

[04310/4573]Brussels
            Brussels => id: 63

[04314/4573]Athens
            Athens => id: 261

[04315/4573]Istanbul
            Istanbul => id: 809

[04317/4573]Geneva
            Geneva => id: 770

[04318/4573]Lviv
            Lviv => id: 822

[04323/4573]Brussels
            Brussels => id: 63

[04324/4573]Thessaloniki
            Thessaloniki => id: 272

[04325/4573]Ankara
            Ankara => id: 802

[04326/4573]Brussels
            Brussels => id: 63

[04330/4573]Madrid
            Madrid => id: 742

[04333/4573]Berlin
            Berlin => id: 246

[04337/4573]Montreal
            Montreal => id: 123

[04341/4573]Nicosia
            Nicosia => id: 187

[04342/4573]Zrich
            Zurich => id: 771

[04343/4573]Bogot
            Bogota => id: 170

[04344/4573]Culiacn
            Culiacan => id: 492

[04345/4573]Warsaw
            Warsaw => id: 618

[04348/4573]Buenos Aires
            Buenos Aires => id: 13

[04349/4573]Paris
            Paris => id: 235

[04352/4573]Manila
            Manila => id: 609

[04354/4573]Monterrey
            Monterrey => id: 504

[04363/4573]Kaunas
            Kaunas => id: 449

[04366/4573]Barcelona
            Barcelona => id: 725

[04367/4573]Valencia
            Valencia => id: 752

[04368/4573]Riga
            Riga => id: 442

[04370/4573]Antwerp
            Antwerp => id: 62

[04375/4573]Rome
            Rome => id: 405

[04376/4573]Athens
            Athens => id: 261

[04380/4573]London
            London => id: 119

[04382/4573]Madrid
            Madrid => id: 742

[04383/4573]Barcelona
            Barcelona => id: 725

[04385/4573]Lisbon
            Lisbon => id: 624

[04386/4573]Split
            Split => id: 181

[04390/4573]Christchurch
            Christchurch => id: 551

[04394/4573]Braov
            Brasov => id: 631

[04396/4573]Limoges
            Limoges => id: 226

[04397/4573]Saint Petersburg
            Saint Petersburg => id: 664

[04404/4573]Brussels
            Brussels => id: 63

[04408/4573]Paris
            Paris => id: 235

[04418/4573]Geneva
            Geneva => id: 770

[04419/4573]Melbourne
            Melbourne => id: 39

[04422/4573]Wrocaw
            Wroclaw => id: 619

[04424/4573]Trondheim
            Trondheim => id: 578

[04428/4573]Tbilisi
            Tbilisi => id: 244

[04433/4573]Stuttgart
            Stuttgart => id: 256

[04438/4573]Moscow
            Moscow => id: 652

[04439/4573]Tunis
            Tunis => id: 799

[04440/4573]Beijing
            Beijing => id: 150

[04443/4573]Leon
            Leon => id: 741

[04444/4573]Amsterdam
            Amsterdam => id: 542

[04457/4573]Manila
            Manila => id: 609

[04461/4573]Belgrade
            Belgrade => id: 696

[04466/4573]Taipei
            Taipei => id: 777

[04467/4573]Brest
            Brest => id: 223

[04472/4573]Tallinn
            Tallinn => id: 210

[04474/4573]London
            London => id: 119

[04475/4573]Sydney
            Sydney => id: 43

[04478/4573]Rennes
            Rennes => id: 237

[04488/4573]San Antonio
            San Antonio => id: 596

[04490/4573]Istanbul
            Istanbul => id: 809

[04492/4573]Bogot
            Bogota => id: 170

[04493/4573]Geneva
            Geneva => id: 770

[04496/4573]Amsterdam
            Amsterdam => id: 542

[04497/4573]Sofia
            Sofia => id: 100

[04499/4573]Hamilton
            Hamilton => id: 553

[04500/4573]Varna
            Varna => id: 101

[04503/4573]Berlin
            Berlin => id: 246

[04507/4573]Warsaw
            Warsaw => id: 618

[04511/4573]Paris
            Paris => id: 235

[04512/4573]Lisbon
            Lisbon => id: 624

[04513/4573]Koice
            Kosice => id: 705

[04516/4573]Douglas
            Douglas => id: 381

[04520/4573]Invercargill
            Invercargill => id: 554

[04521/4573]Warsaw
            Warsaw => id: 618

[04524/4573]Singapore
            Singapore => id: 703

[04526/4573]Novi Sad
            Novi Sad => id: 699

[04528/4573]Hamburg
            Hamburg => id: 251

[04532/4573]Amsterdam
            Amsterdam => id: 542

[04533/4573]San Antonio
            San Antonio => id: 596

[04535/4573]Taganrog
            Taganrog => id: 672

[04547/4573]Porto
            Porto => id: 626

[04548/4573]Brno
            Brno => id: 188

[04549/4573]Nairobi
            Nairobi => id: 435

[04550/4573]Taipei
            Taipei => id: 777

[04551/4573]Melbourne
            Melbourne => id: 39

[04555/4573]Varna
            Varna => id: 101

[04557/4573]Tunis
            Tunis => id: 799

[04561/4573]Geneva
            Geneva => id: 770

[04562/4573]Madrid
            Madrid => id: 742

[04564/4573]Kyoto
            Kyoto => id: 420

[04566/4573]London
            London => id: 119

[04567/4573]Bangkok
            Bangkok => id: 781

[04571/4573]Madrid
            Madrid => id: 742

[04572/4573]Warsaw
            Warsaw => id: 618

In [33]:
university_clean.head()

,id,name,city,country,email,rank,city_id
0,0,Kent State University College Of Aeronautics A...,Kent,Usa,kent.state.university@findmymasters.com,NULL,NULL
1,1,Manderson Graduate School Of Business The Univ...,Tuscaloosa,Usa,manderson.graduate.school@findmymasters.com,NULL,NULL
2,2,University Of Argentinian Social Studies,,Argentina,university.of.argentinian@findmymasters.com,NULL,NULL
3,3,Em Normandie Business School,Le Havre,France,em.normandie.business@findmymasters.com,NULL,NULL
4,4,Izmir University Of Economics,Izmir,Turkey,izmir.university.of@findmymasters.com,NULL,810

In [34]:

# save universities csv

university_clean.to_csv("./clean/university_clean.csv", index=False)

In [35]:
# just check saved data

universities = pd.read_csv("../data-version2/clean/university_clean.csv")
universities.head()

,id,name,city,country,email,rank,city_id
0,0,Kent State University College Of Aeronautics A...,Kent,Usa,kent.state.university@findmymasters.com,NaN,NaN
1,1,Manderson Graduate School Of Business The Univ...,Tuscaloosa,Usa,manderson.graduate.school@findmymasters.com,NaN,NaN
2,2,University Of Argentinian Social Studies,NaN,Argentina,university.of.argentinian@findmymasters.com,NaN,NaN
3,3,Em Normandie Business School,Le Havre,France,em.normandie.business@findmymasters.com,NaN,NaN
4,4,Izmir University Of Economics,Izmir,Turkey,izmir.university.of@findmymasters.com,NaN,810.0

In [36]:

# from now for university we need to drop city and country columns and create university admin users
# because univesity admin users will have email and username for university we will drop email column

# in the final data for university table we will have fields:

# id
# name
# image_url
# rank
# city_id

# let's finalize university table

In [37]:

# drop unnecessary columns
universities_finalized = universities.drop(["city", "country", "email"], axis=1)

In [38]:
universities_finalized.head()

   id                                               name rank  city_id
0   0  Kent State University College Of Aeronautics A...  NaN      NaN
1   1  Manderson Graduate School Of Business The Univ...  NaN      NaN
2   2           University Of Argentinian Social Studies  NaN      NaN
3   3                       Em Normandie Business School  NaN      NaN
4   4                      Izmir University Of Economics  NaN    810.0

In [39]:

# convert NaN to NULL
universities_finalized = universities_finalized.fillna("NULL")

In [40]:
universities_finalized.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4573 entries, 0 to 4572
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   id       4573 non-null   int64
 1   name     4573 non-null   object
 2   rank     4573 non-null   object
 3   city_id  4573 non-null   object
dtypes: int64(1), object(3)
memory usage: 143.0+ KB

In [41]:
# university rank in object(string) format this is not okay 
# we can make it int

In [42]:
universities_finalized["rank"].value_counts()

NULL         4140
801-1000       62
1001-1200      44
651-700        19
1201+          18
             ...
120             1
40              1
326             1
436             1
207             1
Name: rank, Length: 188, dtype: int64

In [43]:

# some ranks have range we can take the min rank for each university
def clean_rank(rank: pd.Series) -> pd.Series:
    """
    
    Convert string rankigs to int.
    
    """
    
    if rank == "NULL":
        return rank
    
    splits = rank.split("-")
    splits = splits[0].split("+")
    splits = splits[0].split("=")
    
    return int(splits[0])

In [44]:
universities_finalized["rank"] = universities_finalized["rank"].apply(clean_rank)

In [45]:
universities_finalized.head()

   id                                               name  rank city_id
0   0  Kent State University College Of Aeronautics A...  NULL    NULL
1   1  Manderson Graduate School Of Business The Univ...  NULL    NULL
2   2           University Of Argentinian Social Studies  NULL    NULL
3   3                       Em Normandie Business School  NULL    NULL
4   4                      Izmir University Of Economics  NULL   810.0

In [46]:
universities_finalized.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4573 entries, 0 to 4572
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   id       4573 non-null   int64
 1   name     4573 non-null   object
 2   rank     4573 non-null   object
 3   city_id  4573 non-null   object
dtypes: int64(1), object(3)
memory usage: 143.0+ KB

In [47]:

# finally need to add image url

university_images = pd.read_csv("../data-version2/raw/universities/universities-image-urls.csv")
university_images.head()

,name,image_url
0,Kent State University - College of Aeronautics...,https://keystoneacademic-res.cloudinary.com/im...
1,Manderson Graduate School of Business The Univ...,https://keystoneacademic-res.cloudinary.com/im...
2,University of Argentinian Social Studies,https://keystoneacademic-res.cloudinary.com/im...
3,EM Normandie Business School,https://keystoneacademic-res.cloudinary.com/im...
4,Izmir University of Economics,https://keystoneacademic-res.cloudinary.com/im...

In [48]:

university_images["name"]    = university_images["name"].apply(clean_name)

In [49]:
university_images.head()

,name,image_url
0,Kent State University College Of Aeronautics A...,https://keystoneacademic-res.cloudinary.com/im...
1,Manderson Graduate School Of Business The Univ...,https://keystoneacademic-res.cloudinary.com/im...
2,University Of Argentinian Social Studies,https://keystoneacademic-res.cloudinary.com/im...
3,Em Normandie Business School,https://keystoneacademic-res.cloudinary.com/im...
4,Izmir University Of Economics,https://keystoneacademic-res.cloudinary.com/im...

In [50]:
# convert university_images csv to dict 
# it will make easier to find university_images url

university_images_dict = {}

for index in university_images.index:
    university_images_dict[university_images.loc[index, "name"]] = university_images.loc[index, "image_url"]

for key in list(university_images_dict.keys())[:10]:
    print(f"{key} = {university_images_dict[key]}")
    print()

Kent State University College Of Aeronautics And Engineering = https://keystoneacademic-res.cloudinary.com/image/upload/a_0/e_trim:10:white/f_auto,q_auto,h_56/element/97/97584_thumb.png

Manderson Graduate School Of Business The University Of Alabama = https://keystoneacademic-res.cloudinary.com/image/upload/a_0/e_trim:10:white/f_auto,q_auto,h_56/element/91/91033_thumb.jpg

University Of Argentinian Social Studies = https://keystoneacademic-res.cloudinary.com/image/upload/a_0/e_trim:10:white/f_auto,q_auto,h_56/element/15/155105_UMSA.jpeg

Em Normandie Business School = https://keystoneacademic-res.cloudinary.com/image/upload/a_0/e_trim:10:white/f_auto,q_auto,h_56/element/97/97587_thumb.jpg

Izmir University Of Economics = https://keystoneacademic-res.cloudinary.com/image/upload/a_0/e_trim:10:white/f_auto,q_auto,h_56/element/94/94722_thumb.png

Imf Smart Education = https://keystoneacademic-res.cloudinary.com/image/upload/a_0/e_trim:10:white/f_auto,q_auto,h_56/element/16/162995_162888_AAFFIMFLOGOTAGLINERGB_IMGLOGOTAGLINE200C-VERTICAL.png

Ural Federal University = https://keystoneacademic-res.cloudinary.com/image/upload/a_0/e_trim:10:white/f_auto,q_auto,h_56/element/12/128290_UrFU_logo.png

Universitatea Nicolae Titulescu Din Bucuresti = https://keystoneacademic-res.cloudinary.com/image/upload/a_0/e_trim:10:white/f_auto,q_auto,h_56/element/15/157000_1519921290071.png

University Of Wisconsinmadison La Follette School Of Public Affairs = https://keystoneacademic-res.cloudinary.com/image/upload/a_0/e_trim:10:white/f_auto,q_auto,h_56/element/15/151436_703.png

Northeastern University Global Pathways = https://keystoneacademic-res.cloudinary.com/image/upload/a_0/e_trim:10:white/f_auto,q_auto,h_56/element/15/151819_Northeastern.png

In [51]:

def is_similar(seq1, seq2):
    return difflib.SequenceMatcher(a=seq1.lower(), b=seq2.lower()).ratio() > 0.98


def get_image_url(row: str) -> str:
    """
    
    Get city id for university
    Because name may not match fully we will use similarity function
    
    :param name: row from university table
    :return    : city id if we find
    
    
    """
    university_id         = row["id"]
    university_name       = row["name"]
            
    if university_name == "NULL":
        return "NULL"
    
    for university in university_images_dict.keys():
        
        filtered_university = remove_common_from_name(name=university)
        filtered_name       = remove_common_from_name(name=university_name)
                
        if is_similar(filtered_university, filtered_name):
            
            # keep image url id
            image_url = university_images_dict[university]
            print(f"[{university_id}/4573]")
        
            return image_url
        
    return "NULL"

In [52]:
universities_finalized["image"] = universities_finalized.apply(get_image_url, axis=1)

[0/4573]
[1/4573]
[2/4573]
[3/4573]
[4/4573]
[5/4573]
[6/4573]
[7/4573]
[8/4573]
[9/4573]
[10/4573]
[11/4573]
[12/4573]
[13/4573]
[14/4573]
[15/4573]
[16/4573]
[17/4573]
[18/4573]
[19/4573]
[20/4573]
[21/4573]
[22/4573]
[23/4573]
[24/4573]
[26/4573]
[27/4573]
[28/4573]
[29/4573]
[30/4573]
[31/4573]
[32/4573]
[34/4573]
[35/4573]
[36/4573]
[37/4573]
[38/4573]
[39/4573]
[40/4573]
[41/4573]
[42/4573]
[43/4573]
[44/4573]
[45/4573]
[46/4573]
[47/4573]
[48/4573]
[49/4573]
[50/4573]
[51/4573]
[52/4573]
[53/4573]
[54/4573]
[55/4573]
[56/4573]
[57/4573]
[58/4573]
[59/4573]
[60/4573]
[61/4573]
[62/4573]
[63/4573]
[64/4573]
[65/4573]
[67/4573]
[68/4573]
[70/4573]
[71/4573]
[72/4573]
[73/4573]
[74/4573]
[75/4573]
[76/4573]
[77/4573]
[78/4573]
[79/4573]
[80/4573]
[81/4573]
[82/4573]
[83/4573]
[84/4573]
[85/4573]
[86/4573]
[87/4573]
[88/4573]
[89/4573]
[90/4573]
[92/4573]
[93/4573]
[94/4573]
[95/4573]
[96/4573]
[98/4573]
[99/4573]
[100/4573]
[101/4573]
[102/4573]
[103/4573]
[104/4573]
[105/4573]
[106/4573]
[107/4573]
[109/4573]
[110/4573]
[111/4573]
[112/4573]
[113/4573]
[114/4573]
[115/4573]
[116/4573]
[117/4573]
[118/4573]
[119/4573]
[120/4573]
[122/4573]
[123/4573]
[124/4573]
[125/4573]
[126/4573]
[127/4573]
[128/4573]
[129/4573]
[130/4573]
[131/4573]
[132/4573]
[133/4573]
[135/4573]
[136/4573]
[137/4573]
[138/4573]
[139/4573]
[140/4573]
[141/4573]
[142/4573]
[143/4573]
[144/4573]
[145/4573]
[146/4573]
[147/4573]
[149/4573]
[150/4573]
[151/4573]
[152/4573]
[153/4573]
[154/4573]
[155/4573]
[156/4573]
[158/4573]
[159/4573]
[160/4573]
[161/4573]
[162/4573]
[163/4573]
[164/4573]
[165/4573]
[166/4573]
[167/4573]
[168/4573]
[169/4573]
[170/4573]
[171/4573]
[173/4573]
[174/4573]
[175/4573]
[176/4573]
[177/4573]
[178/4573]
[179/4573]
[180/4573]
[181/4573]
[182/4573]
[183/4573]
[184/4573]
[185/4573]
[186/4573]
[187/4573]
[188/4573]
[189/4573]
[190/4573]
[191/4573]
[192/4573]
[193/4573]
[195/4573]
[196/4573]
[197/4573]
[199/4573]
[200/4573]
[201/4573]
[202/4573]
[203/4573]
[204/4573]
[205/4573]
[206/4573]
[207/4573]
[208/4573]
[209/4573]
[210/4573]
[211/4573]
[212/4573]
[213/4573]
[214/4573]
[215/4573]
[216/4573]
[217/4573]
[218/4573]
[219/4573]
[220/4573]
[221/4573]
[222/4573]
[223/4573]
[224/4573]
[225/4573]
[226/4573]
[227/4573]
[228/4573]
[229/4573]
[230/4573]
[231/4573]
[233/4573]
[234/4573]
[235/4573]
[236/4573]
[237/4573]
[238/4573]
[239/4573]
[240/4573]
[241/4573]
[242/4573]
[243/4573]
[244/4573]
[245/4573]
[246/4573]
[247/4573]
[248/4573]
[249/4573]
[250/4573]
[251/4573]
[252/4573]
[253/4573]
[254/4573]
[255/4573]
[257/4573]
[258/4573]
[259/4573]
[260/4573]
[261/4573]
[262/4573]
[263/4573]
[264/4573]
[265/4573]
[266/4573]
[267/4573]
[269/4573]
[270/4573]
[271/4573]
[272/4573]
[273/4573]
[274/4573]
[275/4573]
[277/4573]
[278/4573]
[281/4573]
[282/4573]
[283/4573]
[284/4573]
[285/4573]
[286/4573]
[287/4573]
[288/4573]
[289/4573]
[290/4573]
[291/4573]
[292/4573]
[293/4573]
[294/4573]
[295/4573]
[296/4573]
[297/4573]
[299/4573]
[300/4573]
[301/4573]
[302/4573]
[304/4573]
[305/4573]
[306/4573]
[307/4573]
[310/4573]
[311/4573]
[312/4573]
[313/4573]
[314/4573]
[315/4573]
[316/4573]
[317/4573]
[318/4573]
[319/4573]
[320/4573]
[323/4573]
[324/4573]
[325/4573]
[326/4573]
[330/4573]
[331/4573]
[332/4573]
[333/4573]
[334/4573]
[335/4573]
[336/4573]
[337/4573]
[338/4573]
[339/4573]
[340/4573]
[341/4573]
[342/4573]
[343/4573]
[344/4573]
[345/4573]
[346/4573]
[347/4573]
[348/4573]
[350/4573]
[351/4573]
[352/4573]
[353/4573]
[354/4573]
[355/4573]
[356/4573]
[357/4573]
[358/4573]
[359/4573]
[360/4573]
[362/4573]
[363/4573]
[364/4573]
[365/4573]
[366/4573]
[367/4573]
[370/4573]
[371/4573]
[373/4573]
[374/4573]
[375/4573]
[379/4573]
[380/4573]
[381/4573]
[382/4573]
[383/4573]
[384/4573]
[385/4573]
[386/4573]
[388/4573]
[389/4573]
[390/4573]
[391/4573]
[392/4573]
[393/4573]
[394/4573]
[395/4573]
[397/4573]
[398/4573]
[399/4573]
[400/4573]
[401/4573]
[402/4573]
[403/4573]
[404/4573]
[405/4573]
[407/4573]
[409/4573]
[410/4573]
[411/4573]
[412/4573]
[413/4573]
[414/4573]
[415/4573]
[416/4573]
[417/4573]
[418/4573]
[419/4573]
[420/4573]
[421/4573]
[422/4573]
[423/4573]
[425/4573]
[426/4573]
[427/4573]
[428/4573]
[429/4573]
[431/4573]
[432/4573]
[433/4573]
[434/4573]
[435/4573]
[436/4573]
[437/4573]
[438/4573]
[439/4573]
[440/4573]
[441/4573]
[442/4573]
[443/4573]
[445/4573]
[446/4573]
[447/4573]
[448/4573]
[449/4573]
[450/4573]
[451/4573]
[452/4573]
[453/4573]
[454/4573]
[456/4573]
[457/4573]
[458/4573]
[460/4573]
[461/4573]
[462/4573]
[463/4573]
[464/4573]
[465/4573]
[466/4573]
[467/4573]
[468/4573]
[469/4573]
[470/4573]
[471/4573]
[472/4573]
[473/4573]
[474/4573]
[475/4573]
[476/4573]
[477/4573]
[478/4573]
[479/4573]
[481/4573]
[482/4573]
[483/4573]
[484/4573]
[485/4573]
[486/4573]
[487/4573]
[489/4573]
[490/4573]
[491/4573]
[493/4573]
[494/4573]
[495/4573]
[496/4573]
[497/4573]
[498/4573]
[499/4573]
[500/4573]
[501/4573]
[502/4573]
[503/4573]
[504/4573]
[505/4573]
[506/4573]
[507/4573]
[508/4573]
[511/4573]
[512/4573]
[514/4573]
[515/4573]
[516/4573]
[517/4573]
[518/4573]
[520/4573]
[521/4573]
[522/4573]
[523/4573]
[524/4573]
[525/4573]
[526/4573]
[527/4573]
[528/4573]
[529/4573]
[530/4573]
[531/4573]
[532/4573]
[533/4573]
[534/4573]
[535/4573]
[536/4573]
[537/4573]
[538/4573]
[539/4573]
[540/4573]
[541/4573]
[542/4573]
[544/4573]
[545/4573]
[546/4573]
[547/4573]
[548/4573]
[549/4573]
[550/4573]
[551/4573]
[553/4573]
[554/4573]
[555/4573]
[556/4573]
[557/4573]
[558/4573]
[559/4573]
[560/4573]
[561/4573]
[562/4573]
[563/4573]
[564/4573]
[565/4573]
[567/4573]
[568/4573]
[571/4573]
[572/4573]
[573/4573]
[574/4573]
[575/4573]
[576/4573]
[578/4573]
[579/4573]
[580/4573]
[581/4573]
[582/4573]
[583/4573]
[584/4573]
[586/4573]
[587/4573]
[588/4573]
[589/4573]
[590/4573]
[591/4573]
[593/4573]
[594/4573]
[595/4573]
[596/4573]
[597/4573]
[598/4573]
[599/4573]
[600/4573]
[601/4573]
[602/4573]
[603/4573]
[604/4573]
[605/4573]
[606/4573]
[607/4573]
[608/4573]
[609/4573]
[612/4573]
[615/4573]
[616/4573]
[617/4573]
[619/4573]
[621/4573]
[622/4573]
[623/4573]
[624/4573]
[625/4573]
[626/4573]
[627/4573]
[629/4573]
[630/4573]
[631/4573]
[632/4573]
[633/4573]
[634/4573]
[635/4573]
[636/4573]
[637/4573]
[638/4573]
[640/4573]
[641/4573]
[642/4573]
[643/4573]
[644/4573]
[645/4573]
[646/4573]
[647/4573]
[648/4573]
[650/4573]
[651/4573]
[652/4573]
[653/4573]
[654/4573]
[655/4573]
[656/4573]
[657/4573]
[658/4573]
[659/4573]
[660/4573]
[661/4573]
[662/4573]
[663/4573]
[664/4573]
[665/4573]
[666/4573]
[668/4573]
[669/4573]
[671/4573]
[672/4573]
[673/4573]
[675/4573]
[676/4573]
[677/4573]
[678/4573]
[679/4573]
[680/4573]
[681/4573]
[682/4573]
[684/4573]
[685/4573]
[686/4573]
[687/4573]
[688/4573]
[689/4573]
[690/4573]
[691/4573]
[693/4573]
[694/4573]
[696/4573]
[697/4573]
[698/4573]
[699/4573]
[700/4573]
[702/4573]
[703/4573]
[704/4573]
[705/4573]
[706/4573]
[708/4573]
[709/4573]
[710/4573]
[711/4573]
[712/4573]
[713/4573]
[714/4573]
[715/4573]
[716/4573]
[717/4573]
[718/4573]
[719/4573]
[720/4573]
[721/4573]
[722/4573]
[724/4573]
[726/4573]
[729/4573]
[730/4573]
[731/4573]
[732/4573]
[733/4573]
[734/4573]
[735/4573]
[736/4573]
[737/4573]
[738/4573]
[739/4573]
[740/4573]
[741/4573]
[742/4573]
[743/4573]
[744/4573]
[745/4573]
[746/4573]
[747/4573]
[749/4573]
[750/4573]
[751/4573]
[752/4573]
[753/4573]
[754/4573]
[755/4573]
[756/4573]
[758/4573]
[759/4573]
[760/4573]
[761/4573]
[762/4573]
[763/4573]
[764/4573]
[766/4573]
[767/4573]
[768/4573]
[769/4573]
[770/4573]
[771/4573]
[772/4573]
[773/4573]
[775/4573]
[776/4573]
[777/4573]
[778/4573]
[779/4573]
[780/4573]
[781/4573]
[783/4573]
[784/4573]
[786/4573]
[787/4573]
[789/4573]
[792/4573]
[793/4573]
[794/4573]
[795/4573]
[796/4573]
[797/4573]
[798/4573]
[799/4573]
[800/4573]
[801/4573]
[803/4573]
[804/4573]
[805/4573]
[806/4573]
[807/4573]
[808/4573]
[809/4573]
[811/4573]
[812/4573]
[813/4573]
[814/4573]
[815/4573]
[816/4573]
[817/4573]
[818/4573]
[819/4573]
[820/4573]
[821/4573]
[822/4573]
[823/4573]
[824/4573]
[825/4573]
[826/4573]
[829/4573]
[830/4573]
[831/4573]
[832/4573]
[833/4573]
[834/4573]
[835/4573]
[836/4573]
[837/4573]
[839/4573]
[840/4573]
[841/4573]
[842/4573]
[844/4573]
[845/4573]
[847/4573]
[848/4573]
[849/4573]
[850/4573]
[851/4573]
[852/4573]
[853/4573]
[854/4573]
[855/4573]
[856/4573]
[857/4573]
[858/4573]

[859/4573]
[860/4573]
[861/4573]
[862/4573]
[863/4573]
[864/4573]
[865/4573]
[866/4573]
[867/4573]
[868/4573]
[869/4573]
[870/4573]
[871/4573]
[872/4573]
[874/4573]
[875/4573]
[876/4573]
[878/4573]
[879/4573]
[880/4573]
[881/4573]
[882/4573]
[883/4573]
[885/4573]
[886/4573]
[887/4573]
[889/4573]
[890/4573]
[891/4573]
[892/4573]
[893/4573]
[894/4573]
[895/4573]
[896/4573]
[897/4573]
[898/4573]
[899/4573]
[900/4573]
[901/4573]
[902/4573]
[903/4573]
[904/4573]
[905/4573]
[906/4573]
[907/4573]
[908/4573]
[910/4573]
[911/4573]
[912/4573]
[913/4573]
[914/4573]
[915/4573]
[916/4573]
[917/4573]
[918/4573]
[919/4573]
[920/4573]
[922/4573]
[923/4573]
[924/4573]
[925/4573]
[926/4573]
[927/4573]
[930/4573]
[931/4573]
[932/4573]
[933/4573]
[934/4573]
[936/4573]
[937/4573]
[938/4573]
[939/4573]
[940/4573]
[941/4573]
[942/4573]
[944/4573]
[945/4573]
[946/4573]
[947/4573]
[948/4573]
[949/4573]
[950/4573]
[951/4573]
[953/4573]
[954/4573]
[955/4573]
[957/4573]
[958/4573]
[959/4573]
[960/4573]
[961/4573]
[962/4573]
[963/4573]
[964/4573]
[965/4573]
[966/4573]
[967/4573]
[968/4573]
[969/4573]
[970/4573]
[971/4573]
[972/4573]
[973/4573]
[974/4573]
[975/4573]
[976/4573]
[977/4573]
[978/4573]
[979/4573]
[980/4573]
[981/4573]
[982/4573]
[983/4573]
[984/4573]
[985/4573]
[986/4573]
[987/4573]
[989/4573]
[990/4573]
[991/4573]
[992/4573]
[993/4573]
[994/4573]
[995/4573]
[996/4573]
[997/4573]
[998/4573]
[999/4573]
[1000/4573]
[1001/4573]
[1002/4573]
[1003/4573]
[1004/4573]
[1005/4573]
[1006/4573]
[1007/4573]
[1008/4573]
[1009/4573]
[1010/4573]
[1011/4573]
[1012/4573]
[1013/4573]
[1014/4573]
[1015/4573]
[1016/4573]
[1018/4573]
[1019/4573]
[1021/4573]
[1022/4573]
[1023/4573]
[1024/4573]
[1025/4573]
[1026/4573]
[1027/4573]
[1028/4573]
[1030/4573]
[1032/4573]
[1033/4573]
[1034/4573]
[1035/4573]
[1036/4573]
[1037/4573]
[1038/4573]
[1040/4573]
[1041/4573]
[1042/4573]
[1043/4573]
[1044/4573]
[1045/4573]
[1046/4573]
[1047/4573]
[1048/4573]
[1050/4573]
[1052/4573]
[1053/4573]
[1054/4573]
[1055/4573]
[1056/4573]
[1057/4573]
[1058/4573]
[1059/4573]
[1060/4573]
[1061/4573]
[1062/4573]
[1063/4573]
[1064/4573]
[1065/4573]
[1066/4573]
[1067/4573]
[1068/4573]
[1071/4573]
[1072/4573]
[1073/4573]
[1074/4573]
[1075/4573]
[1076/4573]
[1077/4573]
[1078/4573]
[1079/4573]
[1080/4573]
[1081/4573]
[1082/4573]
[1083/4573]
[1084/4573]
[1085/4573]
[1087/4573]
[1088/4573]
[1089/4573]
[1090/4573]
[1091/4573]
[1092/4573]
[1093/4573]
[1094/4573]
[1096/4573]
[1097/4573]
[1098/4573]
[1099/4573]
[1100/4573]
[1102/4573]
[1103/4573]
[1104/4573]
[1105/4573]
[1106/4573]
[1108/4573]
[1109/4573]
[1110/4573]
[1111/4573]
[1112/4573]
[1113/4573]
[1114/4573]
[1115/4573]
[1116/4573]
[1117/4573]
[1118/4573]
[1119/4573]
[1120/4573]
[1121/4573]
[1122/4573]
[1123/4573]
[1124/4573]
[1125/4573]
[1126/4573]
[1128/4573]
[1130/4573]
[1131/4573]
[1133/4573]
[1134/4573]
[1135/4573]
[1136/4573]
[1137/4573]
[1138/4573]
[1139/4573]
[1140/4573]
[1141/4573]
[1144/4573]
[1145/4573]
[1146/4573]
[1147/4573]
[1148/4573]
[1149/4573]
[1150/4573]
[1151/4573]
[1152/4573]
[1154/4573]
[1155/4573]
[1156/4573]
[1158/4573]
[1159/4573]
[1160/4573]
[1161/4573]
[1162/4573]
[1163/4573]
[1164/4573]
[1166/4573]
[1167/4573]
[1168/4573]
[1169/4573]
[1170/4573]
[1171/4573]
[1172/4573]
[1173/4573]
[1174/4573]
[1175/4573]
[1176/4573]
[1177/4573]
[1179/4573]
[1181/4573]
[1182/4573]
[1183/4573]
[1186/4573]
[1187/4573]
[1188/4573]
[1189/4573]
[1190/4573]
[1191/4573]
[1192/4573]
[1194/4573]
[1195/4573]
[1196/4573]
[1197/4573]
[1198/4573]
[1199/4573]
[1200/4573]
[1201/4573]
[1202/4573]
[1203/4573]
[1204/4573]
[1205/4573]
[1206/4573]
[1207/4573]
[1208/4573]
[1209/4573]
[1210/4573]
[1211/4573]
[1212/4573]
[1213/4573]
[1214/4573]
[1215/4573]
[1216/4573]
[1217/4573]
[1218/4573]
[1219/4573]
[1220/4573]
[1221/4573]
[1225/4573]
[1226/4573]
[1227/4573]
[1228/4573]
[1229/4573]
[1230/4573]
[1231/4573]
[1232/4573]
[1233/4573]
[1234/4573]
[1235/4573]
[1236/4573]
[1237/4573]
[1240/4573]
[1241/4573]
[1242/4573]
[1243/4573]
[1244/4573]
[1245/4573]
[1246/4573]
[1247/4573]
[1248/4573]
[1249/4573]
[1250/4573]
[1251/4573]
[1252/4573]
[1253/4573]
[1254/4573]
[1255/4573]
[1256/4573]
[1257/4573]
[1258/4573]
[1259/4573]
[1260/4573]
[1261/4573]
[1262/4573]
[1263/4573]
[1264/4573]
[1265/4573]
[1266/4573]
[1268/4573]
[1269/4573]
[1270/4573]
[1271/4573]
[1272/4573]
[1274/4573]
[1275/4573]
[1276/4573]
[1277/4573]
[1279/4573]
[1280/4573]
[1281/4573]
[1282/4573]
[1283/4573]
[1285/4573]
[1286/4573]
[1287/4573]
[1288/4573]
[1289/4573]
[1290/4573]
[1291/4573]
[1292/4573]
[1293/4573]
[1294/4573]
[1295/4573]
[1296/4573]
[1297/4573]
[1298/4573]
[1299/4573]
[1302/4573]
[1304/4573]
[1305/4573]
[1306/4573]
[1307/4573]
[1308/4573]
[1309/4573]
[1310/4573]
[1311/4573]
[1313/4573]
[1314/4573]
[1315/4573]
[1316/4573]
[1318/4573]
[1319/4573]
[1320/4573]
[1321/4573]
[1322/4573]
[1323/4573]
[1324/4573]
[1326/4573]
[1327/4573]
[1328/4573]
[1329/4573]
[1330/4573]
[1331/4573]
[1332/4573]
[1334/4573]
[1335/4573]
[1336/4573]
[1337/4573]
[1338/4573]
[1339/4573]
[1340/4573]
[1341/4573]
[1342/4573]
[1343/4573]
[1344/4573]
[1345/4573]
[1346/4573]
[1347/4573]
[1348/4573]
[1349/4573]
[1350/4573]
[1351/4573]
[1354/4573]
[1357/4573]
[1358/4573]
[1359/4573]
[1360/4573]
[1361/4573]
[1362/4573]
[1363/4573]
[1364/4573]
[1365/4573]
[1366/4573]
[1367/4573]
[1368/4573]
[1369/4573]
[1370/4573]
[1371/4573]
[1372/4573]
[1373/4573]
[1374/4573]
[1375/4573]
[1376/4573]
[1377/4573]
[1378/4573]
[1379/4573]
[1380/4573]
[1381/4573]
[1382/4573]
[1383/4573]
[1384/4573]
[1385/4573]
[1386/4573]
[1387/4573]
[1388/4573]
[1389/4573]
[1390/4573]
[1391/4573]
[1392/4573]
[1393/4573]
[1394/4573]
[1396/4573]
[1397/4573]
[1398/4573]
[1399/4573]
[1400/4573]
[1401/4573]
[1402/4573]
[1403/4573]
[1404/4573]
[1405/4573]
[1406/4573]
[1407/4573]
[1408/4573]
[1409/4573]
[1410/4573]
[1412/4573]
[1414/4573]
[1415/4573]
[1416/4573]
[1418/4573]
[1419/4573]
[1421/4573]
[1422/4573]
[1423/4573]
[1424/4573]
[1425/4573]
[1426/4573]
[1427/4573]
[1428/4573]
[1429/4573]
[1430/4573]
[1431/4573]
[1432/4573]
[1433/4573]
[1434/4573]
[1435/4573]
[1436/4573]
[1437/4573]
[1438/4573]
[1439/4573]
[1441/4573]
[1442/4573]
[1444/4573]
[1445/4573]
[1446/4573]
[1447/4573]
[1448/4573]
[1449/4573]
[1450/4573]
[1451/4573]
[1452/4573]
[1453/4573]
[1454/4573]
[1455/4573]
[1457/4573]
[1458/4573]
[1459/4573]
[1460/4573]
[1461/4573]
[1462/4573]
[1463/4573]
[1464/4573]
[1465/4573]
[1466/4573]
[1467/4573]
[1468/4573]
[1469/4573]
[1471/4573]
[1472/4573]
[1473/4573]
[1475/4573]
[1476/4573]
[1477/4573]
[1478/4573]
[1479/4573]
[1480/4573]
[1481/4573]
[1482/4573]
[1483/4573]
[1484/4573]
[1485/4573]
[1486/4573]
[1487/4573]
[1488/4573]
[1489/4573]
[1490/4573]
[1491/4573]
[1492/4573]
[1493/4573]
[1494/4573]
[1495/4573]
[1496/4573]
[1497/4573]
[1499/4573]
[1500/4573]
[1501/4573]
[1502/4573]
[1503/4573]
[1504/4573]
[1506/4573]
[1507/4573]
[1509/4573]
[1511/4573]
[1512/4573]
[1513/4573]
[1514/4573]
[1515/4573]
[1517/4573]
[1518/4573]
[1519/4573]
[1521/4573]
[1522/4573]
[1523/4573]
[1524/4573]
[1525/4573]
[1526/4573]
[1528/4573]
[1530/4573]
[1531/4573]
[1532/4573]
[1533/4573]
[1536/4573]
[1537/4573]
[1538/4573]
[1539/4573]
[1540/4573]
[1541/4573]
[1542/4573]
[1543/4573]
[1544/4573]
[1545/4573]
[1546/4573]
[1547/4573]
[1548/4573]
[1549/4573]
[1550/4573]
[1551/4573]
[1552/4573]
[1553/4573]
[1554/4573]
[1555/4573]
[1556/4573]
[1557/4573]
[1559/4573]
[1560/4573]
[1561/4573]
[1562/4573]
[1563/4573]
[1564/4573]
[1565/4573]
[1566/4573]
[1567/4573]
[1568/4573]
[1569/4573]
[1570/4573]
[1571/4573]
[1572/4573]
[1573/4573]
[1574/4573]
[1575/4573]
[1576/4573]
[1578/4573]
[1579/4573]
[1581/4573]
[1582/4573]
[1583/4573]
[1584/4573]
[1587/4573]
[1588/4573]
[1589/4573]
[1590/4573]
[1591/4573]
[1592/4573]
[1593/4573]
[1594/4573]
[1595/4573]
[1596/4573]
[1597/4573]
[1598/4573]
[1599/4573]
[1600/4573]
[1601/4573]
[1602/4573]
[1603/4573]
[1604/4573]
[1605/4573]
[1606/4573]
[1607/4573]
[1608/4573]
[1609/4573]
[1610/4573]
[1611/4573]
[1612/4573]
[1613/4573]
[1614/4573]
[1615/4573]
[1616/4573]
[1617/4573]
[1618/4573]
[1619/4573]
[1620/4573]
[1621/4573]
[1622/4573]
[1623/4573]
[1624/4573]
[1625/4573]
[1626/4573]
[1627/4573]
[1628/4573]
[1629/4573]
[1630/4573]
[1631/4573]
[1632/4573]
[1633/4573]
[1634/4573]
[1637/4573]
[1638/4573]
[1639/4573]
[1640/4573]

[1641/4573]
[1642/4573]
[1643/4573]
[1645/4573]
[1646/4573]
[1647/4573]
[1648/4573]
[1649/4573]
[1650/4573]
[1651/4573]
[1652/4573]
[1653/4573]
[1654/4573]
[1655/4573]
[1656/4573]
[1657/4573]
[1658/4573]
[1659/4573]
[1660/4573]
[1661/4573]
[1662/4573]
[1665/4573]
[1666/4573]
[1667/4573]
[1669/4573]
[1670/4573]
[1671/4573]
[1672/4573]
[1673/4573]
[1674/4573]
[1675/4573]
[1676/4573]
[1677/4573]
[1679/4573]
[1680/4573]
[1681/4573]
[1682/4573]
[1683/4573]
[1684/4573]
[1685/4573]
[1686/4573]
[1687/4573]
[1688/4573]
[1690/4573]
[1691/4573]
[1692/4573]
[1694/4573]
[1695/4573]
[1696/4573]
[1697/4573]
[1698/4573]
[1699/4573]
[1703/4573]
[1704/4573]
[1705/4573]
[1706/4573]
[1707/4573]
[1708/4573]
[1709/4573]
[1710/4573]
[1711/4573]
[1712/4573]
[1713/4573]
[1714/4573]
[1715/4573]
[1716/4573]
[1717/4573]
[1718/4573]
[1719/4573]
[1720/4573]
[1721/4573]
[1722/4573]
[1723/4573]
[1724/4573]
[1726/4573]
[1727/4573]
[1728/4573]
[1729/4573]
[1730/4573]
[1731/4573]
[1733/4573]
[1734/4573]
[1735/4573]
[1737/4573]
[1738/4573]
[1739/4573]
[1740/4573]
[1741/4573]
[1742/4573]
[1743/4573]
[1744/4573]
[1745/4573]
[1746/4573]
[1747/4573]
[1748/4573]
[1749/4573]
[1750/4573]
[1751/4573]
[1752/4573]
[1753/4573]
[1754/4573]
[1755/4573]
[1756/4573]
[1757/4573]
[1758/4573]
[1759/4573]
[1760/4573]
[1761/4573]
[1762/4573]
[1763/4573]
[1764/4573]
[1765/4573]
[1766/4573]
[1767/4573]
[1768/4573]
[1769/4573]
[1770/4573]
[1771/4573]
[1772/4573]
[1773/4573]
[1774/4573]
[1775/4573]
[1777/4573]
[1778/4573]
[1780/4573]
[1781/4573]
[1783/4573]
[1784/4573]
[1785/4573]
[1786/4573]
[1787/4573]
[1788/4573]
[1789/4573]
[1790/4573]
[1791/4573]
[1792/4573]
[1793/4573]
[1794/4573]
[1796/4573]
[1797/4573]
[1799/4573]
[1801/4573]
[1802/4573]
[1803/4573]
[1804/4573]
[1805/4573]
[1806/4573]
[1807/4573]
[1808/4573]
[1809/4573]
[1811/4573]
[1812/4573]
[1813/4573]
[1814/4573]
[1815/4573]
[1816/4573]
[1818/4573]
[1819/4573]
[1820/4573]
[1821/4573]
[1822/4573]
[1823/4573]
[1824/4573]
[1825/4573]
[1826/4573]
[1828/4573]
[1829/4573]
[1830/4573]
[1833/4573]
[1834/4573]
[1836/4573]
[1837/4573]
[1838/4573]
[1840/4573]
[1841/4573]
[1842/4573]
[1843/4573]
[1845/4573]
[1846/4573]
[1847/4573]
[1849/4573]
[1851/4573]
[1852/4573]
[1853/4573]
[1855/4573]
[1856/4573]
[1857/4573]
[1858/4573]
[1859/4573]
[1860/4573]
[1862/4573]
[1863/4573]
[1864/4573]
[1867/4573]
[1868/4573]
[1869/4573]
[1870/4573]
[1871/4573]
[1872/4573]
[1873/4573]
[1874/4573]
[1875/4573]
[1876/4573]
[1877/4573]
[1878/4573]
[1879/4573]
[1880/4573]
[1881/4573]
[1883/4573]
[1884/4573]
[1885/4573]
[1886/4573]
[1887/4573]
[1888/4573]
[1889/4573]
[1890/4573]
[1892/4573]
[1893/4573]
[1895/4573]
[1896/4573]
[1897/4573]
[1898/4573]
[1899/4573]
[1900/4573]
[1901/4573]
[1904/4573]
[1905/4573]
[1906/4573]
[1907/4573]
[1908/4573]
[1909/4573]
[1910/4573]
[1911/4573]
[1913/4573]
[1914/4573]
[1915/4573]
[1916/4573]
[1917/4573]
[1918/4573]
[1920/4573]
[1922/4573]
[1923/4573]
[1924/4573]
[1925/4573]
[1927/4573]
[1928/4573]
[1929/4573]
[1930/4573]
[1931/4573]
[1933/4573]
[1934/4573]
[1935/4573]
[1936/4573]
[1937/4573]
[1938/4573]
[1939/4573]
[1940/4573]
[1941/4573]
[1942/4573]
[1943/4573]
[1945/4573]
[1946/4573]
[1947/4573]
[1948/4573]
[1949/4573]
[1950/4573]
[1951/4573]
[1952/4573]
[1953/4573]
[1954/4573]
[1955/4573]
[1956/4573]
[1957/4573]
[1958/4573]
[1959/4573]
[1960/4573]
[1961/4573]
[1962/4573]
[1963/4573]
[1964/4573]
[1965/4573]
[1966/4573]
[1967/4573]
[1968/4573]
[1969/4573]
[1970/4573]
[1971/4573]
[1972/4573]
[1973/4573]
[1975/4573]
[1977/4573]
[1978/4573]
[1979/4573]
[1980/4573]
[1982/4573]
[1983/4573]
[1984/4573]
[1985/4573]
[1986/4573]
[1987/4573]
[1989/4573]
[1990/4573]
[1991/4573]
[1992/4573]
[1993/4573]
[1994/4573]
[1995/4573]
[1996/4573]
[1997/4573]
[1998/4573]
[1999/4573]
[2000/4573]
[2001/4573]
[2002/4573]
[2003/4573]
[2006/4573]
[2007/4573]
[2008/4573]
[2009/4573]
[2010/4573]
[2011/4573]
[2012/4573]
[2013/4573]
[2014/4573]
[2015/4573]
[2016/4573]
[2017/4573]
[2018/4573]
[2019/4573]
[2020/4573]
[2021/4573]
[2022/4573]
[2024/4573]
[2025/4573]
[2026/4573]
[2027/4573]
[2028/4573]
[2029/4573]
[2030/4573]
[2031/4573]
[2032/4573]
[2033/4573]
[2034/4573]
[2035/4573]
[2036/4573]
[2037/4573]
[2038/4573]
[2040/4573]
[2041/4573]
[2042/4573]
[2043/4573]
[2044/4573]
[2045/4573]
[2046/4573]
[2047/4573]
[2048/4573]
[2049/4573]
[2050/4573]
[2052/4573]
[2053/4573]
[2054/4573]
[2055/4573]
[2056/4573]
[2057/4573]
[2058/4573]
[2059/4573]
[2060/4573]
[2062/4573]
[2063/4573]
[2064/4573]
[2065/4573]
[2066/4573]
[2067/4573]
[2068/4573]
[2069/4573]
[2070/4573]
[2071/4573]
[2072/4573]
[2074/4573]
[2075/4573]
[2076/4573]
[2077/4573]
[2078/4573]
[2080/4573]
[2081/4573]
[2082/4573]
[2083/4573]
[2084/4573]
[2085/4573]
[2086/4573]
[2087/4573]
[2088/4573]
[2089/4573]
[2091/4573]
[2092/4573]
[2093/4573]
[2094/4573]
[2095/4573]
[2096/4573]
[2097/4573]
[2098/4573]
[2101/4573]
[2102/4573]
[2104/4573]
[2105/4573]
[2106/4573]
[2107/4573]
[2108/4573]
[2110/4573]
[2112/4573]
[2113/4573]
[2114/4573]
[2115/4573]
[2116/4573]
[2117/4573]
[2118/4573]
[2119/4573]
[2120/4573]
[2121/4573]
[2122/4573]
[2123/4573]
[2124/4573]
[2125/4573]
[2126/4573]
[2128/4573]
[2129/4573]
[2130/4573]
[2131/4573]
[2132/4573]
[2133/4573]
[2134/4573]
[2135/4573]
[2136/4573]
[2137/4573]
[2138/4573]
[2139/4573]
[2140/4573]
[2141/4573]
[2142/4573]
[2143/4573]
[2144/4573]
[2145/4573]
[2146/4573]
[2147/4573]
[2149/4573]
[2150/4573]
[2151/4573]
[2152/4573]
[2153/4573]
[2154/4573]
[2155/4573]
[2156/4573]
[2158/4573]
[2159/4573]
[2160/4573]
[2161/4573]
[2162/4573]
[2163/4573]
[2164/4573]
[2165/4573]
[2166/4573]
[2167/4573]
[2169/4573]
[2170/4573]
[2171/4573]
[2173/4573]
[2174/4573]
[2177/4573]
[2178/4573]
[2179/4573]
[2180/4573]
[2181/4573]
[2182/4573]
[2183/4573]
[2184/4573]
[2185/4573]
[2186/4573]
[2187/4573]
[2188/4573]
[2189/4573]
[2191/4573]
[2192/4573]
[2193/4573]
[2194/4573]
[2195/4573]
[2196/4573]
[2197/4573]
[2198/4573]
[2199/4573]
[2200/4573]
[2201/4573]
[2202/4573]
[2203/4573]
[2204/4573]
[2205/4573]
[2206/4573]
[2208/4573]
[2209/4573]
[2210/4573]
[2211/4573]
[2212/4573]
[2213/4573]
[2214/4573]
[2215/4573]
[2216/4573]
[2218/4573]
[2220/4573]
[2221/4573]
[2222/4573]
[2223/4573]
[2224/4573]
[2225/4573]
[2226/4573]
[2227/4573]
[2228/4573]
[2229/4573]
[2230/4573]
[2231/4573]
[2233/4573]
[2235/4573]
[2236/4573]
[2237/4573]
[2238/4573]
[2239/4573]
[2240/4573]
[2241/4573]
[2242/4573]
[2243/4573]
[2244/4573]
[2245/4573]
[2247/4573]
[2248/4573]
[2249/4573]
[2250/4573]
[2251/4573]
[2252/4573]
[2253/4573]
[2254/4573]
[2255/4573]
[2256/4573]
[2257/4573]
[2258/4573]
[2259/4573]
[2260/4573]
[2261/4573]
[2262/4573]
[2263/4573]
[2265/4573]
[2267/4573]
[2268/4573]
[2269/4573]
[2271/4573]
[2272/4573]
[2273/4573]
[2274/4573]
[2275/4573]
[2276/4573]
[2277/4573]
[2278/4573]
[2279/4573]
[2280/4573]
[2281/4573]
[2282/4573]
[2283/4573]
[2284/4573]
[2285/4573]
[2286/4573]
[2287/4573]
[2288/4573]
[2289/4573]
[2290/4573]
[2291/4573]
[2292/4573]
[2293/4573]
[2294/4573]
[2295/4573]
[2296/4573]
[2297/4573]
[2298/4573]
[2299/4573]
[2300/4573]
[2301/4573]
[2302/4573]
[2303/4573]
[2304/4573]
[2305/4573]
[2306/4573]
[2309/4573]
[2310/4573]
[2311/4573]
[2312/4573]
[2313/4573]
[2314/4573]
[2315/4573]
[2316/4573]
[2317/4573]
[2318/4573]
[2319/4573]
[2320/4573]
[2321/4573]
[2322/4573]
[2323/4573]
[2324/4573]
[2325/4573]
[2326/4573]
[2327/4573]
[2328/4573]
[2329/4573]
[2330/4573]
[2331/4573]
[2332/4573]
[2333/4573]
[2334/4573]
[2335/4573]
[2336/4573]
[2338/4573]
[2339/4573]
[2340/4573]
[2341/4573]
[2342/4573]
[2343/4573]
[2344/4573]
[2345/4573]
[2346/4573]
[2347/4573]
[2348/4573]
[2349/4573]
[2350/4573]
[2351/4573]
[2352/4573]
[2353/4573]
[2354/4573]
[2355/4573]
[2356/4573]
[2357/4573]
[2358/4573]
[2359/4573]
[2360/4573]
[2361/4573]
[2362/4573]
[2363/4573]
[2364/4573]
[2365/4573]
[2366/4573]
[2368/4573]
[2369/4573]
[2370/4573]
[2371/4573]
[2372/4573]
[2373/4573]
[2374/4573]
[2375/4573]
[2376/4573]
[2377/4573]
[2378/4573]
[2379/4573]
[2380/4573]
[2381/4573]
[2382/4573]
[2383/4573]
[2384/4573]
[2385/4573]
[2386/4573]
[2387/4573]
[2388/4573]
[2389/4573]
[2390/4573]
[2392/4573]
[2393/4573]
[2394/4573]
[2395/4573]
[2397/4573]
[2398/4573]
[2399/4573]
[2400/4573]
[2401/4573]
[2402/4573]
[2403/4573]
[2404/4573]
[2405/4573]
[2406/4573]
[2407/4573]
[2408/4573]
[2409/4573]

[2410/4573]
[2411/4573]
[2413/4573]
[2414/4573]
[2415/4573]
[2416/4573]
[2417/4573]
[2418/4573]
[2419/4573]
[2420/4573]
[2421/4573]
[2422/4573]
[2423/4573]
[2424/4573]
[2425/4573]
[2426/4573]
[2427/4573]
[2428/4573]
[2429/4573]
[2430/4573]
[2431/4573]
[2432/4573]
[2433/4573]
[2434/4573]
[2435/4573]
[2436/4573]
[2437/4573]
[2438/4573]
[2439/4573]
[2440/4573]
[2441/4573]
[2442/4573]
[2443/4573]
[2444/4573]
[2445/4573]
[2446/4573]
[2447/4573]
[2449/4573]
[2450/4573]
[2451/4573]
[2452/4573]
[2453/4573]
[2454/4573]
[2455/4573]
[2456/4573]
[2457/4573]
[2458/4573]
[2459/4573]
[2460/4573]
[2461/4573]
[2462/4573]
[2463/4573]
[2464/4573]
[2465/4573]
[2466/4573]
[2467/4573]
[2468/4573]
[2469/4573]
[2470/4573]
[2471/4573]
[2472/4573]
[2473/4573]
[2474/4573]
[2475/4573]
[2476/4573]
[2477/4573]
[2478/4573]
[2479/4573]
[2480/4573]
[2481/4573]
[2482/4573]
[2483/4573]
[2484/4573]
[2485/4573]
[2486/4573]
[2487/4573]
[2488/4573]
[2489/4573]
[2490/4573]
[2491/4573]
[2492/4573]
[2493/4573]
[2494/4573]
[2495/4573]
[2496/4573]
[2497/4573]
[2498/4573]
[2499/4573]
[2500/4573]
[2501/4573]
[2502/4573]
[2503/4573]
[2504/4573]
[2506/4573]
[2507/4573]
[2508/4573]
[2509/4573]
[2510/4573]
[2511/4573]
[2512/4573]
[2513/4573]
[2514/4573]
[2515/4573]
[2516/4573]
[2517/4573]
[2518/4573]
[2519/4573]
[2520/4573]
[2522/4573]
[2523/4573]
[2524/4573]
[2525/4573]
[2526/4573]
[2527/4573]
[2528/4573]
[2529/4573]
[2530/4573]
[2532/4573]
[2533/4573]
[2534/4573]
[2535/4573]
[2536/4573]
[2537/4573]
[2538/4573]
[2539/4573]
[2541/4573]
[2542/4573]
[2544/4573]
[2545/4573]
[2546/4573]
[2547/4573]
[2548/4573]
[2550/4573]
[2551/4573]
[2552/4573]
[2554/4573]
[2555/4573]
[2556/4573]
[2557/4573]
[2558/4573]
[2559/4573]
[2560/4573]
[2561/4573]
[2562/4573]
[2563/4573]
[2564/4573]
[2566/4573]
[2567/4573]
[2568/4573]
[2569/4573]
[2570/4573]
[2571/4573]
[2572/4573]
[2573/4573]
[2574/4573]
[2575/4573]
[2576/4573]
[2579/4573]
[2580/4573]
[2581/4573]
[2582/4573]
[2583/4573]
[2584/4573]
[2585/4573]
[2586/4573]
[2588/4573]
[2589/4573]
[2590/4573]
[2591/4573]
[2592/4573]
[2593/4573]
[2594/4573]
[2595/4573]
[2596/4573]
[2597/4573]
[2598/4573]
[2599/4573]
[2600/4573]
[2601/4573]
[2602/4573]
[2603/4573]
[2604/4573]
[2605/4573]
[2607/4573]
[2608/4573]
[2609/4573]
[2610/4573]
[2611/4573]
[2613/4573]
[2614/4573]
[2615/4573]
[2617/4573]
[2618/4573]
[2619/4573]
[2621/4573]
[2622/4573]
[2623/4573]
[2624/4573]
[2625/4573]
[2626/4573]
[2627/4573]
[2628/4573]
[2629/4573]
[2631/4573]
[2633/4573]
[2634/4573]
[2635/4573]
[2636/4573]
[2637/4573]
[2638/4573]
[2639/4573]
[2640/4573]
[2641/4573]
[2642/4573]
[2644/4573]
[2645/4573]
[2646/4573]
[2647/4573]
[2648/4573]
[2649/4573]
[2651/4573]
[2652/4573]
[2653/4573]
[2654/4573]
[2655/4573]
[2656/4573]
[2657/4573]
[2658/4573]
[2659/4573]
[2660/4573]
[2661/4573]
[2662/4573]
[2663/4573]
[2664/4573]
[2665/4573]
[2666/4573]
[2667/4573]
[2668/4573]
[2669/4573]
[2670/4573]
[2671/4573]
[2672/4573]
[2673/4573]
[2674/4573]
[2675/4573]
[2676/4573]
[2677/4573]
[2678/4573]
[2679/4573]
[2680/4573]
[2681/4573]
[2682/4573]
[2683/4573]
[2684/4573]
[2685/4573]
[2686/4573]
[2687/4573]
[2688/4573]
[2689/4573]
[2690/4573]
[2691/4573]
[2692/4573]
[2693/4573]
[2694/4573]
[2695/4573]
[2696/4573]
[2697/4573]
[2698/4573]
[2700/4573]
[2701/4573]
[2702/4573]
[2703/4573]
[2704/4573]
[2705/4573]
[2706/4573]
[2707/4573]
[2708/4573]
[2709/4573]
[2710/4573]
[2711/4573]
[2712/4573]
[2713/4573]
[2714/4573]
[2715/4573]
[2716/4573]
[2717/4573]
[2718/4573]
[2719/4573]
[2720/4573]
[2721/4573]
[2722/4573]
[2723/4573]
[2724/4573]
[2725/4573]
[2726/4573]
[2727/4573]
[2728/4573]
[2729/4573]
[2731/4573]
[2732/4573]
[2733/4573]
[2734/4573]
[2735/4573]
[2736/4573]
[2737/4573]
[2738/4573]
[2740/4573]
[2741/4573]
[2742/4573]
[2743/4573]
[2744/4573]
[2745/4573]
[2746/4573]
[2748/4573]
[2749/4573]
[2750/4573]
[2751/4573]
[2752/4573]
[2754/4573]
[2755/4573]
[2756/4573]
[2757/4573]
[2758/4573]
[2759/4573]
[2760/4573]
[2761/4573]
[2762/4573]
[2763/4573]
[2764/4573]
[2765/4573]
[2766/4573]
[2767/4573]
[2768/4573]
[2771/4573]
[2772/4573]
[2773/4573]
[2774/4573]
[2775/4573]
[2777/4573]
[2778/4573]
[2779/4573]
[2780/4573]
[2781/4573]
[2782/4573]
[2783/4573]
[2784/4573]
[2785/4573]
[2786/4573]
[2787/4573]
[2788/4573]
[2789/4573]
[2790/4573]
[2791/4573]
[2792/4573]
[2794/4573]
[2796/4573]
[2797/4573]
[2800/4573]
[2802/4573]
[2803/4573]
[2804/4573]
[2805/4573]
[2806/4573]
[2807/4573]
[2808/4573]
[2809/4573]
[2810/4573]
[2811/4573]
[2812/4573]
[2813/4573]
[2814/4573]
[2815/4573]
[2816/4573]
[2817/4573]
[2818/4573]
[2819/4573]
[2820/4573]
[2821/4573]
[2822/4573]
[2824/4573]
[2825/4573]
[2826/4573]
[2827/4573]
[2828/4573]
[2829/4573]
[2830/4573]
[2831/4573]
[2833/4573]
[2834/4573]
[2835/4573]
[2836/4573]
[2837/4573]
[2838/4573]
[2839/4573]
[2841/4573]
[2843/4573]
[2844/4573]
[2846/4573]
[2847/4573]
[2849/4573]
[2851/4573]
[2852/4573]
[2853/4573]
[2854/4573]
[2855/4573]
[2856/4573]
[2857/4573]
[2858/4573]
[2859/4573]
[2860/4573]
[2861/4573]
[2862/4573]
[2863/4573]
[2864/4573]
[2865/4573]
[2866/4573]
[2867/4573]
[2868/4573]
[2869/4573]
[2870/4573]
[2871/4573]
[2872/4573]
[2873/4573]
[2874/4573]
[2875/4573]
[2877/4573]
[2878/4573]
[2881/4573]
[2883/4573]
[2884/4573]
[2885/4573]
[2886/4573]
[2887/4573]
[2888/4573]
[2890/4573]
[2891/4573]
[2892/4573]
[2893/4573]
[2894/4573]
[2895/4573]
[2896/4573]
[2897/4573]
[2898/4573]
[2899/4573]
[2900/4573]
[2901/4573]
[2902/4573]
[2904/4573]
[2906/4573]
[2907/4573]
[2908/4573]
[2909/4573]
[2910/4573]
[2911/4573]
[2912/4573]
[2913/4573]
[2914/4573]
[2916/4573]
[2917/4573]
[2918/4573]
[2919/4573]
[2920/4573]
[2921/4573]
[2922/4573]
[2923/4573]
[2924/4573]
[2925/4573]
[2927/4573]
[2928/4573]
[2929/4573]
[2930/4573]
[2931/4573]
[2932/4573]
[2934/4573]
[2935/4573]
[2936/4573]
[2937/4573]
[2938/4573]
[2939/4573]
[2941/4573]
[2942/4573]
[2943/4573]
[2944/4573]
[2945/4573]
[2946/4573]
[2947/4573]
[2948/4573]
[2949/4573]
[2950/4573]
[2951/4573]
[2953/4573]
[2954/4573]
[2955/4573]
[2956/4573]
[2957/4573]
[2958/4573]
[2959/4573]
[2960/4573]
[2961/4573]
[2962/4573]
[2963/4573]
[2966/4573]
[2967/4573]
[2968/4573]
[2969/4573]
[2970/4573]
[2971/4573]
[2972/4573]
[2973/4573]
[2974/4573]
[2975/4573]
[2976/4573]
[2977/4573]
[2978/4573]
[2979/4573]
[2980/4573]
[2982/4573]
[2983/4573]
[2984/4573]
[2985/4573]
[2986/4573]
[2987/4573]
[2988/4573]
[2989/4573]
[2990/4573]
[2992/4573]
[2993/4573]
[2995/4573]
[2996/4573]
[2997/4573]
[2998/4573]
[3001/4573]
[3002/4573]
[3003/4573]
[3004/4573]
[3005/4573]
[3006/4573]
[3007/4573]
[3008/4573]
[3009/4573]
[3010/4573]
[3011/4573]
[3012/4573]
[3013/4573]
[3014/4573]
[3015/4573]
[3016/4573]
[3017/4573]
[3018/4573]
[3020/4573]
[3021/4573]
[3022/4573]
[3023/4573]
[3024/4573]
[3025/4573]
[3026/4573]
[3028/4573]
[3029/4573]
[3030/4573]
[3031/4573]
[3032/4573]
[3033/4573]
[3034/4573]
[3035/4573]
[3036/4573]
[3037/4573]
[3038/4573]
[3039/4573]
[3041/4573]
[3042/4573]
[3043/4573]
[3044/4573]
[3045/4573]
[3046/4573]
[3047/4573]
[3048/4573]
[3051/4573]
[3052/4573]
[3053/4573]
[3054/4573]
[3055/4573]
[3057/4573]
[3058/4573]
[3059/4573]
[3060/4573]
[3061/4573]
[3062/4573]
[3063/4573]
[3064/4573]
[3065/4573]
[3066/4573]
[3067/4573]
[3068/4573]
[3070/4573]
[3071/4573]
[3072/4573]
[3073/4573]
[3075/4573]
[3076/4573]
[3077/4573]
[3078/4573]
[3079/4573]
[3081/4573]
[3082/4573]
[3083/4573]
[3084/4573]
[3085/4573]
[3086/4573]
[3087/4573]
[3088/4573]
[3089/4573]
[3090/4573]
[3091/4573]
[3092/4573]
[3093/4573]
[3094/4573]
[3095/4573]
[3096/4573]
[3097/4573]
[3099/4573]
[3100/4573]
[3101/4573]
[3102/4573]
[3103/4573]
[3104/4573]
[3105/4573]
[3106/4573]
[3107/4573]
[3109/4573]
[3110/4573]
[3111/4573]
[3114/4573]
[3115/4573]
[3116/4573]
[3117/4573]
[3118/4573]
[3119/4573]
[3120/4573]
[3122/4573]
[3123/4573]
[3125/4573]
[3126/4573]
[3127/4573]
[3128/4573]
[3129/4573]
[3130/4573]
[3131/4573]
[3132/4573]
[3134/4573]
[3135/4573]
[3136/4573]
[3138/4573]
[3139/4573]
[3140/4573]
[3141/4573]
[3142/4573]
[3143/4573]
[3144/4573]
[3145/4573]
[3146/4573]
[3147/4573]
[3148/4573]
[3149/4573]
[3150/4573]
[3151/4573]
[3152/4573]
[3154/4573]
[3155/4573]
[3156/4573]
[3157/4573]
[3158/4573]
[3159/4573]
[3160/4573]
[3161/4573]
[3162/4573]
[3163/4573]
[3164/4573]
[3165/4573]
[3166/4573]
[3167/4573]
[3168/4573]
[3169/4573]
[3170/4573]

[3171/4573]
[3172/4573]
[3174/4573]
[3175/4573]
[3176/4573]
[3177/4573]
[3178/4573]
[3179/4573]
[3180/4573]
[3182/4573]
[3183/4573]
[3184/4573]
[3185/4573]
[3186/4573]
[3187/4573]
[3188/4573]
[3189/4573]
[3190/4573]
[3191/4573]
[3192/4573]
[3193/4573]
[3194/4573]
[3195/4573]
[3196/4573]
[3197/4573]
[3198/4573]
[3199/4573]
[3200/4573]
[3201/4573]
[3202/4573]
[3203/4573]
[3204/4573]
[3205/4573]
[3206/4573]
[3207/4573]
[3208/4573]
[3209/4573]
[3210/4573]
[3211/4573]
[3212/4573]
[3213/4573]
[3214/4573]
[3216/4573]
[3217/4573]
[3218/4573]
[3219/4573]
[3220/4573]
[3221/4573]
[3222/4573]
[3223/4573]
[3224/4573]
[3225/4573]
[3226/4573]
[3227/4573]
[3228/4573]
[3229/4573]
[3230/4573]
[3231/4573]
[3232/4573]
[3234/4573]
[3235/4573]
[3236/4573]
[3237/4573]
[3238/4573]
[3239/4573]
[3241/4573]
[3242/4573]
[3243/4573]
[3244/4573]
[3245/4573]
[3246/4573]
[3248/4573]
[3249/4573]
[3250/4573]
[3251/4573]
[3252/4573]
[3253/4573]
[3254/4573]
[3255/4573]
[3256/4573]
[3257/4573]
[3258/4573]
[3259/4573]
[3260/4573]
[3262/4573]
[3263/4573]
[3264/4573]
[3265/4573]
[3266/4573]
[3267/4573]
[3268/4573]
[3269/4573]
[3270/4573]
[3271/4573]
[3272/4573]
[3273/4573]
[3274/4573]
[3275/4573]
[3276/4573]
[3277/4573]
[3278/4573]
[3279/4573]
[3280/4573]
[3281/4573]
[3282/4573]
[3283/4573]
[3284/4573]
[3285/4573]
[3286/4573]
[3287/4573]
[3288/4573]
[3289/4573]
[3290/4573]
[3291/4573]
[3292/4573]
[3293/4573]
[3294/4573]
[3295/4573]
[3296/4573]
[3297/4573]
[3298/4573]
[3299/4573]
[3300/4573]
[3301/4573]
[3302/4573]
[3303/4573]
[3304/4573]
[3305/4573]
[3306/4573]
[3307/4573]
[3308/4573]
[3309/4573]
[3310/4573]
[3311/4573]
[3312/4573]
[3313/4573]
[3314/4573]
[3315/4573]
[3316/4573]
[3317/4573]
[3318/4573]
[3319/4573]
[3320/4573]
[3321/4573]
[3322/4573]
[3323/4573]
[3324/4573]
[3325/4573]
[3326/4573]
[3327/4573]
[3328/4573]
[3329/4573]
[3330/4573]
[3331/4573]
[3332/4573]
[3333/4573]
[3334/4573]
[3335/4573]
[3336/4573]
[3337/4573]
[3338/4573]
[3339/4573]
[3340/4573]
[3341/4573]
[3342/4573]
[3343/4573]
[3344/4573]
[3345/4573]
[3346/4573]
[3347/4573]
[3348/4573]
[3349/4573]
[3350/4573]
[3351/4573]
[3352/4573]
[3353/4573]
[3354/4573]
[3355/4573]
[3356/4573]
[3357/4573]
[3358/4573]
[3359/4573]
[3360/4573]
[3361/4573]
[3362/4573]
[3363/4573]
[3364/4573]
[3365/4573]
[3366/4573]
[3367/4573]
[3368/4573]
[3369/4573]
[3370/4573]
[3371/4573]
[3372/4573]
[3373/4573]
[3374/4573]
[3375/4573]
[3376/4573]
[3377/4573]
[3378/4573]
[3379/4573]
[3380/4573]
[3381/4573]
[3382/4573]
[3383/4573]
[3384/4573]
[3385/4573]
[3386/4573]
[3387/4573]
[3388/4573]
[3389/4573]
[3390/4573]
[3391/4573]
[3392/4573]
[3393/4573]
[3394/4573]
[3395/4573]
[3396/4573]
[3397/4573]
[3398/4573]
[3399/4573]
[3400/4573]
[3401/4573]
[3402/4573]
[3403/4573]
[3404/4573]
[3405/4573]
[3407/4573]
[3408/4573]
[3409/4573]
[3410/4573]
[3411/4573]
[3412/4573]
[3413/4573]
[3414/4573]
[3415/4573]
[3416/4573]
[3417/4573]
[3418/4573]
[3419/4573]
[3420/4573]
[3421/4573]
[3422/4573]
[3423/4573]
[3424/4573]
[3425/4573]
[3426/4573]
[3427/4573]
[3429/4573]
[3430/4573]
[3432/4573]
[3433/4573]
[3434/4573]
[3435/4573]
[3436/4573]
[3437/4573]
[3438/4573]
[3439/4573]
[3440/4573]
[3441/4573]
[3442/4573]
[3443/4573]
[3444/4573]
[3445/4573]
[3446/4573]
[3447/4573]
[3448/4573]
[3449/4573]
[3450/4573]
[3451/4573]
[3452/4573]
[3453/4573]
[3454/4573]
[3455/4573]
[3456/4573]
[3457/4573]
[3458/4573]
[3459/4573]
[3460/4573]
[3461/4573]
[3462/4573]
[3463/4573]
[3464/4573]
[3465/4573]
[3466/4573]
[3467/4573]
[3468/4573]
[3470/4573]
[3471/4573]
[3473/4573]
[3474/4573]
[3475/4573]
[3476/4573]
[3477/4573]
[3478/4573]
[3479/4573]
[3480/4573]
[3481/4573]
[3482/4573]
[3483/4573]
[3484/4573]
[3485/4573]
[3486/4573]
[3487/4573]
[3488/4573]
[3489/4573]
[3490/4573]
[3491/4573]
[3492/4573]
[3493/4573]
[3494/4573]
[3496/4573]
[3497/4573]
[3498/4573]
[3499/4573]
[3500/4573]
[3501/4573]
[3502/4573]
[3503/4573]
[3504/4573]
[3505/4573]
[3506/4573]
[3507/4573]
[3508/4573]
[3509/4573]
[3510/4573]
[3511/4573]
[3512/4573]
[3513/4573]
[3514/4573]
[3515/4573]
[3518/4573]
[3519/4573]
[3520/4573]
[3521/4573]
[3523/4573]
[3524/4573]
[3525/4573]
[3526/4573]
[3527/4573]
[3528/4573]
[3529/4573]
[3530/4573]
[3531/4573]
[3532/4573]
[3533/4573]
[3534/4573]
[3535/4573]
[3536/4573]
[3537/4573]
[3538/4573]
[3539/4573]
[3541/4573]
[3542/4573]
[3543/4573]
[3544/4573]
[3545/4573]
[3546/4573]
[3547/4573]
[3548/4573]
[3549/4573]
[3550/4573]
[3551/4573]
[3552/4573]
[3553/4573]
[3554/4573]
[3556/4573]
[3557/4573]
[3558/4573]
[3559/4573]
[3560/4573]
[3561/4573]
[3562/4573]
[3563/4573]
[3564/4573]
[3565/4573]
[3566/4573]
[3567/4573]
[3568/4573]
[3569/4573]
[3570/4573]
[3571/4573]
[3572/4573]
[3573/4573]
[3574/4573]
[3575/4573]
[3576/4573]
[3577/4573]
[3578/4573]
[3579/4573]
[3580/4573]
[3581/4573]
[3582/4573]
[3583/4573]
[3584/4573]
[3585/4573]
[3586/4573]
[3587/4573]
[3588/4573]
[3589/4573]
[3590/4573]
[3591/4573]
[3592/4573]
[3593/4573]
[3594/4573]
[3595/4573]
[3596/4573]
[3597/4573]
[3598/4573]
[3599/4573]
[3600/4573]
[3601/4573]
[3602/4573]
[3603/4573]
[3604/4573]
[3606/4573]
[3607/4573]
[3608/4573]
[3609/4573]
[3610/4573]
[3611/4573]
[3612/4573]
[3613/4573]
[3614/4573]
[3615/4573]
[3616/4573]
[3617/4573]
[3619/4573]
[3620/4573]
[3621/4573]
[3622/4573]
[3623/4573]
[3624/4573]
[3625/4573]
[3626/4573]
[3627/4573]
[3628/4573]
[3629/4573]
[3630/4573]
[3631/4573]
[3632/4573]
[3633/4573]
[3634/4573]
[3635/4573]
[3636/4573]
[3637/4573]
[3638/4573]
[3639/4573]
[3640/4573]
[3641/4573]
[3642/4573]
[3643/4573]
[3644/4573]
[3645/4573]
[3646/4573]
[3647/4573]
[3648/4573]
[3649/4573]
[3650/4573]
[3652/4573]
[3653/4573]
[3654/4573]
[3655/4573]
[3656/4573]
[3657/4573]
[3658/4573]
[3659/4573]
[3660/4573]
[3661/4573]
[3662/4573]
[3663/4573]
[3664/4573]
[3665/4573]
[3666/4573]
[3667/4573]
[3668/4573]
[3670/4573]
[3671/4573]
[3672/4573]
[3673/4573]
[3674/4573]
[3675/4573]
[3676/4573]
[3677/4573]
[3678/4573]
[3679/4573]
[3680/4573]
[3681/4573]
[3682/4573]
[3683/4573]
[3684/4573]
[3685/4573]
[3686/4573]
[3687/4573]
[3688/4573]
[3689/4573]
[3690/4573]
[3691/4573]
[3692/4573]
[3693/4573]
[3694/4573]
[3695/4573]
[3696/4573]
[3697/4573]
[3698/4573]
[3699/4573]
[3700/4573]
[3701/4573]
[3702/4573]
[3703/4573]
[3704/4573]
[3705/4573]
[3707/4573]
[3708/4573]
[3709/4573]
[3710/4573]
[3711/4573]
[3712/4573]
[3713/4573]
[3714/4573]
[3715/4573]
[3716/4573]
[3717/4573]
[3718/4573]
[3719/4573]
[3720/4573]
[3722/4573]
[3723/4573]
[3724/4573]
[3725/4573]
[3726/4573]
[3727/4573]
[3728/4573]
[3729/4573]
[3731/4573]
[3732/4573]
[3733/4573]
[3734/4573]
[3735/4573]
[3736/4573]
[3738/4573]
[3739/4573]
[3740/4573]
[3741/4573]
[3742/4573]
[3743/4573]
[3744/4573]
[3745/4573]
[3746/4573]
[3747/4573]
[3748/4573]
[3749/4573]
[3750/4573]
[3751/4573]
[3752/4573]
[3753/4573]
[3754/4573]
[3755/4573]
[3756/4573]
[3757/4573]
[3759/4573]
[3760/4573]
[3761/4573]
[3762/4573]
[3765/4573]
[3766/4573]
[3767/4573]
[3768/4573]
[3769/4573]
[3770/4573]
[3771/4573]
[3772/4573]
[3773/4573]
[3775/4573]
[3776/4573]
[3777/4573]
[3778/4573]
[3779/4573]
[3780/4573]
[3781/4573]
[3782/4573]
[3783/4573]
[3784/4573]
[3785/4573]
[3786/4573]
[3787/4573]
[3790/4573]
[3791/4573]
[3792/4573]
[3793/4573]
[3794/4573]
[3795/4573]
[3796/4573]
[3797/4573]
[3800/4573]
[3801/4573]
[3802/4573]
[3803/4573]
[3805/4573]
[3806/4573]
[3807/4573]
[3808/4573]
[3809/4573]
[3810/4573]
[3811/4573]
[3812/4573]
[3813/4573]
[3814/4573]
[3815/4573]
[3816/4573]
[3817/4573]
[3818/4573]
[3819/4573]
[3820/4573]
[3821/4573]
[3822/4573]
[3823/4573]
[3824/4573]
[3825/4573]
[3826/4573]
[3827/4573]
[3828/4573]
[3829/4573]
[3830/4573]
[3831/4573]
[3832/4573]
[3834/4573]
[3835/4573]
[3836/4573]
[3837/4573]
[3838/4573]
[3839/4573]
[3840/4573]
[3841/4573]
[3842/4573]
[3843/4573]
[3844/4573]
[3845/4573]
[3847/4573]
[3849/4573]
[3850/4573]
[3851/4573]
[3853/4573]
[3854/4573]
[3855/4573]
[3856/4573]
[3857/4573]
[3858/4573]
[3860/4573]
[3861/4573]
[3862/4573]
[3864/4573]
[3865/4573]
[3866/4573]
[3867/4573]
[3868/4573]
[3869/4573]
[3870/4573]
[3871/4573]
[3872/4573]
[3875/4573]
[3876/4573]
[3877/4573]
[3878/4573]
[3881/4573]
[3882/4573]
[3883/4573]
[3885/4573]
[3886/4573]
[3887/4573]
[3888/4573]
[3889/4573]
[3890/4573]
[3891/4573]
[3892/4573]
[3893/4573]
[3894/4573]
[3895/4573]
[3896/4573]
[3897/4573]
[3898/4573]
[3899/4573]

[3900/4573]
[3901/4573]
[3902/4573]
[3903/4573]
[3904/4573]
[3905/4573]
[3906/4573]
[3907/4573]
[3908/4573]
[3910/4573]
[3911/4573]
[3912/4573]
[3914/4573]
[3915/4573]
[3916/4573]
[3917/4573]
[3918/4573]
[3919/4573]
[3920/4573]
[3921/4573]
[3922/4573]
[3923/4573]
[3924/4573]
[3926/4573]
[3927/4573]
[3928/4573]
[3929/4573]
[3930/4573]
[3931/4573]
[3932/4573]
[3933/4573]
[3934/4573]
[3935/4573]
[3936/4573]
[3937/4573]
[3938/4573]
[3939/4573]
[3940/4573]
[3941/4573]
[3942/4573]
[3943/4573]
[3944/4573]
[3946/4573]
[3947/4573]
[3948/4573]
[3949/4573]
[3950/4573]
[3951/4573]
[3952/4573]
[3953/4573]
[3954/4573]
[3955/4573]
[3956/4573]
[3957/4573]
[3958/4573]
[3959/4573]
[3960/4573]
[3961/4573]
[3962/4573]
[3963/4573]
[3964/4573]
[3965/4573]
[3966/4573]
[3967/4573]
[3968/4573]
[3969/4573]
[3971/4573]
[3972/4573]
[3974/4573]
[3976/4573]
[3978/4573]
[3980/4573]
[3981/4573]
[3982/4573]
[3983/4573]
[3984/4573]
[3985/4573]
[3986/4573]
[3988/4573]
[3989/4573]
[3990/4573]
[3991/4573]
[3992/4573]
[3993/4573]
[3995/4573]
[3996/4573]
[3998/4573]
[3999/4573]
[4000/4573]
[4001/4573]
[4002/4573]
[4003/4573]
[4004/4573]
[4005/4573]
[4006/4573]
[4008/4573]
[4009/4573]
[4010/4573]
[4011/4573]
[4012/4573]
[4013/4573]
[4014/4573]
[4015/4573]
[4016/4573]
[4017/4573]
[4018/4573]
[4019/4573]
[4021/4573]
[4022/4573]
[4023/4573]
[4024/4573]
[4025/4573]
[4026/4573]
[4027/4573]
[4028/4573]
[4029/4573]
[4030/4573]
[4032/4573]
[4033/4573]
[4034/4573]
[4035/4573]
[4036/4573]
[4037/4573]
[4038/4573]
[4039/4573]
[4040/4573]
[4041/4573]
[4042/4573]
[4043/4573]
[4044/4573]
[4045/4573]
[4046/4573]
[4047/4573]
[4048/4573]
[4049/4573]
[4050/4573]
[4051/4573]
[4052/4573]
[4053/4573]
[4054/4573]
[4055/4573]
[4056/4573]
[4057/4573]
[4058/4573]
[4059/4573]
[4060/4573]
[4061/4573]
[4063/4573]
[4064/4573]
[4065/4573]
[4066/4573]
[4067/4573]
[4068/4573]
[4069/4573]
[4071/4573]
[4072/4573]
[4073/4573]
[4074/4573]
[4075/4573]
[4076/4573]
[4077/4573]
[4078/4573]
[4079/4573]
[4080/4573]
[4081/4573]
[4082/4573]
[4083/4573]
[4084/4573]
[4085/4573]
[4086/4573]
[4088/4573]
[4089/4573]
[4090/4573]
[4091/4573]
[4092/4573]
[4093/4573]
[4094/4573]
[4095/4573]
[4096/4573]
[4097/4573]
[4098/4573]
[4099/4573]
[4100/4573]
[4101/4573]
[4102/4573]
[4103/4573]
[4104/4573]
[4105/4573]
[4106/4573]
[4107/4573]
[4108/4573]
[4109/4573]
[4111/4573]
[4112/4573]
[4114/4573]
[4115/4573]
[4116/4573]
[4117/4573]
[4119/4573]
[4120/4573]
[4121/4573]
[4122/4573]
[4123/4573]
[4124/4573]
[4125/4573]
[4126/4573]
[4127/4573]
[4128/4573]
[4129/4573]
[4130/4573]
[4131/4573]
[4132/4573]
[4133/4573]
[4135/4573]
[4136/4573]
[4137/4573]
[4138/4573]
[4139/4573]
[4140/4573]
[4141/4573]
[4142/4573]
[4143/4573]
[4144/4573]
[4145/4573]
[4146/4573]
[4147/4573]
[4149/4573]
[4150/4573]
[4151/4573]
[4152/4573]
[4153/4573]
[4154/4573]
[4155/4573]
[4156/4573]
[4157/4573]
[4158/4573]
[4159/4573]
[4160/4573]
[4161/4573]
[4162/4573]
[4163/4573]
[4164/4573]
[4165/4573]
[4166/4573]
[4167/4573]
[4168/4573]
[4169/4573]
[4171/4573]
[4172/4573]
[4173/4573]
[4174/4573]
[4175/4573]
[4176/4573]
[4177/4573]
[4178/4573]
[4179/4573]
[4180/4573]
[4181/4573]
[4182/4573]
[4183/4573]
[4184/4573]
[4185/4573]
[4186/4573]
[4187/4573]
[4188/4573]
[4189/4573]
[4190/4573]
[4192/4573]
[4193/4573]
[4196/4573]
[4197/4573]
[4198/4573]
[4199/4573]
[4200/4573]
[4201/4573]
[4202/4573]
[4203/4573]
[4204/4573]
[4205/4573]
[4206/4573]
[4207/4573]
[4208/4573]
[4209/4573]
[4210/4573]
[4211/4573]
[4212/4573]
[4213/4573]
[4214/4573]
[4215/4573]
[4216/4573]
[4217/4573]
[4218/4573]
[4219/4573]
[4220/4573]
[4221/4573]
[4222/4573]
[4223/4573]
[4225/4573]
[4226/4573]
[4227/4573]
[4228/4573]
[4229/4573]
[4230/4573]
[4231/4573]
[4232/4573]
[4233/4573]
[4234/4573]
[4236/4573]
[4237/4573]
[4238/4573]
[4239/4573]
[4240/4573]
[4241/4573]
[4242/4573]
[4243/4573]
[4244/4573]
[4245/4573]
[4247/4573]
[4248/4573]
[4249/4573]
[4250/4573]
[4251/4573]
[4252/4573]
[4253/4573]
[4254/4573]
[4255/4573]
[4256/4573]
[4257/4573]
[4258/4573]
[4259/4573]
[4260/4573]
[4262/4573]
[4263/4573]
[4264/4573]
[4265/4573]
[4266/4573]
[4267/4573]
[4268/4573]
[4269/4573]
[4270/4573]
[4271/4573]
[4272/4573]
[4273/4573]
[4274/4573]
[4275/4573]
[4276/4573]
[4277/4573]
[4278/4573]
[4279/4573]
[4280/4573]
[4281/4573]
[4282/4573]
[4284/4573]
[4285/4573]
[4286/4573]
[4287/4573]
[4288/4573]
[4289/4573]
[4290/4573]
[4291/4573]
[4292/4573]
[4293/4573]
[4294/4573]
[4295/4573]
[4296/4573]
[4297/4573]
[4298/4573]
[4299/4573]
[4300/4573]
[4301/4573]
[4302/4573]
[4303/4573]
[4304/4573]
[4305/4573]
[4306/4573]
[4307/4573]
[4308/4573]
[4310/4573]
[4311/4573]
[4312/4573]
[4313/4573]
[4314/4573]
[4315/4573]
[4316/4573]
[4317/4573]
[4318/4573]
[4319/4573]
[4320/4573]
[4322/4573]
[4323/4573]
[4324/4573]
[4325/4573]
[4327/4573]
[4328/4573]
[4329/4573]
[4330/4573]
[4331/4573]
[4332/4573]
[4333/4573]
[4334/4573]
[4335/4573]
[4336/4573]
[4338/4573]
[4339/4573]
[4340/4573]
[4341/4573]
[4342/4573]
[4343/4573]
[4345/4573]
[4346/4573]
[4347/4573]
[4348/4573]
[4349/4573]
[4350/4573]
[4351/4573]
[4352/4573]
[4353/4573]
[4354/4573]
[4355/4573]
[4356/4573]
[4357/4573]
[4358/4573]
[4359/4573]
[4360/4573]
[4361/4573]
[4362/4573]
[4363/4573]
[4365/4573]
[4366/4573]
[4367/4573]
[4368/4573]
[4369/4573]
[4370/4573]
[4371/4573]
[4372/4573]
[4373/4573]
[4374/4573]
[4375/4573]
[4376/4573]
[4377/4573]
[4378/4573]
[4379/4573]
[4380/4573]
[4381/4573]
[4382/4573]
[4383/4573]
[4384/4573]
[4385/4573]
[4386/4573]
[4387/4573]
[4388/4573]
[4389/4573]
[4390/4573]
[4391/4573]
[4393/4573]
[4395/4573]
[4396/4573]
[4397/4573]
[4399/4573]
[4400/4573]
[4401/4573]
[4402/4573]
[4403/4573]
[4404/4573]
[4405/4573]
[4406/4573]
[4407/4573]
[4408/4573]
[4409/4573]
[4410/4573]
[4411/4573]
[4412/4573]
[4413/4573]
[4414/4573]
[4415/4573]
[4416/4573]
[4417/4573]
[4418/4573]
[4419/4573]
[4420/4573]
[4421/4573]
[4423/4573]
[4425/4573]
[4426/4573]
[4427/4573]
[4428/4573]
[4429/4573]
[4430/4573]
[4431/4573]
[4432/4573]
[4433/4573]
[4434/4573]
[4435/4573]
[4436/4573]
[4437/4573]
[4438/4573]
[4440/4573]
[4441/4573]
[4442/4573]
[4444/4573]
[4445/4573]
[4446/4573]
[4447/4573]
[4448/4573]
[4449/4573]
[4450/4573]
[4451/4573]
[4452/4573]
[4453/4573]
[4454/4573]
[4455/4573]
[4457/4573]
[4458/4573]
[4459/4573]
[4461/4573]
[4462/4573]
[4463/4573]
[4464/4573]
[4465/4573]
[4466/4573]
[4467/4573]
[4468/4573]
[4469/4573]
[4470/4573]
[4471/4573]
[4472/4573]
[4473/4573]
[4474/4573]
[4475/4573]
[4476/4573]
[4477/4573]
[4478/4573]
[4479/4573]
[4480/4573]
[4481/4573]
[4482/4573]
[4484/4573]
[4485/4573]
[4486/4573]
[4488/4573]
[4489/4573]
[4490/4573]
[4491/4573]
[4493/4573]
[4494/4573]
[4495/4573]
[4496/4573]
[4498/4573]
[4499/4573]
[4500/4573]
[4501/4573]
[4502/4573]
[4503/4573]
[4505/4573]
[4506/4573]
[4507/4573]
[4508/4573]
[4510/4573]
[4511/4573]
[4512/4573]
[4513/4573]
[4514/4573]
[4515/4573]
[4516/4573]
[4517/4573]
[4518/4573]
[4519/4573]
[4520/4573]
[4521/4573]
[4522/4573]
[4523/4573]
[4524/4573]
[4525/4573]
[4526/4573]
[4527/4573]
[4528/4573]
[4529/4573]
[4531/4573]
[4532/4573]
[4533/4573]
[4534/4573]
[4535/4573]
[4536/4573]
[4537/4573]
[4538/4573]
[4539/4573]
[4540/4573]
[4541/4573]
[4542/4573]
[4544/4573]
[4545/4573]
[4546/4573]
[4547/4573]
[4548/4573]
[4549/4573]
[4550/4573]
[4551/4573]
[4553/4573]
[4554/4573]
[4555/4573]
[4556/4573]
[4558/4573]
[4559/4573]
[4560/4573]
[4561/4573]
[4562/4573]
[4563/4573]
[4564/4573]
[4565/4573]
[4566/4573]
[4567/4573]
[4568/4573]
[4569/4573]
[4570/4573]
[4571/4573]
[4572/4573]

In [53]:
universities_finalized.head()

,id,name,rank,city_id,image
0,0,Kent State University College Of Aeronautics A...,NULL,NULL,https://keystoneacademic-res.cloudinary.com/im...
1,1,Manderson Graduate School Of Business The Univ...,NULL,NULL,https://keystoneacademic-res.cloudinary.com/im...
2,2,University Of Argentinian Social Studies,NULL,NULL,https://keystoneacademic-res.cloudinary.com/im...
3,3,Em Normandie Business School,NULL,NULL,https://keystoneacademic-res.cloudinary.com/im...
4,4,Izmir University Of Economics,NULL,810.0,https://keystoneacademic-res.cloudinary.com/im...

In [54]:
universities_finalized["image"].loc[3]

'https://keystoneacademic-res.cloudinary.com/image/upload/a_0/e_trim:10:white/f_auto,q_auto,h_56/element/97/97587_thumb.jpg'

In [55]:
# there may be some duplicate in the universities data we need to drop duplicate

universities = universities_finalized.drop_duplicates(subset=['name'])

In [62]:

# we need to reset index and id column
universities_no_id      = universities.drop(['id'], axis=1)
universities_with_index = universities_no_id.reset_index()
universities_no_index   = universities_with_index.drop(['index'], axis=1)
universities_with_new_index = universities_no_index.reset_index()

universities = universities_with_new_index.rename(columns={'index': 'id'})

In [63]:
universities.head()

,id,name,rank,city_id,image
0,0,Kent State University College Of Aeronautics A...,NULL,NULL,https://keystoneacademic-res.cloudinary.com/im...
1,1,Manderson Graduate School Of Business The Univ...,NULL,NULL,https://keystoneacademic-res.cloudinary.com/im...
2,2,University Of Argentinian Social Studies,NULL,NULL,https://keystoneacademic-res.cloudinary.com/im...
3,3,Em Normandie Business School,NULL,NULL,https://keystoneacademic-res.cloudinary.com/im...
4,4,Izmir University Of Economics,NULL,810.0,https://keystoneacademic-res.cloudinary.com/im...

In [64]:
universities.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4360 entries, 0 to 4359
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   id       4360 non-null   int64
 1   name     4360 non-null   object
 2   rank     4360 non-null   object
 3   city_id  4360 non-null   object
 4   image    4360 non-null   object
dtypes: int64(1), object(4)
memory usage: 170.4+ KB

In [65]:
universities.to_csv("./final_version/universities_final.csv", index=False)